.accordion dd, .accordion__panel{
    
background-color: #fff;
    font-size: 30px;
    line-height: 1.5em;    
}
.main-content {
    font: 15px roboto;
    color: #616161;
}
.accordionTitle, .accordion__Heading {
    font-weight: 400;   
}
.dash-body .header .menu-logo {
    height: 82px;
    width: 270px;
    background: url(http://www.clickgarage.in/static/img/cg-logo-6.png) no-repeat;
    background-size: auto 100%;
}
.dash-body .header .right-items-holder a {
    text-decoration: none;
    font-family: Lato;
    color: #ffffff;
    font-size: 50px;
}
.dash-body .header .right-items-holder .menu-item {
    margin-right: 12px;
    height: 34px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 5px 6px;
    cursor: pointer;
    margin-top: 12px;
}