.sms-popup{    
    background:  rgba(0, 0, 0, 0.5);
    opacity: 1;
    position:absolute;
    top:0px;
    margin: 0px 0px;
    z-index:50;
    .white-area{
        width:50%;
        height:50%;
        margin: 50px auto;
        padding: 1% 1%;
        float: none;
        vertical-align: middle;
        z-index:100;
        background-color: #fff;
        select{
            display:block;
            width: 100%;
            margin: 5px 5px;
        }
        .sms-entry{
            .sms-content{
                width:78%;
                display: inline-block;
            }
            .send-button-div{
                width:20%;
                display: inline-block;
                .send-button{
                    vertical-align: middle;
                    margin-left: 1%;
                    height:100%;
                }
            }
        }
    }
}