.sms-popup{    
    background:  rgba(0, 0, 0, 0.5);
    opacity: 1;
    position:absolute;
    top:0px;
    margin: 0px 0px;
    z-index:50;
    width: 100%;
    .white-area{
        width:50%;
        height:50%;
        margin: 50px auto;
        padding: 1% 1%;
        float: none;
        vertical-align: middle;
        z-index:100;
        background-color: #fff;
        select{
            display:block;
            width: 100%;
            margin: 5px 5px;
        }
        .sms-entry{
            .sms-content{
                width:78%;
                display: inline-block;
            }
            .send-button-div{
                width:20%;
                display: inline-block;
                .send-button{
                    vertical-align: middle;
                    margin-left: 1%;
                    height:100%;
                }
            }
        }
        .first-sms{
            padding-top: 10px;
        }
    }
}
.add-trans-popup{
    width: 100%;
    background:  rgba(0, 0, 0, 0.5);
    opacity: 1;
    position:absolute;
    top:0px;
    margin: 0px 0px;
    z-index:50;
    .white-area{
				.address-form-holder{
					position: relative;
					width: 820px;
					margin: 0 auto;
					font-size: 0px;
					.mt6{
						margin-top: 6px;
					}
					.mt12{
						margin-top: 12px;
					}
					.mt16{
						margin-top: 16px;
					}
					.form-row{
						min-height: 32px;
						padding: 3px 0px;
						box-sizing: border-box;
						.label-div{
							margin-top:1px;
							line-height: 24px;
							min-width: 90px;
							vertical-align: top;
						}
					}
					.form-col{
						display: inline-block;
						font-size: 16px;
						width:30%;
//						height: 350px;
						vertical-align: top;
					}
					.form-col:nth-child(2), .form-col:nth-child(3){
						margin-left: 5%;
					}
					.form-col.halver{
						width:49%
					}
					.form-col.athird{
						width:33%
					}
					.label-div{
                      font-size: 14px;
                      margin: 0 auto;
						display: block;
						width: 180px;
                      text-align: center;
                      line-height: 18px;
                      height: 38px;
					}
					.clean-inp-cbox{
						vertical-align: top;
					}
					.clean-inp-wrapper{
                      margin: 0 auto;
                      display: inline-block;
                      width: 180px;
                      display: -webkit-flex;
                      display: -ms-flexbox;
                      display: flex;
                      position: relative;
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                      padding: 2px 2px 12px;
						.clean-inp-tabox, .clean-inp-tbox{
							width: 100%;
						}
					  	.txtbox{
//						   border: 2px solid lightgrey;
//							-webkit-box-shadow:
//							  inset 0 0 4px  rgba(0,0,0,0.1),
//									0 0 8px rgba(0,0,0,0.1);
//							-moz-box-shadow:
//							  inset 0 0 4px  rgba(0,0,0,0.1),
//									0 0 8px rgba(0,0,0,0.1);
//							box-shadow:
//							  inset 0 0 4px  rgba(0,0,0,0.1),
//									0 0 8px rgba(0,0,0,0.1);
//							padding: 5px;
//							background: rgba(255,255,255,0.5);
//							margin: 0 0 5px 0;
						}
                      label{
                        position: relative;
                        top: -2px;
                        -webkit-order: 1;
                        -ms-flex-order: 1;
                        order: 1;
                        pointer-events: none;
                        -webkit-font-smoothing: antialiased;
                        padding-left: 2px;
                        z-index: 1;
                        -webkit-transform: translate3d(0,28px,0) scale(1);
                        transform: translate3d(0,28px,0) scale(1);
                        transition: -webkit-transform cubic-bezier(0.25,.8,.25,1) .25s;
                        transition: transform cubic-bezier(0.25,.8,.25,1) .25s;
                        -webkit-transform-origin: left top;
                        transform-origin: left top;
                      }
                      .clean-inp-tbox:focus{
                    outline: 0;
                      }
                      .clean-inp-tbox:not(:focus){
                    color:transparent;
                      }
                      .clean-inp-tbox{
                        font-size: 14px;
                        -webkit-order: 2;
                        -ms-flex-order: 2;
                        order: 2;
                        display: block;
                        margin-top: auto;
                        background: 0 0;
                        padding: 2px 2px 1px;
                        border-width: 0 0 1px;
                        line-height: 26px;
                        -ms-flex-preferred-size: 26px;
                        border-radius: 0;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                      }
					}
                    .clean-inp-wrapper.input-focused{
                    label{
                      -webkit-transform: translate3d(0,6px,0) scale(0.75);
                      transform: translate3d(0,6px,0) scale(0.75);
                      color: #4a148c;
                    }
                    .clean-inp-tbox{
                      color:#333;
                    }

                  }
					.form-col.disabled{
						pointer-events: none;
						opacity: 0.0;
					}
				}

        .fix_form{
            //height:455px;
        }
        .select-service{
            padding-top: 100px;
        }
        
        width:70%;
        height:50%;
        margin: 50px auto;
        padding: 1% 1%;
        float: none;
        vertical-align: middle;
        z-index:100;
        background-color: #fff;
        select{
            display:block;
            width: 100%;
            margin: 5px 5px;
        }
        .sms-entry{
            .sms-content{
                width:78%;
                display: inline-block;
            }
            .send-button-div{
                width:20%;
                display: inline-block;
                .send-button{
                    vertical-align: middle;
                    margin-left: 1%;
                    height:100%;
                }
            }
        }
        .first-sms{
            padding-top: 10px;
        }


    }
}
.add-coupon-popup{
    width: 100%;
    background:  rgba(0, 0, 0, 0.5);
    opacity: 1;
    position:absolute;
    top:0px;
    margin: 0px 0px;
    z-index:50;
    .white-area{
        width:50%;
        height:50%;
        margin: 50px auto;
        padding: 1% 1%;
        float: none;
        vertical-align: middle;
        z-index:100;
        background-color: #fff;
        .coupon-form-holder{
            position: relative;
            width: 100%;
            margin: 0 auto;
          text-align: center;
//            font-size: 0px;

        }
    }
}
/*generic styles*/
.form-wrapper{
  margin: 0 auto;
  min-width: 500px;
  .form-row{
    min-height: 32px;
    padding: 3px 0px;
    box-sizing: border-box;
    margin-top: 12px;
    text-align: left;
      }
      .form-col{
        display: inline-block;
        width: 49%;
        font-size: 14px;
//                  height: 350px;
        vertical-align: top;
      }
  .form-col.label-col{
    width: 100px;
    .label-div{
      margin-top: 12px;
    }
  }
//  .clean-inp-wrapper{
//    display: inline-block;
//    width: 100%;
//    padding: 6px 6px;
//    box-sizing: border-box;
//    .label-div{
//      margin-left: 6px;
//    }
//  }
					.clean-inp-wrapper{
                      margin: 0 auto;
						display: inline-block;
						width: 180px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2px 2px 12px;
						.clean-inp-tabox, .clean-inp-tbox{
							width: 100%;
						}
					  	.txtbox{
//						   border: 2px solid lightgrey;
//							-webkit-box-shadow:
//							  inset 0 0 4px  rgba(0,0,0,0.1),
//									0 0 8px rgba(0,0,0,0.1);
//							-moz-box-shadow:
//							  inset 0 0 4px  rgba(0,0,0,0.1),
//									0 0 8px rgba(0,0,0,0.1);
//							box-shadow:
//							  inset 0 0 4px  rgba(0,0,0,0.1),
//									0 0 8px rgba(0,0,0,0.1);
//							padding: 5px;
//							background: rgba(255,255,255,0.5);
//							margin: 0 0 5px 0;
						}
                      label{
                        position: relative;
                        top: -2px;
                        -webkit-order: 1;
                        -ms-flex-order: 1;
                        order: 1;
                        pointer-events: none;
                        -webkit-font-smoothing: antialiased;
                        padding-left: 2px;
                        z-index: 1;
                        -webkit-transform: translate3d(0,28px,0) scale(1);
                        transform: translate3d(0,28px,0) scale(1);
                        transition: -webkit-transform cubic-bezier(0.25,.8,.25,1) .25s;
                        transition: transform cubic-bezier(0.25,.8,.25,1) .25s;
                        -webkit-transform-origin: left top;
                        transform-origin: left top;
                      }
                      .clean-inp-tbox:focus{
                    outline: 0;
                      }
                      .clean-inp-tbox:not(:focus){
                    color:transparent;
                      }
                      .clean-inp-tbox{
                        font-size: 14px;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    margin-top: auto;
    background: 0 0;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
                      }
					}
                  .clean-inp-wrapper.input-focused{
                    label{
                      -webkit-transform: translate3d(0,6px,0) scale(0.75);
                      transform: translate3d(0,6px,0) scale(0.75);
                      color: #4a148c;
                    }
                    .clean-inp-tbox{
                      color:#333;
                    }

                  }
        		select.clean-inp-sbox {
				padding:3px;
				height: 26px;
				margin: 0;
				-webkit-border-radius:4px;
				-moz-border-radius:4px;
				border-radius:4px;
		//    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
		//    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
		//    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
				background: #f8f8f8;
				color:#888;
				border:none;
				border: 1px solid #ccc;
				outline:none;
				display: inline-block;
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
				cursor:pointer;
			width: 100%;
        		}
label.clean-sbox-wrapper {
    position: relative;
    width: 180px;
    display: block;
    margin: 0 auto;
}
                label.clean-sbox-wrapper:after {
                    content: '<>';
                    font: 11px "Consolas", monospace;
                    color: #aaa;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                    right: 8px;
                    top: 2px;
                    padding: 0 0 2px;
                    border-bottom: 1px solid #ddd;
                    position: absolute;
                    pointer-events: none;
                }
  .white-btn{
    -webkit-appearance: none;
    padding: 4px 6px;
    line-height: 18px;
    font-size: 14px;
    color: #4a148c;
    background: #fff;
    border: 2px solid #4a148c;
    border-radius: 4px;
  }
    .white-btn:hover{
      background: #4a148c;
      color:#fff;
    }


}