<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    {% load staticfiles %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>ClickGarage - On Demand Car and Bike Services</title>
    {% endif %}

    {% if meta_desc %}
    <meta name="description" content="{{ meta_desc }}">
    {% else %}
    <meta name="description" content="Solution to all your vehicle maintenance needs. Compare prices, choose from a network of authorized and multibrand service centers, book doorstep services, get expert advice and save money. All within a few clicks.">
    {% endif %}

    {% if meta_keyw %}
    <meta name="keywords" content="{{ meta_keyw }}">
    {% else %}
    <meta name="keywords" content="Nissan Servicing, Datsun Servicing, Volkswagen Servicing, Toyota Servicing, Tata Servicing, Skoda Servicing, Renault Servicing, Maruti Suzuki Servicing, Mahindra Servicing, Hyundai Servicing, Honda Servicing, Ford Servicing, Fiat Servicing, Chevrolet Servicing, Royal Enfield Servicing, Suzuki Servicing, TVS Servicing, Bajaj Servicing, KTM Servicing, Yamaha Servicing, Hero Servicing, car servicing, bike servicing, car cleaning, car dry cleaning, car interior cleaning, car exterior cleaning">
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{%  static "css/ad/bootstrap.min.css" %}" type="text/css" />

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="{%  static "css/font-awesome.min.css" %}" type="text/css" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{%  static "css/ad/animate.min.css" %}"type="text/css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{%  static "css/ad/creative.css" %}"type="text/css" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/styles.less" %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<!--  {% load js %}-->
<!--<script type="text/javascript">
        Global.loginFlag = {{login_flag | js}};
        Global.temp_cart = {{cart | js}};
   </script>-->
</head>
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{ logo_text }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Why ClickGarage?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#carousel">Testimonials</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->x
    </nav>

    <header class="{{car_bike|lower}} {{service}}">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Car And Bike Care. Made Hassle Free.</h1>
                <hr>
                <p>One Stop Shop &nbsp;<i class="fa fa-circle"></i>&nbsp;Doorstep Service&nbsp;<i class="fa fa-circle"></i>&nbsp;Instant Cost Estimate</p>
                <div class="form-wrapper">

                <form action="" >
                        <div class="clean-inp-wrapper">
                            <label for="">Name</label>
                            <input class="clean-inp-tbox user-name" type="text"/>
                        </div>
                        <div class="clean-inp-wrapper">
                            <label for="">Phone No.</label>
                            <input class="clean-inp-tbox user-number" type="text"/>
                        </div>
                        <label class="clean-sbox-wrapper">
                        <select class="clean-inp-sbox user-service txtbox">
                           <option selected disabled>Select Category</option>
                            {% if category_list %}
                                {% for opt in category_list %}
                                    {% if opt.active %}
                                    <option value="{{opt.value}}" selected>{{opt.label}}</option>
                                    {% else %}
                                    <option value="{{opt.value}}">{{opt.label}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                        </label>
                    <div style="clear:both;"></div>
                        {% if service_list %}
                        <label class="clean-sbox-wrapper">
                        <select class="clean-inp-sbox user-service txtbox">
                           <option selected disabled>Select Service</option>
                            {% if service_dict %}
                                {% for cat, list in service_dict.items %}
                                         <!-- {{ cat}}{{ list}}-->
                                    {% if cat == service %}
                                        {% for valary in list %}
                                            <option value="{{valary.0}}">{{valary.1}}</option>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </select>
                        </label>
                        {% endif %}
                        <div style="clear:both;"></div>
                        <div class="square-btn" id="form-submit">Place Order</div>
                </form>
                </div>

                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>



    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What sets us apart</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3 text-center">


                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                        <div class="circleBase type1">
                            <div>
                        <i class="cg-assurance wow bounceIn text-tertiary"> </i>
                        <h3>Quality Assurance</h3>
                            </div>

                        <!--<p class="text-muted">We use genuine (OEM/OEM equivalent) parts and fluids and all the work is done under the supervision of a ClickGarage service advisor. All our mechanics are vetted to the highest industry standards.</p>-->
                    </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 text-center">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
                        <i class="cg-verified wow bounceIn text-tertiary" data-wow-delay=".1s"> </i>

                        <h3>ClickGarage Warranty</h3>
                        <!--<p class="text-muted">All our servicing and repair work comes with a 2000 KMs/2 months warranty. Subject to certain conditions, if any issues arise during this period, we will resolve the issue at no additional cost</p>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 text-center">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
                        <i class="cg-relax wow bounceIn text-tertiary" data-wow-delay=".2s"> </i>

                        <h3>Hassle-free</h3>
                        <!--<p class="text-muted">You don’t have to drive to the service centre for anything anymore. ClickGarage provides a pick-up & drop service for car related works. For bikes, your assigned service advisor and the mechanic will bring all the tools and parts required to service your bike at the convenience of your home or office, 7 days a week.</p>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-3 text-center">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
                        <i class="cg-discount wow bounceIn text-tertiary" data-wow-delay=".3s"> </i>

                       <h3>Save upto 30%</h3>
                        <!--<p class="text-muted">With our standardized pricing and lower labour costs. You can save upto 30% compared to authorized garages and franchisee.</p>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-3 text-center">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".4s"></i>-->
                        <i class="cg-alerts wow bounceIn text-tertiary" data-wow-delay=".4s"> </i>

                        <h3>Reporting</h3>
                        <!--<p class="text-muted">Get SMS alerts and updates for all the jobs being performed to your vehicle. You get a detailed report card of the vehicle after the completion of the services along with ClickGarage recommendations so you know what’s right for your vehicle.</p>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-3 text-center">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".4s"></i>-->
                        <i class="cg-estimate wow bounceIn text-tertiary" data-wow-delay=".5s"> </i>
                        <h3>Upfront Estimate</h3>
                        <!--<p class="text-muted">Power of informed choice with cost estimates generated from our extensive data.  With our upfront pricing estimate, there will be no last minute surprises or negotiations.</p>-->
                    </div>
                </div>

            </div>
        </div>
    </section>
        <!--<section class="bg-primary" id="about">-->
        <!--<div class="container">-->







            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2 text-center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h2 class="section-heading">We've got what you need!</h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;<hr class="light">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" class="btn btn-default btn-xl">Get Started!</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</section>-->

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img class="service-thumb" src="{%  static "img/live/servicing_hz.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Servicing
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img class="service-thumb" src="{% static "img/live/cleaning_hz.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img class="service-thumb" src="{% static "img/live/repairs_hz.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img class="service-thumb" src="{% static "img/live/windshield_hz.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img class="service-thumb" src="{% static "img/live/carcare_hz.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img class="service-thumb" src="{% static "img/live/emergency_hz.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


        <section class= "bg-primary" id="carousel">
	<div class="container">
        <div class="row">

        <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What people are saying!</h2>
                    <hr class="primary">
        </div>
		</div>
            <div class="row">
			<div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                    <!--<li data-target="#fade-quote-carousel" data-slide-to="3"></li>-->
                    <!--<li data-target="#fade-quote-carousel" data-slide-to="4"></li>-->
                    <!--<li data-target="#fade-quote-carousel" data-slide-to="5"></li>-->
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="item">
                        <!--<div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>-->
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	    <p>- Shashwat</p>
                        </blockquote>
				    </div>
				    <div class="item">
                        <!--<div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>-->
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    </div>
				    <div class="active item">
                        <!--<div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>-->
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    </div>
                    <!--<div class="item">-->
                        <!--<div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>-->
    			    	<!--<blockquote>-->
				    		<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>-->
				    	<!--</blockquote>-->
				    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>-->
    			    	<!--<blockquote>-->
				    		<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>-->
				    	<!--</blockquote>-->
				    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>-->
    			    	<!--<blockquote>-->
				    		<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>-->
				    	<!--</blockquote>-->
				    <!--</div>-->
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>

    <!--<aside class="bg-dark">-->
        <!--<div class="container text-center">-->
            <!--<div class="call-to-action">-->
                <!--<h2>Free Download at Start Bootstrap!</h2>-->
                <!--<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</aside>-->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Need anything else? Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+91-9555-95-0000</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">info@clickgarage.in</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{%  static "js/ad/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%  static "js/ad/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{%  static "js/ad/jquery.easing.min.js" %}"></script>
    <script src="{%  static "js/ad/jquery.fittext.js" %}"></script>
    <script src="{%  static "js/ad/wow.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%  static "js/ad/creative.js" %}"></script>

</body>
</html>