<div class="white-area">
    <div class="coupon-form-holder form-wrapper">
        <div class="form-row">
            <div class="clean-inp-wrapper">
                <label for="">Coupon Name / Code</label>
                <input class="clean-inp-tbox cpn-code" type="text">
            </div>
        </div>
        <br/>
        <div class="form-row">
            <div class="clean-inp-wrapper">
                <label for="">Coupon Message</label>
                <input class="clean-inp-tbox cpn-msg" type="text">
            </div>
        </div>
        <br/>
        <div class="form-row">
            <div class="clean-inp-wrapper">
                <label for="">Coupon Amount</label>
                <input class="clean-inp-tbox cpn-value" type="number">
            </div>
        </div>
        <br/>
        <div class="form-row">
            <div class="clean-inp-wrapper">
                <label for="">Coupon Cap</label>
                <input class="clean-inp-tbox cpn-cap" type="number">
            </div>
        </div>
        <br/>

        <div class="form-row">
            <label class="clean-sbox-wrapper">
            <select class="clean-inp-sbox cpn-cb txtbox">
                <option value="Car">Car</option>
                <option value="Bike">Bike</option>
            </select>
            </label>
        </div>
        <br/>
        <div class="form-row">
            <label class="clean-sbox-wrapper">
            <select class="clean-inp-sbox cpn-type txtbox">
                <option value="flat">Flat</option>
                <option value="discount">Discount</option>
                <option value="percent">Percent</option>
            </select>
            </label>
        </div>
        <br/>
        <div class="form-row">
            <label class="clean-sbox-wrapper">
            <select class="clean-inp-sbox cpn-key txtbox">
                <option value="parts">Parts</option>
                <option value="labour">Labour</option>
                <option value="total">Total</option>
            </select>
            </label>
        </div>
        <br/>
        <div class="form-row">
            <label class="clean-sbox-wrapper">
            <select class="clean-inp-sbox cpn-category txtbox">
                <option value="Servicing">Servicing</option>
                <option value="Cleaning">Cleaning</option>
            </select>
            </label>
        </div>
        <br/>
        <div class="form-row">
            <label class="clean-sbox-wrapper">
            <select class="clean-inp-sbox cpn-vendor txtbox">
                <option value=" ">All</option>
                <option value="ClickGarage Doorstep">ClickGarage Doorstep</option>
                <option value="ClickGarage Workshop">ClickGarage Workshop</option>
            </select>
            </label>
        </div>
        <br/>
        <div class="form-row mt12">
            <!--<div class="label-div">Date*</div>-->
            <div class="clean-inp-wrapper input-focused">
                <label for="">Expiry Date</label>
                <input class="clean-inp-tbox cpn-expiry perpetual" id="expiry-date" data-date-start-date="1d" placeholder="yyyy/mm/dd" type="text" />
            </div>
        </div>
        <br/>
        <div class="form-row mt12">
            <!--<div class="label-div">Date*</div>-->
            <div class="clean-inp-wrapper input-focused">
                <label for="">Issue Date</label>
                <input class="clean-inp-tbox cpn-init perpetual" id="issue-date" data-date-start-date="1d" placeholder="yyyy/mm/dd" type="text" />
            </div>
        </div>
        <br/>
        <button class="action-button white-btn" id="coupon-button">Add Coupon</button>
        <br/>
    </div>
</div>