<div class="white-area">


<div class="address-form-holder clean-form-holder">
                <!--<div class="booking-type">-->



                <!--</div>-->
                <!-- phew phew. this...this is old stuff
                <div class="form-col">
                    <div class="label-div"><b>User Details</b></div>
                    <div class="form-row mt12">
                        <div class="label-div">Name</div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper"><input class="clean-inp-tbox user-name txtbox" type="text" /></div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">Email</div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper"><input class="clean-inp-tbox email txtbox" type="text" /></div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">Phone</div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper"><input class="clean-inp-tbox user-number txtbox" placeholder="eg. 7676767676" type="text"/></div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">Pick Up Date & Time:</div>
                    </div>
                    <div class="form-row mt12">
                        <input class="clean-inp-cbox" id="same-day-toggle" checked type="checkbox"/>
                        <div class="label-div">Same day delivery</div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper" id="date-time-pair">
                            <input class="clean-inp-tbox pick-up-date txtbox" data-date-start-date="0d" placeholder="mm/dd/yyyy" type="text" style="width:50%;"/>
                            <input class="clean-inp-tbox pick-up-time txtbox" placeholder="H:MM" style="width:30%; "/>
                        </div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">Car Reg. No.</div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper">
                            <input class="clean-inp-tbox car-reg-no txtbox" placeholder= 'eg. RJ02CC4222' type="text";"/>
                        </div>
                    </div>
                </div>
                <div class="form-col" id="pick-up-col">
                    <div class="label-div"><b>Pickup Address</b></div>
                    <div class="form-row mt12" style="height: 80px;">
                        <div class="label-div">Address</div>
                        <div class="clean-inp-wrapper"><textarea placeholder = "House No., Street" class="clean-inp-tabox pick-addr txtbox" type="" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">Pincode</div>
                        <div class="clean-inp-wrapper"><input placeholder = "eg. 110016" class="clean-inp-tbox pick-pin txtbox" type=""/></div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">Landmark</div>
                        <div class="clean-inp-wrapper"><input placeholder = "eg. XYZ Mall"  class="clean-inp-tbox pick-lmark txtbox" type=""/></div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">City</div>
                        <div class="clean-inp-wrapper">
                            <label class="clean-sbox-wrapper">
                            <select class="clean-inp-sbox pick-city txtbox">
                                <option value="Delhi">Delhi</option>
                                <option value="Gurgaon">Gurgaon</option>
                            </select>
                            </label>
                        </div>
                    </div>
                    <div class="form-row mt12">
                        <input class="clean-inp-cbox" id="pick-drop-toggle" checked type="checkbox"/>
                        <div class="label-div">Set this as Dropoff Address</div>
                    </div>
                </div>
                <div class="form-col disabled" id="drop-off-col">
                    <div class="label-div"><b>Dropoff Address</b></div>
                    <div class="form-row mt12" style="height: 80px;">
                        <div class="label-div">Address</div>
                        <div class="clean-inp-wrapper"><textarea placeholder = "House No., Street"  class="clean-inp-tabox drop-addr txtbox" disabled type="" rows="3"></textarea></div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">Pincode</div>
                        <div class="clean-inp-wrapper"><input placeholder = "eg. 110016"  class="clean-inp-tbox drop-pin txtbox" disabled type=""/></div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">Landmark</div>
                        <div class="clean-inp-wrapper"><input placeholder = "eg. XYZ Mall"   class="clean-inp-tbox drop-lmark txtbox" disabled type=""/></div>
                    </div>
                    <div class="form-row mt12">
                        <div class="label-div">City</div>
                        <div class="clean-inp-wrapper">
                            <label class="clean-sbox-wrapper">
                            <select class="clean-inp-sbox drop-city txtbox" disabled>
                                <option value="Delhi">Delhi</option>
                                <option value="Gurgaon">Gurgaon</option>
                            </select>
                            </label>
                        </div>
                    </div>
                </div>
                 this is the new stuff -->
                <div class="form-col">
                    <div class="label-div"><b>User Details</b></div>
                    <div class="form-row mt12">
                        <div class="clean-inp-wrapper">
                            <label for="">Name</label>
                            <input class="clean-inp-tbox user-name" type="text"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper">
                            <label for="">Phone No.</label>
                            <input class="clean-inp-tbox user-number" type="text"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper">
                            <label for="">Email</label>
                            <input class="clean-inp-tbox user-email" type="email"/>
                        </div>
                    </div>

                    <div class="form-row none-i">
                        <div class="clean-inp-wrapper">
                            <label for="">Car/Bike Reg. No.</label>
                            <input class="clean-inp-tbox car-reg-no" type="text" />
                        </div>
                    </div>

                </div>
                <div class="form-col" id="pick-up-col">
                    <div class="label-div"><b>Pickup Address/ Doorstep Service Location</b></div>

                    <div class="form-row mt12">
                        <div class="clean-inp-wrapper">
                            <label for="">Address Line 1</label>
                            <input class="clean-inp-tbox pick-addr-1" type="text" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper">
                            <label for="">Address Line 2</label>
                            <input class="clean-inp-tbox pick-addr-2" type="text" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper input-focused">
                            <label for="">City</label>
                            <input class="clean-inp-tbox pick-city perpetual" type="text" value="Gurgaon" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-col">
                    <div class="label-div"><b>Other details</b></div>

                    <div class="form-row mt12">
                        <div class="clean-inp-wrapper input-focused" id="date-wrap">
                            <label for="">Date</label>
                            <input class="clean-inp-tbox pick-up-date perpetual" data-date-start-date="1d" placeholder="mm/dd/yyyy" type="text" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="clean-inp-wrapper input-focused" id="time-wrap">
                            <label for="">Time</label>
                            <input class="clean-inp-tbox pick-up-time perpetual" placeholder="hh:mm - hh:mm" />
                        </div>
                    </div>
                </div>
                <!-- this is the end. of the new stuff -->
</div>

                <div class = "select-service" >
                    Select Service
                     <div class="ui-field-contain">
                         <select name="select-custom-22" id="car-bike-select" data-native-menu="false">
                             <option value="choose-one" data-placeholder="true">Select Car/ Bike</option>
                             <option value="Car">Car</option>
                             <option value="Bike">Bike</option>
                             <!--<option value="TVS">TVS</option>-->
                         </select>
                     </div>

                     <div class="ui-field-contain">
                         <select name="select-custom-23" id="brand-select" data-native-menu="false">
                             <option value="choose-one" data-placeholder="true">Select Brand</option>
                             <div id="make-list"></div>
                         </select>
                     </div>
                     <div class="ui-field-contain">
                         <select name="select-custom-23" id="car-select" data-native-menu="false">
                             <option value="choose-one" data-placeholder="true">Select Model</option>
                             <div id="make-list"></div>
                         </select>
                     </div>
                    <div class="ui-field-contain">
                         <select name="select-custom-22" id="category-select" data-native-menu="false">
                             <!--<option value="choose-one" data-placeholder="true">Select Category</option>-->
                             <option value="servicing">Servicing</option>
                             <option value="cleaning">Cleaning</option>
                             <option value="vas">Vas</option>
                             <!--<option value="TVS">TVS</option>-->
                         </select>
                     </div>
                    <div class="ui-field-contain">
                         <select name="select-custom-22" id="sub-cat-select" data-native-menu="false">
                             <option value="choose-one" data-placeholder="true">Select Sub Category</option>
                             <!--<option value="servicing">Servicing</option>-->
                             <!--<option value="cleaning">Cleaning</option>-->
                             <!--<option value="vas">Vas</option>-->
                             <!--<option value="TVS">TVS</option>-->
                         </select>
                     </div>
                    <div class="ui-field-contain">
                         <select name="select-custom-22" id="service-select" data-native-menu="false">
                             <option value="choose-one" data-placeholder="true">Select Service</option>
                             <!--<option value="servicing">Servicing</option>-->
                             <!--<option value="cleaning">Cleaning</option>-->
                             <!--<option value="vas">Vas</option>-->
                             <!--<option value="TVS">TVS</option>-->
                         </select>
                     </div>



                </div>
                <div class="Add Guest Transaction">
                        <button id ="place-guest-trans" class="trans-add">Place Guest Order</button>
                </div>

</div>    