<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ClickGarage.in - Your One Stop for All Car Solutions</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/styles.less" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/login-html.less" %}" />
    <script type="text/javascript" src="{%  static "js/legacy/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/json2html.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/jquery.json2html.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/plugin.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/common.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/cart.js" %}"></script>
    <script src="{%  static "js/legacy/less.min.js" %}"></script>

</head>
<body class="cart-body">
    <div class="solid-header">
        {% include "website/dash-header.html" %}
    </div>
    <div class="pane order-pane">
        <div class="centered-content">
            <div class="content-holder">
        <div class="title-holder">

        </div>
            <div class="table-holder">
       <table>
        <thead>
        <tr>
        <th>Service</th>
        <th>Dealer</th>
        <th>Price</th>
        <th>Total</th>
        </tr>
        </thead>
        <tbody>
         {% for key, val in cart.iteritems %}
            <tr>
               <td>
        {% if val.service_detail %}
{{ val.service_detail.name }}<br>
{{ val.service_detail.odometer }}<br>
{{ val.service_detail.brand }}<br>
{{ val.car.name }}<br>
{% else %}
{{ val.service }}
{% endif %}

                </td>
               <td>{{ val.dealer }}</td>
               <td>
{% if val.service_detail %}
    {% if val.service == "servicing" %}

{{ val.service_detail.parts_price }}<br>
{{ val.service_detail.labour_price }}<br>
{{ val.service_detail.wa_price }}<br>
{{ val.service_detail.wb_price }}<br>
        {% elif val.service == "cleaning" %}
{{ val.service_detail.parts_price }}<br>
{{ val.service_detail.labour_price }}<br>
        {% else %}
<p>else</p>
        {% endif %}
{% else %}

{% endif %}

               </td>

               <td>{{ val.service_detail }}</td>

            </tr>
         {% endfor %}
        </tbody>
       </table>

                </div>
        <div class="title-holder">

        </div>

            </div>
        </div>
    </div>
</body>
</html>