<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
   <title>ClickGarage - Car and Bike Servicing, Cleaning</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="../../static/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" />
        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/styles.less" %}" />
     <link rel="stylesheet" type="text/css" href="{% static "css/contact.css" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/login-html.less" %}" />
    <script type="text/javascript" src="{%  static "js/legacy/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/json2html.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/jquery.json2html.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/plugin.js" %}"></script>
   <script type="text/javascript" src="{%  static "js/common.js" %}"></script>
    <script type="text/javascript">
$(document).ready(function(){
    Commons.eventHandlers();
});
    </script>
    <script src="{%  static "js/legacy/less.min.js" %}"></script>


</head>
<body class="cart-body">
    <div class="overlay overlay-pat"></div>
    <div class="solid-header">
        {% include "website/dash-header.html" %}
    </div>
    <div class="pane order-pane">

        <div class="centered-content contact">
            <div class="dog-ear-header header-strip">
                <span> Contact Us/ Feedback </span>
            </div>
            <!--<div class="form">-->
                <!--<form id="contact-form" class="styled-form" action="" method="post" accept-charset="utf-8">-->
                <form id="contact-form" class="styled-form" accept-charset="utf-8">
                    <div style="display:none">
                        <!--<input type="hidden" name="csrfmiddlewaretoken" value="8ece95d139633656ad0371bf53c45b2d">-->
                    </div>
                        <h1 class="pagetitle">Contact us/ Feedback</h1>

                        <div class="note">
                          <p>We are here to answer any questions you may have about ClickGarage. Reach out to us and we'll respond as soon as we can.</p>
                          <p>Even if there is something you need and can't find it on ClickGarage, let us know and we promise we'll do our best to sort it for you.</p>
                        </div>

                        <p class="row half first">
                          <label for="id_name">Name: </label>
                          <span class="field"><input type="text" name="name" id="id_name"></span>
                        </p>

                        <p class="row half">
                            <label for="id_phone">Phone:</label>
                            <span class="field"><input type="text" name="phone" id="id_phone"></span>
                        </p>

                        <p class="row">
                          <label for="id_message">Message:</label>
                          <span class="field"><textarea cols="40" rows="5" name="message" id="id_message"></textarea></span>
                        </p>

                        <!--<p class="row half first">-->
                          <!--<label for="id_tapcha_0">How much is 7+5? <span class="required">*</span></label>-->
                          <!--<span class="field"><input type="text" name="tapcha_0" id="id_tapcha_0"><input type="hidden" name="tapcha_1" id="id_tapcha_1" value="Nzg0MTEwMjcyZGRhOWUyZTRmZWM0YTE0OTRhMDM2MTUxNzliOWIzZQ=="></span>-->
                          <!--<span style="display:none">-->
                          <!--<span class="field"><input type="text" name="honeypot" id="id_honeypot"></span>-->
                          <!--</span>-->
                        <!--</p>-->

                        <p class="submit-row">
                          <button type="submit" id="send-btn-contact" class="send-btn">SEND</button>
                        </p>

                        </form>
                        <div class = "info">
                        <aside id="contact-info">
                            <br>
                            <br>
                            <br>
                            <dl>
                              <dt>Email</dt>
                              <dd><a href="mailto:info@clickgarage.in" title="Click to send us an email">info@clickgarage.in</a></dd>
                              <dt>Telephone</dt>
                              <dd><a href="tel:+91-9717353148" title="Click to call us">+91-9620-839-801</a></dd>
                              <!--<dt>Skype</dt>-->
                              <!--<dd><a href="skype:combaditravel?call" title="Click to call us on Skype">combaditravel</a></dd>-->
                              <dt>Address</dt>
                              <dd>
                                <address>
                                  Sui Generis Innovations Pvt. Ltd.<br>
                                  2nd Floor, W22<br>
                                  Green Park, New Delhi<br>
                                  Delhi<br>
                                  India<br>
                                  Pin: 110016<br>
                                </address>
                              </dd>




                              <!--<dd class="social-links">-->
                                <!--<a class="fb" href="http://www.facebook.com/theclickgarage" title="Find us on Facebook">Facebook</a>-->
                                <!--<a class="tt" href="http://twitter.com/theclickgarage" title="Find us on Twitter">Twitter</a>-->
                              <!--</dd>-->
                            </dl>
                             <div class="fr social fix_social">
                <a href="http://twitter.com/theclickgarage" target="_blank" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
                <a href="http://facebook.com/theclickgarage" target="_blank" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                <a href="http://plus.google.com/+theclickgarage" target="_blank" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
            <!--<div class="fr social">-->
<!--&lt;!&nd                    <script src="../../static/js/social.js"></script>&ndash;&gt;-->
                <!--<a href="http://twitter.com/theclickgarage"  target="_blank" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>-->
                <!--<a href="http://facebook.com/theclickgarage"  target="_blank" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>-->
                <!--<a href="http://plus.google.com/+theclickgarage" target="_blank" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>-->
            </div>
                          </aside>
                          <!--</div>-->
            <!--</div>-->
        



            <!--Coupon Code -->

</div>
</div>
</div>




</body>
</html>