<header class="header">
    <div class="left-items-holder fl">
        <a class="logo-click"><div class="menu-logo"></div></a>
    </div>
    <div class="right-items-holder fr">
         <div class="menu-item fl ph"><a href="tel:+91-9555950000" title="Click to call us"><i class="fa fa-phone"></i>+91-9555-95-0000</a></div>
       <a href="//blog.clickgarage.in" target="_blank"> <div class="menu-item fl">Blog</div></a>
        <a href="/cart"><div class="menu-item fl"> <i class="fa fa-shopping-cart"></i> Cart </div></a>
        <a href="/contact" target="_blank"> <div class="menu-item fl">Contact Us</div></a>
        {% if user and not user.is_anonymous %}
        <div class="menu-item fl" id="settings-drpdwn">Hi, {{ user.first_name }} &nbsp; <i class="fa fa-caret-down"></i></div>
        <div class="logged-user-drpdwn">
            <div class="tri-tip"></div>
            <div class="menu-square">
                <a href='/history'><div class="drpdwn-item">Bookings</div></a>
               <a href="{% url 'auth:logout' %}?next={{ request.path }}"><div class="drpdwn-item">Logout</div></a>
            </div>
        </div>

        {% else %}
        <div class="menu-btn fl" id="sign-up-in-dash">Sign Up/Login</div>
        {% endif %}
    </div>
</header>