<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
   <title>ClickGarage - Car and Bike Servicing, Cleaning</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="../../static/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/styles.less" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/login-html.less" %}" />
    <script type="text/javascript" src="{%  static "js/legacy/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/json2html.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/jquery.json2html.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/plugin.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/common.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/history.js" %}"></script>
    <script src="{%  static "js/legacy/less.min.js" %}"></script>
</head>
<body class="email-body order-body">
<div class="email-area">
<div class = "header-mail">
      <img data-u="image" src="/static/img/report.jpg" />
</div>

        <div class="container-fluid inner">
          <table class="tableizer-table">
                <tr class="tableizer-firstrow"><th>HTML</th><th>Colorname</th><th>Hex Value</th><th>RGB Value</th><th>RGBA Value</th><th>Class Selector</th></tr>
                <tr><td><div class="c ab-bg"></div></td><td>aliceblue</td><td>#F0F8FF</td><td>rgb(240,248,255)</td><td>rgba(240,248,255,0)</td><td>.ab-bg</td></tr>
           </table>

        </div>


        <div class="send-button-div">
            <button class="send-button" id="send-button">Send this Report</button>
        </div>


</div>    