<div class="header">
    <div class="left-items-holder fl">
        <div class="logo-box"></div>
    </div>
    <div class="right-items-holder fr">
        <div class="menu-item fl hw">How it Works</div>
        <div class="menu-item fl"><a href="blog.clickgarage.in">Blog</a></div>
        <div class="menu-item fl au">About Us</div>
    {% if user and not user.is_anonymous %}
        <div class="menu-item fl" id="settings-drpdwn">Hi, {{ user.first_name }} &nbsp; <i class="fa fa-caret-down"></i></div>
        <div class="logged-user-drpdwn">
            <div class="tri-tip"></div>
            <div class="menu-square">
                <div class="drpdwn-item">Account</div>
                <div class="drpdwn-item">History</div>
                <div class="drpdwn-item"><a href="www.clickgarage.in/cart">Cart</div>
                <div class="drpdwn-item"><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></div>
            </div>
        </div>

   {% else %}
        <div class="menu-btn fl" id="sign-up-in-home">Sign Up/Login</div>
   {% endif %}
    </div>
</div>