<header class="header">
    <div class="left-items-holder fl">
        <div class="logo-box"></div>
    </div>
    <!--
    <div class="citybox-holder" id="home-citybox-holder">
                    <input type="text" id="city-search-box" class="city-search-box" name="city" readonly="true" value="Gurgaon">
                    <i class="icon fa fa-caret-down"></i>
                    <label for="city-search-box" class="city-drop-box" style="display: none;">
                       <option value="Gurgaon">Gurgaon</option>
                       <option value="Delhi" disabled>Delhi (Coming Soon)</option>
                       <option value="Noida" disabled>Noida (Coming Soon)</option>
                    </label>
    </div>
    -->
    <div class="right-items-holder fr">
        <div class="menu-item fl ph"><a href="tel:+91-9555950000" title="Click to call us"><i class="fa fa-phone"></i>+91-9555-95-0000</a></div>

        <div class="menu-item fl wh">Why ClickGarage?</div></a>
        <div class="menu-item fl hw">How It Works?</div>
        <div class="menu-item fl au">Our Services</div>
        <div class="menu-item fl bd">Brands</div>
        <a href="/contact" target="_blank"><div class="menu-item fl">Contact Us</div></a>
        {% if user and not user.is_anonymous %}
        <div class="menu-item fl" id="settings-drpdwn">Hi, {{ user.first_name }} &nbsp; <i class="fa fa-caret-down"></i></div>
        <div class="logged-user-drpdwn">
            <div class="tri-tip"></div>
            <div class="menu-square">
                <a href='/history'><div class="drpdwn-item">Bookings</div></a>
                <a href="{% url 'auth:logout' %}?next={{ request.path }}"><div class="drpdwn-item">Logout</div></a>
            </div>
        </div>

   {% else %}
        <div class="menu-btn fl" id="sign-up-in-home">Sign Up/Login</div>
   {% endif %}
    </div>
</header>