<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
    <meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
    <meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
    <meta property="og:image" content="../../static/img/Logo-black.jpg"/>

    
    {% load staticfiles %}
     <!--{% static "css/font.css" %}-->
    <!--{{ STATIC_URL }}-->
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/font-awesome.min.css" />-->
   <link rel="shortcut icon" type="image/png" href="../../static/img/favicon.png"/>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css'/>
<!--    <link href="../../static/css/jquery-video-lightning.css" rel="stylesheet" type="text/css">-->
    
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/styles.less" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/login-html.less" %}" />
    <script type="text/javascript" src="{%  static "js/legacy/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/plugin.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/home.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/common.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/jssor.slider.debug.js" %}"></script>
    <script type="text/javascript">

    $(function() {
    $(".video-link").jqueryVideoLightning({
    autoplay: 1,
    backdrop_color: "#ddd",
    backdrop_opacity: 0.6,
    glow: 20,
    glow_color: "#000"
    });
    });
    </script>

    

    <!--Script Addition - Slider Start-->
    <script type="text/javascript" src="{%  static "js/jssor.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/jssor.slider.js" %}"></script>
    <script type="text/javascript" src="../../static/js/jquery-video-lightning.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 0,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 4,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseLinear,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 5000,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                $SlideWidth: 100,                                   //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                $SlideHeight: 100,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 50,                                  //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 8,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                              //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth)
                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1380));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
    <!--Script Addition - Slider end-->

    <script src="{%  static "js/legacy/less.min.js" %}"></script>

   {% load js %}
    <script type="text/javascript">
{#        {% if cars %}#}
{#            <ul>#}
{#            {% for car in cars %}#}
{#                <li>{{ car.name }}</li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#        {% else %}#}
{#            <p>No polls are available.</p>#}
{#        {% endif %}#}
        Global.carData = {{ cars | js}};
    Global.logReq = {{ loginFlag | js}};
    </script>
{#    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script> #}
{# <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script> #}
        

 
<!-- start Mixpanel -->
<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("fbb9a141a5e5cc0141425fd038daa739");

</script>

<script type="text/javascript">
   mixpanel.track("Sign Up");
</script>

<!-- end Mixpanel -->


 <!--<script type="text/javascript" src="../../static/js/gotop.js"></script>-->


</head>



<body class="home-body">
<div class="pane search-pane fit-width">
    <div class="centered-content">
        <div class="transparent-header">
           {% include "website/home-header.html" %}
        </div>
        <div class="content-holder">
            <div class="title-holder">
                    <div class="title">
                       Car And Bike Care. Made Hassle Free.
                    </div>
                    <div class="sub-text">
                        One Stop Shop &nbsp;<i class="fa fa-circle"></i>&nbsp;Doorstep Service&nbsp;<i class="fa fa-circle"></i>&nbsp;Instant Cost Estimate
                    </div>
            </div>
            <div class="dropdown-plus-slider-div">
                <div class="dropdown-div">
                    <div class="sub-title">
                        Select vehicle to compare and book services
                    </div>
                    <div class="radio-btn-div">
                        <div class="radio-btn active">
                            <input type="radio" class="vehicleRadio" id="bikeRadio" name="vehicleRadio" value="Bike" checked />
                            <label for="bikeRadio">Bike</label>
                        </div>
                        <div class="radio-btn">
                            <input type="radio" class="vehicleRadio" id="carRadio" name="vehicleRadio" value="Car"  />
                            <label for="carRadio">Car</label>
                        </div>
                    </div>

                <form id="home-search-form" method="get" action="/order/" data-remote="true" accept-charset="UTF-8">

                    <div class="vehicle-dropdown-div" style="width: 25%;">
                        <select class="custom-select" name="brandSelect" id="brandSelect" >
                            <option selected="true" disabled="">Select Brand</option>
                            <option>Bajaj</option><option>Hero</option>
                            <option>Honda</option><option>KTM</option>
                            <option>Mahindra</option>
                            <option>Royal Enfield</option>
                            <option>Suzuki</option>
                            <option>TVS</option>
                            <option>Yamaha</option>
                        </select>
                    </div>
                    <div class="vehicle-dropdown-div" style="width: 55%;">
                        <select class="custom-select" name="modelSelect" id="modelSelect" >
                            <option selected="true" disabled="true">Select Model</option>
                        </select>
                    </div>

                    <div class="submit-btn-holder purple-btn-1" id="home-submit-holder" style="width: 19%">
                        <button class="form-submit-btn" type="submit">Get Started</button>
                    </div>
                </form>

                    <div class="separator-line none-i">
                        <div class="sep-line"><hr></div>
                        <div class="or-text">or</div>
                        <div class="sep-line"><hr></div>
                    </div>                    
                    <!--
                    <div class="search-set-holder none-i" id="home-search-set-holder">
                        <form id="home-search-form" method="get" action="/order/" data-remote="true" accept-charset="UTF-8">
                            <div class="omnibox-holder" id="home-omnibox-holder" style="z-index: 49;">
                                <input type="hidden" id="hidden-id-box" name="c_id" style="display: none;" />
                                <input type="hidden" id="hidden-id-box2" name="c_id2" style="display: none;" />
                                <input type="text" id="omni-search-box" class="omni-search-box" name="car_name" placeholder="Type your car/bike model" autocomplete="off"/>
                                <i class="icon fa fa-search"></i>
                                <label for="omni-search-box" class="omni-drop-box" style="display: none;">
                                    <ul></ul>
                                </label>
                            </div>
                            <div class="submit-btn-holder purple-btn-1" id="home-submit-holder">
                                <button class="form-submit-btn" type="submit">Get Started</button>
                            </div>
                        </form>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="video-embed">  
            <span class="video-link" data-video-id="y-v-zV_Z0_wJM">
            <div class="video-icon">
                    <img src="../../static/img/icon-video.png" alt=""/>
            </div> 
            <div class="video-text">Watch Video</div></span>
        </div>

    </div>
    <div class="move-next-row">
        <div class="next-text">
            Learn More
        </div>
            <div class="learn-more">

            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
            </div>
    </div>

    <!--<div class="overlay overlay-color purple"></div>-->
    <div class="overlay overlay-image">
        <img src="../../static/img/bg_7.jpg" alt="" data-init="-230" />
    </div>
    <div class="overlay overlay-color purple"></div>
    <div class="overlay overlay-video none-i">
<!--         <video autoplay loop poster="static/vid/website_loop_snapshot.png" id="bgvid" data-init="-230">
            <source src="static/vid/website_loop.webm" type="video/webm">
            <source src="static/vid/website_loop.mp4" type="video/mp4">
        </video>
 -->    
 
    </div>
    <div class="overlay overlay-pat"></div>
</div>




<div class="pane steps-pane">

    <div class="centered-content">
        <div class="content-holder">
        
            <div class="lined-box preview-box" id="preview-box">
            
            <div class="how-it-works">
                <a name="how-it-works">
                <div class="text-holder">
                How It Works
                </div>
                </a>
            </div>
                <div class="wrapper">
                    <div class="detail detail-point1" style="opacity: 1; display: block;">
                        <div class="text-holder">
                            <div class="big-text">
                                Select your vehicle and browse through our service catalogue.
                            </div>
                        </div>
                        <div class="img-holder">
                            <img src="../../static/img/pane-select-1.png" alt="#"/><span>.</span>
                        </div>
                    </div>
                    <div class="detail detail-point2">
                        <div class="text-holder">
                            <div class="big-text">
                                Select a service provider that suits your needs best and compare price estimates.
                            </div>
                        </div>
                        <div class="img-holder">
                            <img src="../../static/img/pane-compare.png" alt="#"/><span>.</span>
                        </div>
                    </div>
                    <div class="detail detail-point3">
                        <div class="text-holder">
                            <div class="big-text">
                                Book a slot based on your convenience. Our auto experts will get the work done so that you don’t have to waste your valuable time.
                            </div>
                        </div>
                        <div class="img-holder">
                            <img src="../../static/img/pane-relax-1.png" alt="#"/><span>.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lined-box workflow-box" id="workflow-box">
                <div class="pusher-wrapper">
                    <div id="pusher">
                    </div>
                </div>
                <div class="marker-holder">
                    <div class="marker-line"></div>
                    <div class="marker-point" id="point1"></div>
                    <div class="marker-point" id="point2"></div>
                    <div class="marker-point" id="point3"></div>
                </div>
                <div class="list-holder">
                    <div class="text-holder" id="text1" data-id="point1">
                        <div class="step-title">Tell us what you need</div>
                        <div class="step-summary">Select your vehicle and browse through our service catalogue.</div>
                    </div>
                    <div class="text-holder" id="text2" data-id="point2">
                        <div class="step-title">Compare prices</div>
                        <div class="step-summary">Select a service provider that suits your needs best and compare price estimates.</div>
                    </div>
                    <div class="text-holder" id="text3" data-id="point3">
                        <div class="step-title">Book a time slot and relax</div>
                        <div class="step-summary">Book a slot based on your convenience. Our auto experts will get the work done.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay overlay-pat"></div>
</div>

<!--
 <div class = "pane android-pane">

         <div class="content-holder">
         <div><img u="Android" src="../../static/img/android-pane-4.jpg" /></div>

     </div>
     <div class="app-link">
            <span class="video-link" data-video-id="y-v-zV_Z0_wJM">
            <a href="https://play.google.com/store/apps/details?id=innovations.generis.sui.clickgarage" target="_blank">
            <div class="app-icon">
                    <img src="../../static/img/google_play.png" alt=""/>
            </div>
            </a>
            <div class="video-text">Watch Video</div></span>
     </div>
 </div>
-->

<div class="pane features-pane">
    <div class="centered-content">
        <div class="abouts-row">
            <a name="about-us">
            <div class="text-holder">
                What Sets Us Apart
            </div>
            </a>
        </div>
        <div class="feats-row">
            <div class="feature-point">
                <div class="feat-icon">
                    <i class="cg-assurance"></i>
                </div>
                <div class="feat-text">
                    <h3 class="title">Quality Assurance </h3>
                    <div class="sub-title none-i"></div><div class="desc">We use genuine (OEM/OEM equivalent) parts and fluids and all the work is done under the supervision of a ClickGarage service advisor. All our mechanics are vetted to the highest industry standards.</div>
                </div>
            </div>
            <div class="feature-point">
                <div class="feat-icon">
                    <i class="cg-verified"></i>
                </div>
                <div class="feat-text">
                    <h3 class="title">ClickGarage Warranty</h3>
                    <div class="sub-title none-i"></div><div class="desc">All our servicing and repair work comes with a 2000 KMs/2 months warranty. Subject to certain conditions, if any issues arise during this period, we will resolve the issue at no additional cost</div>
                </div>
            </div>
            <div class="feature-point">
                <div class="feat-icon">
                    <i class="cg-relax"></i>
                </div>
                <div class="feat-text">
                    <h3 class="title">Hassle-free</h3>
                    <div class="sub-title none-i"></div><div class="desc">You don’t have to drive to the service centre for anything anymore. ClickGarage provides a pick-up & drop service for car related works. For bikes, your assigned service advisor and the mechanic will bring all the tools and parts required to service your bike at the convenience of your home or office, 7 days a week.</div>
                </div>
            </div>
            <div class="feature-point">
                <div class="feat-icon">
                    <i class="cg-discount"></i>
                </div>
                <div class="feat-text">
                    <h3 class="title">Save upto 30%</h3>
                    <div class="sub-title none-i"></div><div class="desc">With our standardized pricing and lower labour costs. You can save upto 30% compared to authorized garages and franchisee.</div>
                </div>
            </div>
            <div class="feature-point">
                <div class="feat-icon">
                    <i class="cg-alerts"></i>
                </div>
                <div class="feat-text">
                    <h3 class="title">Reporting</h3>
                    <div class="sub-title none-i"></div><div class="desc">Get SMS alerts and updates for all the jobs being performed to your vehicle. You get a detailed report card of the vehicle after the completion of the services along with ClickGarage recommendations so you know what’s right for your vehicle.</div>
                </div>
            </div>
            <div class="feature-point">
                <div class="feat-icon">
                    <i class="cg-estimate"></i>
                </div>
                <div class="feat-text">
                    <h3 class="title">Upfront Estimate</h3>
                    <div class="sub-title none-i"></div><div class="desc">Power of informed choice with cost estimates generated from our extensive data.  With our upfront pricing estimate, there will be no last minute surprises or negotiations.</div>
                </div>
            </div>
        </div>
        <div class="goal-row">
            <div class="text-holder">
                "Providing Convenient and Quality Auto Care."
            </div>
        </div>
    </div>
    <div class="overlay overlay-pat"></div>
    <!--<div class="overlay overlay-color black"></div>-->
    <!--<div class="overlay overlay-image">-->
        <!--<img src="../../static/img/about-bg.jpg" alt=""/>-->
    <!--</div>-->

</div>
 


<div class="pane fix_pane">
    <div class="stats-pane none-i">
    </div>



     <!--Script Addition - Slider Start-->
        <div class="partners-platform" style="position: relative; ">
            <div class="centered-content">

            <div class="text-holder">
                Brands we serve
            </div>
            <div class="section-label">Bike Brands</div>
            <div class="section-content">
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Bikes/Bajaj.png" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="skew" u="image" alt="partner" src="../../static/img/logos/Bikes/Hero.png" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="sq" u="image" alt="partner" src="../../static/img/logos/Bikes/Honda.png" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Bikes/Mahindra.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Bikes/Royal%20Enfield.png" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Bikes/Mahindra.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Bikes/Suzuki2.png" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Bikes/TVS.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Bikes/Yamaha.jpg" /></div>
            </div>
            <div class="section-label">Car Brands</div>
            <div class="section-content">
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Cars/Chevrolet.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Cars/Datsun.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="sq" u="image" alt="partner" src="../../static/img/logos/Cars/Fiat.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Cars/Ford.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Cars/Honda.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="sq" u="image" alt="partner" src="../../static/img/logos/Cars/Hyundai.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img u="image" alt="partner" src="../../static/img/logos/Cars/Mahindra.png" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="sq" u="image" alt="partner" src="../../static/img/logos/Cars/Maruti%20Suzuki.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="sq" u="image" alt="partner" src="../../static/img/logos/Cars/Nissan.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="skew" u="image" alt="partner" src="../../static/img/logos/Cars/Renault.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="skew" u="image" alt="partner" src="../../static/img/logos/Cars/Skoda.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="sq" u="image" alt="partner" src="../../static/img/logos/Cars/Tata.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="sq" u="image" alt="partner" src="../../static/img/logos/Cars/Toyota.jpg" /></div>
                    <div class="brand-wrap"><div class="aligner"></div><img class="skew" u="image" alt="partner" src="../../static/img/logos/Cars/Volkswagen.jpg" /></div>
            </div>
            </div>
        </div>
     <!--Script Addition - Slider End-->

<!--
    <div class="coupon-partners">
        <div><img u="image" alt="partner" src="../../static/img/partners/Automotives India MFC.jpg" /></div>
        <div><img u="image" alt="partner" src="../../static/img/partners/Autovikas tata.jpg" /></div>    
    </div>
-->


    <div class="footer-pane">
<!--
        <div class="centered-content">
            <div class="content-holder">
-->
                <div class="horizontal-headers">
                    <ul>
                        <lh>ClickGarage</lh>
                        <lh>Legal</lh>
                        <lh>Bike Manufacturers</lh>
                        <lh>Car Manufacturers</lh>
                    </ul>
                </div>
                <div class="horizontal-lists">
                    <ul>
                        <li class="footer-hw">How it works</li>
                        <li class="footer-au">About Us</li>
                        <li><a href="/contact" target="_blank">Contact Us</a></li>
                        <li><a href="//blog.clickgarage.in" target="_blank">Blog</a></li>
                        <li><a href="/sitemap" target="_blank">Sitemap</a></li>
                    </ul>
                </div>
                <div class="horizontal-lists">
                    <ul>
                        <li><a href="/tnc" target="_blank">Terms & Conditions</a></li>
                        <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="horizontal-lists">
                    <ul>
                        <li><a href="http://www.bajajauto.com/" target="_blank">Bajaj</a></li>
                        <li><a href="http://www.heromotocorp.com/en-in/" target="_blank">Hero</a></li>
                        <li><a href="http://honda2wheelersindia.com/" target="_blank">Honda</a></li>
                        <li><a href="http://www.yamaha-motor-india.com/" target="_blank">Yamaha</a></li>
                        <li><a href="http://www.suzukimotorcycle.co.in/" target="_blank">Suzuki</a></li>
                        <li><a href="http://www.tvsmotor.com/default.aspx" target="_blank">TVS</a></li>
                        <li><a href="http://www.ktm.com/in/" target="_blank">KTM</a></li>
                        <li><a href="http://royalenfield.com/" target="_blank">Royal Enfield</a></li>
                    </ul>
                </div>
                <div class="horizontal-lists">
                    <ul>
                        <li><a href="http://www.marutisuzuki.com/" target="_blank">Maruti</a></li>
                        <li><a href="http://www.hyundai.com/in/en/Main/index.html" target="_blank">Hyundai</a></li>
                        <li><a href="https://www.hondacarindia.com/" target="_blank">Honda</a></li>
                        <li><a href="http://www.toyotabharat.com/" target="_blank">Toyota</a></li>
                        <li><a href="http://www.india.ford.com/" target="_blank">Ford</a></li>
                        <li><a href="http://www.fiat-india.com/" target="_blank">Fiat</a></li>
                        <li><a href="http://www.tatamotors.com/" target="_blank">Tata</a></li>
                        <li><a href="https://www.renault.co.in/" target="_blank">Renault</a></li>
                        <li><a href="http://www.skoda-auto.co.in/" target="_blank">Skoda</a></li>
                        <li><a href="http://www.volkswagen.co.in/en.html" target="_blank">Volkswagen</a></li>
                        <li><a href="http://www.chevrolet.co.in/" target="_blank">Chevrolet</a></li>
                        <li><a href="https://www.nissan.in/" target="_blank">Nissan</a></li>
                        <li><a href="http://www.mahindra.com/business/automotive" target="_blank">Mahindra</a></li>
                    </ul>
                </div>
<!--
                </div>
            </div>
-->
            <div class="fr social fix_social">
                <a href="http://twitter.com/theclickgarage" target="_blank" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
                <a href="http://facebook.com/theclickgarage" target="_blank" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                <a href="http://plus.google.com/+theclickgarage" target="_blank" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
            <!--<div class="fr social">-->
<!--&lt;!&nd                    <script src="../../static/js/social.js"></script>&ndash;&gt;-->
                <!--<a href="http://twitter.com/theclickgarage"  target="_blank" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>-->
                <!--<a href="http://facebook.com/theclickgarage"  target="_blank" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>-->
                <!--<a href="http://plus.google.com/+theclickgarage" target="_blank" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>-->
            </div>
            <div class="fl company fix_name"><i class="fa fa-copyright"></i>Sui Generis Innovations Pvt. Ltd.</div>
        </div>
    </div>


<div class="login-modal-container bootstrap-wrapper modal-container" style="display: none;">
    {% include "website/login-popup.html" %}
</div>
<div style="display: none;">
{% if cars %}
    <ul>
    {% for car in cars %}
        <li>{{ car.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No cars are available.</p>
{% endif %}
</div>

<!--Google Analytics Script-->
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68064927-1', 'auto');
  ga('send', 'pageview');

</script>


<!-- feedback code -->
<!--<script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>-->
<!--<script type="text/javascript">-->
    <!--FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=Feedback&searchArea=no&responsive=no", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Feedback", "buttonColor": "white", "buttonBg": "#4D5B94", "alignment": "2", "offset": "350px", "formHeight": "400px", "responsive": "no", "url": "https://clickgarage.freshdesk.com"} );-->
<!--</script>-->

<!--//widget code//-->
<!-- BEGIN JIVOSITE CODE {literal} -->
<!--<script type='text/javascript'>-->
<!--(function(){ var widget_id = 'yYPdRxqbyl';-->
<!--var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>-->
<!-- {/literal} END JIVOSITE CODE -->

<!--tawk.to-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5687bb1cbc4176802560a8a2/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
