<div class="modal fade login" id="loginModal" aria-hidden="false" style="display: block;">
    <div class="modal-dialog login animated fix_modaldialog">
        <div class="modal-content">
            <div class="modal-header none-i">
                <button type="button" class="close none-i" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" style="text-align:center;">Login with</h4>
            </div>
            <div class="modal-body fix_modalbody">
                <div class="box">
                    {% if user and not user.is_anonymous %}
                    <div class="content">
                          <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                            <br>
                        <p>{{ user.name }}</p>
                          <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>

                    </div>
                   {% else %}

                    <div class="content">
                        <div class="social">
                            <h2>Sign In with</h2>
                            <div>
                            <a id="google_login" class="circle google fix_logincircle" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next_url }}">
                                <i class="fa fa-google-plus fa-fw"></i>
                            </a>
                                or
                            <a style=" height: 50px; width: 2px; background-color: #000; vertical-align: bottom;"></a>
                            <a id="facebook_login" class="circle facebook fix_logincircle" href="{% url 'social:begin' 'facebook' %}?next={{ next_url }}">
                                <i class="fa fa-facebook fa-fw"></i>
                            </a>
                            </div>
                           <div>
                            <a id="" class="circle google fix_logincircle " style="background-color: transparent; color: #F74933; margin-right: 17px;">
                                <!--<i>Google</i>-->
                            </a>
                            <a id="" class="circle facebook "  style="background-color: transparent; color: #455CA8; margin-left: 20px;">
                                <!--<i>Facebook</i>-->
                            </a>
                            </div>

                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>

                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>

                        <div class="form loginBox">
                                <input id="phone" class="form-control" type="text" placeholder="Phone" name="phone">
                                <input id="name" class="form-control" type="text" placeholder="Name" name="name" style="display: none;">
                                <input id="otp" class="form-control" type="password" placeholder="One Time Password" name="otp" style="display: none;">
                            <div class="error-msg" style="display: none;"></div>
                                <input class="btn btn-default otp-btn" type="submit" value="Send OTP">
                                <input class="btn btn-default otp-login login-btn" type="submit" value="Login" style="display: none;">
                        </div>

                        <div class="form loginBox none-i">
                            <form method="post" action="/auth/" data-remote="true" accept-charset="UTF-8"> {% csrf_token %}
                                <input id="name" class="form-control" type="text" placeholder="Name" name="name">
                                <input id="phone" class="form-control" type="text" placeholder="Phone" name="name">
                                <!--<input id="password" class="form-control" type="password" placeholder="Password"-->
                                       <!--name="password">-->
                                <input class="btn btn-default btn-login" type="submit" value="Login">
{#                                       onclick="Commons.loginAjax()">#}
                            </form>
                        </div>
                    </div>
                   {% endif %}

                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <form method="post" html="{:multipart=>true}" data-remote="true" action="/signup/"
                                  accept-charset="UTF-8">{% csrf_token %}
                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password" class="form-control" type="password" placeholder="Password"
                                       name="password">
                                <input id="password_confirmation" class="form-control" type="password"
                                       placeholder="Repeat Password" name="password_confirmation">
                                <input class="btn btn-default btn-register" type="submit" value="Create account"
                                       name="commit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer none-i">
                <div class="forgot login-footer">
                            <span>Looking to
                                 <a href="javascript: Commons.showRegisterForm();">create an account</a>
                            ?</span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Already have an account?</span>
                    <a href="javascript: Commons.showLoginForm();">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>