<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
   <title>ClickGarage - Car and Bike Servicing, Cleaning</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="../../static/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "less/styles.less" %}" />
    <script type="text/javascript" src="{%  static "js/legacy/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/json2html.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/legacy/jquery.json2html.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/plugin.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/common.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/service-schedule.js" %}"></script>
    <script src="{%  static "js/legacy/less.min.js" %}"></script>
<!--    <script type="text/javascript" src="{%  static "js/legacy/jquery-2.1.4.min.js" %}"></script>    -->

    {% load js %}
    <script type="text/javascript">
        Global.carSelected = {{ carSelected | js}};
        Global.carData = {{ cars | js}};
    </script>

{#    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>#}

</head>
<body class="service-schedule-body order-body">
    <div class="solid-header">
        {% include "website/dash-header.html" %}
    </div>
    <div class="pane order-pane">        
        <div class="centered-content">                      
            <div class="content-holder">
                <div class="warning-text-div">
                    This service schedule can be outdated because of modifications in the newer variants or error in reporting. Please refer to the manufacturer's website or your service manual for the latest and most accurate service schedule.
                </div>
                <div class="selected-data-holder" id="selected-details">
                    <div class="sel-car-holder">
                        <div class="icon-holder">
                        </div>
                        <div class="detail-holder">
                            <span class="c-make"></span>
                            <span class="c-name"></span>
                        </div>
                        <div class="edit-btn"><i class="fa fa-pencil"></i><i class="label"> Edit</i></div>
                    </div>
                    <div class="sel-serv-holder" style="display: none;">

                    </div>
                </div>
                
                <div class="section-select-holder">
                    <div class="section-box ">
                        <div class="schedule-table">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="overlay overlay-pat"></div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68064927-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>