<div class="white-area">

    <div class="sms-entry" id="sms-entry1">
        <div class="sms-content" id="sms-content1">
            <p>Hi Mr.Anurag Jain! We have assigned our AutoExpert Mr.Sant Kumar (Mob: 9015032784) for assisting you during your appointment. He will get in touch with you shortly. Your bike will be serviced at the closest service center - TCS Bajaj (S-8, Okhla Industrial Area, Phase II)	
            </p>
        </div>
        <div class="send-button-div">
            <button class="send-button" id="send-button1">Send this SMS</button>
        </div>        
    </div>
    
    <div class="sms-entry" id="sms-entry2">
        <div class="sms-content" id="sms-content2">
            <p>Hi Mr.Anurag Jain, our driver Ajay (Mob: 9911090423 | Details : http://bit.ly/1ZGEaR4 ) is out to pick your bike. He will reach your location between 11:00AM-11:30AM. Kindly keep your RC and Service Booklet handy.
            </p>
        </div>
        <div class="send-button-div">
            <button class="send-button" id="send-button1">Send this SMS</button>
        </div>
    </div>
    
    <div class="sms-entry" id="sms-entry3">
        <div class="sms-content" id="sms-content3">
            <p>Hi Mr.Anurag Jain, your bike was safely checked-in at TCS Bajaj (S-8, Okhla Industrial Area, Phase II) at 03:27AM. A revised cost estimate will be shared wih you post inspection.	
            </p>
        </div>
        <div class="send-button-div">
            <button class="send-button" id="send-button1">Send this SMS</button>
        </div>
    </div>
    
    <div class="sms-entry" id="sms-entry4">
        <div class="sms-content" id="sms-content4">
            <p>Hi Mr.Anurag Jain, our driver Ajay (Mob: 9911090423) is out to deliver your vehicle. He will need the due payment (Rs.) & receiving form for handing over the bike.	
            </p>
        </div>
        <div class="send-button-div">
            <button class="send-button" id="send-button1">Send this SMS</button>
        </div>
    </div>
    
    <div class="sms-entry" id="sms-entry5">
        <div class="sms-content" id="sms-content5">
            <p>Hi Mr.Anurag Jain, your bike was dropped by our driver. It was a pleasure serving you. Kindly share your valuable feedback by replying to our short survey email.
            </p>
        </div>
        <div class="send-button-div">
            <button class="send-button" id="send-button1">Send this SMS</button>
        </div>
    </div>
    
</div>    


<!--
Hi Mr.Anurag Jain! We have assigned our AutoExpert Mr.Sant Kumar (Mob: 9015032784) for assisting you during your appointment. He will get in touch with you shortly. Your bike will be serviced at the closest service center - TCS Bajaj (S-8, Okhla Industrial Area, Phase II)	

Hi Mr.Anurag Jain!  Your bike will be serviced at the closest service center - TCS Bajaj (S-8, Okhla Industrial Area, Phase II)	

Hi Mr.Anurag Jain, our driver Ajay (Mob: 9911090423 | Details : http://bit.ly/1ZGEaR4 ) is out to pick your bike. He will reach your location between 11:00AM-11:30AM. Kindly keep your RC and Service Booklet handy.	

Hi Mr.Anurag Jain, your bike was safely checked-in at TCS Bajaj (S-8, Okhla Industrial Area, Phase II) at 03:27AM. A revised cost estimate will be shared wih you post inspection.	

Hi Mr.Anurag Jain, our driver Ajay (Mob: 9911090423) is out to deliver your vehicle. He will need the due payment (Rs.) & receiving form for handing over the bike.	

Hi Mr.Anurag Jain, your bike was dropped by our driver. It was a pleasure serving you. Kindly share your valuable feedback by replying to our short survey email.
-->
