a { color: #e8554e; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin-bottom: 20px; }

address { font-style: normal; }


.wrapper { position: relative; background-color: white; -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); *zoom: 1; margin-top: 80px; margin-bottom: 140px; }
.wrapper:after { content: ""; display: table; clear: both; }
#register-link { position: absolute; right: 0; top: -30px; }
#contact-form { position: relative; display: inline; float: left; width: 622px; padding: 25px 30px; }
#contact-form .submit-row { text-align: right; }
#contact-info {position: absolute; right: 0; top: 0; height: 100%; border: 10px solid white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 306px; padding: 30px 25px; background: white url('../img/pattern_contacts.png') repeat;     background-size: 300px auto; }
#contact-info dt { text-transform: uppercase; font-family: "brandon-grotesque", Helvetica, Arial, sans-serif; font-weight: 700; letter-spacing: 1px; font-size: 12px; color: #e8554e; }
#contact-info dd { margin-bottom: 25px; }
#contact-info dd, #contact-info dd a { color: #204a65; }
#contact-info .social-links a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../img/icons.png?1381413743'); background-repeat: no-repeat; background-position: 50% 50%; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; width: 32px; height: 48px; margin-right: 5px; }
#contact-info .social-links a.fb { background-position: -592px -72px; }
#contact-info .social-links a.tt { background-position: -592px -8px; }
.contact{overflow: hidden;}
.header-strip{z-index: 200;}
.info{background-color: blue;
    overflow: hidden;
    height: inherit;
font-size:14px;}

.note{
    font-family: Raleway;
    font-size: 14px;

}

.styled-form .pagetitle { margin-bottom: 5px; }
.styled-form .note { margin-bottom: 40px; }
.styled-form input[type=text], .styled-form input[type=password], .styled-form textarea { background-color: #e1e1db; width: 100%; padding: 12px 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-family: "museo-slab", Georgia, serif; }
.styled-form input[type=text]:focus, .styled-form input[type=password]:focus, .styled-form textarea:focus { background-color: #fff9b2; }
.styled-form label { display: block; font-family: "brandon-grotesque", Helvetica, Arial, sans-serif; font-weight: 700; letter-spacing: 1px; font-size: 11px; line-height: 20px; text-transform: uppercase; color: #4e4e4d; }
.styled-form label.checkbox { font-family: "museo-slab", Georgia, serif; font-weight: 300; color: #787876; text-transform: none; font-size: 13px; letter-spacing: 0; }
.styled-form .field { display: block; }
.styled-form .error { color: red; font-size: 12px; margin-top: 2px; display: block; }
.styled-form .row { display: inline; float: left; *zoom: 1; width: 100%; }
.styled-form .row:after { content: ""; display: table; clear: both; }
.styled-form .row.half { width: 46%; margin-left: 8%; }
.styled-form .row.half.first { margin-left: 0; clear: left; }
.styled-form .submit-row { clear: both;}



/*.competition-modal .modal-content { width: 840px; height: 302px; min-height: 300px; top: 50%; margin-top: -151px; }*/

.pagetitle { color: #204a65; font-size: 35px; line-height: 40px; margin-bottom: 30px; font-weight: 300; }
hgroup.pagetitle h1, hgroup.pagetitle h2 { font-weight: 300; }
hgroup.pagetitle h1 { font-size: 46px; line-height: 54px; }
hgroup.pagetitle h2 { text-transform: uppercase; font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: 700; letter-spacing: 1px; font-size: 12px; color: #e8554e; }

button[type=submit], .button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; white-space: nowrap; position: relative; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; font-family: "brandon-grotesque", Helvetica, Arial, sans-serif; font-weight: 700; letter-spacing: 2px; font-size: 14px; line-height: 14px; text-transform: uppercase; color: white; background-color: #e8554e; cursor: pointer; border-bottom: 5px solid #9a3834; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-transition: none 125ms ease-out; -webkit-transition-delay: 0; -moz-transition: none 125ms ease-out 0; -o-transition: none 125ms ease-out 0; transition: none 125ms ease-out 0; -webkit-transition-property: background-color, color; -moz-transition-property: background-color, color; -o-transition-property: background-color, color; transition-property: background-color, color; padding: 10px 55px; }
button[type=submit]:hover, .button:hover { background-color: #fa5c54; text-decoration: none; }
button[type=submit]:active, .button:active { border-bottom-width: 0; margin-bottom: 5px; top: 5px; }
button[type=submit].large, .button.large { padding: 18px 35px; }
button[type=submit].simple, .button.simple { background-color: #e0e5e2; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; color: #768f9d; font-size: 13px; line-height: 13px; padding-left: 80px; padding-right: 80px; }
button[type=submit].simple:hover, .button.simple:hover { background-color: white; color: #4b6d81; }
button[type=submit].simple:active, .button.simple:active { top: 0; margin-bottom: 0; }


* { border: 0; margin: 0; padding: 0; outline: 0; font-size: 100%; }