html,body{
margin:0;
background-color:#EFEFEF;
border:0;
height:100%; 
    padding: 0;
}

a:link{
text-decoration:none;

}
.main-content{
    font:18px roboto ;
    color:#616161;
    
}
.left_form{
 position: absolute;
    left: 24px;   
}
/*
section{
    
 margin-top: 50px;   
}
*/
a:hover { 
margin-bottom:2px;
margin-top:2px;
}
nav{
height:50px;
width:100%;
background:#333;
}


aside ul{
list-style:none;
margin:0 auto;
padding:0px;
}
aside{
 border:1px solid #d7d7d7;   
}
.outer-ul {
padding-top:12px;

}


.outer-ul li a{
   padding-left: 24px;
    display: block;   
    line-height: 30px

}
.inner-ul-1 li a , .inner-ul-2 li a{
   padding-left: 40px;
    display: block;
    line-height: 20px;   
}
aside ul li a:hover{
background:#4d5b94;
}
nav ul{
float:right;
}
nav ul li, nav ul button{
float:left;
padding:10px;
margin:5px;
}
nav ul li a{
color:white;
}
nav ul li a:hover{
color:#FFF;	
}
ul{
list-style:none;
margin:0 auto;
}

.hide{
 display: none;
}
.formcontainer{
position: relative;
max-width: 745px;
margin-top: 50px;
margin: 0 auto;    
height: 100vh;    
}
/*
form{
background:white;
padding:10px;
border-radius:5px;    
}
*/
form h2{
    
 font: 18px Roboto;
    font-weight: bold;
    line-height: 30px;
    color: #616161;   
}
.pad{
margin-bottom: 12px;
    height: 26px;
}	
.padtextarea{
 height: 72px;
    margin-bottom: 12px;   
}
.pad span{
 font:13.3px Roboto ;
    
float:right;    
}


form{
 width:350px;   
}
#left-form{
display:flex;

}	
input{
line-height: 24px;
height: 24px;
border:1px solid #ccc;    
display: inline-table;
vertical-align: middle;
float: right;
padding:0;
margin-right: 37px;
border-radius: 4px;
}
textarea{
float: right;
border: 1px solid #ccc;
border-radius: 4px;
height: 72px;   
display: inline-table;
vertical-align: top;
    padding: 0;
    margin-right: 37px;
    width: 169px;
}


.saved_info_container{

max-width:430px;
margin-left: 25px;
background-color: white;
padding: 20px 20px 0 20px;
max-height:330px;
border-radius:5px;    
}
.saved_info{

display:flex;
flex-direction:row;
}
.saved_info_left{
background:red;
padding:10px;
}
.saved_info_right{
margin-left:20px;
background:red;
padding:10px;
}


.panel{

margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
box-shadow: none;   
   border-radius: 4px;
   border-color: #ddd;
}

#container_orders_upcoming{

position:absolute;
top:900px;
left:250px;

}

aside ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
label{
 line-height: 26px;
font:14px Roboto ;
color:#616161;    
    
}

.tablecontainer{
display:flex;
padding-right: 15px;
padding-left: 24px;
margin-right: auto;
margin-left: auto;
justify-content:flex-start;

table thead{
 font:Roboto 18px;
    font-weight: bold;
}

}
#completed{
 padding-top:12px;   
}
 #completed .panel{
     border:0;   
    }
table{
border: 0;
border-collapse: collapse;
}

#completed > div > table > tbody > tr:nth-child(1) > td{

    line-height: 25px;
    padding-bottom: 0;
    height: 25px;
    font-size: 12px;
    font-family:Roboto;
    font-weight: bold;
    text-align: center;
    color: #000;
}

#completed > div > table > tbody > tr p{
    height: 20px;
    font-size: 11px;
    
    vertical-align: -webkit-baseline-middle;
    font-family: :Roboto;
    font-weight: normal;
    text-align: center;
    color: #000;
}
#completed > div > table > tbody > tr > td div{
    margin-bottom: 8px;
 height: 32px;
    background: grey;
}
table tr td button{
 margin-top:10px;
    margin-left: 4px;   
}