
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:600,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);

body{
    font-family: Lato;
   color: #616161 ;
}
/*
.menu-small-btn{
line-height: 14px;
}

.ui-panel-wrapper{
    background: transparent;
}
.ui-panel-wrapper .ui-content{
    padding: 0px;
}
.ui-panel-wrapper .ui-header{
    position: absolute;
    z-index: 99;
}
*/
body div .ui-shadow{
    -webkit-box-shadow:none;/* 0 1px 3px rgba(0,0,0,.15);*/
    -moz-box-shadow:none; /* 0 1px 3px rgba(0,0,0,.15);*/
    box-shadow:none;/* 0 1px 3px rgba(0,0,0,.15);*/
}
body div .ui-btn, body div label.ui-btn{
    border-width: 0px;
}
body div .ui-corner-all,
body div .ui-btn.ui-corner-all,
body div .ui-slider-track.ui-corner-all,
body div .ui-flipswitch.ui-corner-all,
body div .ui-li-count{
    border-radius: 0;
}
body div .ui-overlay-shadow{
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.6);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.6);
    box-shadow: 0 0 4px rgba(0,0,0,.6);
}
body div.ui-dialog-contain .ui-content{
    padding: 1em;
}
.cb-select-wrapper input{
    /*display:  none;*/
}
.cb-select-wrapper .ui-controlgroup-controls {
    margin-left: 0%;
    width: 100%;
}
.cb-select-wrapper .ui-controlgroup-controls .ui-radio{
    width: 50%;
}
.cb-select-wrapper .ui-controlgroup-controls label{
    text-align: center;
}
.ui-page{
    background: #fff;
}
#menuA .ui-header{
    position: relative;
}
#menuA .ui-header img{
    max-width: 98%;
    margin-left: 1%;

}
#menuA .ui-panel-inner{
    padding: 0px;
}
#menuA .ui-header .cardetails{
    position: absolute;
    bottom: 4px;
    left: 8px;
}
#menuA .ui-header .userdetails{
    position: absolute;
    bottom: 24px;
    left: 8px;
}

#menuA .ui-header  .title-text{
    color: #fff;
    text-shadow: none;
    font-weight: 700;
    font-size: 16px;
}
#menuA .ui-header  .sub-text{
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 12px;
}

/* Landing Page Styles - Sanskar*/
.landing-page .top-pane{
    min-height: 50%;
    background: #1f1f29 url('/img/home_bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 542px;
    background-position-y: 100%;
}
.landing-page .top-pane .title-holder{
    color: #fff;
    text-align: center;
    padding: 24px 12px;
}
.landing-page .top-pane .title-holder .title{
    font-family: "Lato";
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    text-shadow: none;
}
.landing-page .top-pane .title-holder .sub-text{
    text-align: center;
    color: #fff;
    margin-top: 0px;
    line-height: 24px;
    font-family: Lato;
    position: relative;
    text-shadow:none;
}
.landing-page .top-pane #car-select-btn{
    background-color: #fff;
    border: 2px solid #fff;
    margin: 24px;
}
.landing-page {
/*    background: #4a148c;*/
}
.landing-page .about-wrapper .ui-listview{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.landing-page .about-wrapper .about-item-detail{
    background: #fff;
    height: 80px;
}
.landing-page .about-wrapper .about-item-detail img, .landing-page .about-wrapper .about-item-detail img:first-child{
    top:11px;
    left: 10px;
}
.landing-page .hiw-wrapper .ui-grid-b{
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 12px;
}
.landing-page .hiw-wrapper .ui-grid-b:last-child{
    border-bottom: none;
}
.landing-page .hiw-wrapper .ui-grid-b > .ui-block-span2{
    width: 66%;
}
.landing-page .hiw-wrapper .img-wrap > img{
    max-width: 100%;
    max-height: 108px;
    /*top:6px;*/
    /*left: 6px;*/
}
.landing-page .hiw-wrapper .img-wrap{
    min-height: 120px;
    text-align: center;
    padding: 6px 0px;
}
.landing-page .ui-panel-wrapper{
    background: transparent;
}

.landing-page .ui-field-contain{
    border-bottom-width: 0px;
}
.landing-page .cb-select-wrapper{
    border-top: solid 1px rgba(0,0,0,.15);
}

.landing-page #logo {
    display: block;
    max-width: 50%;
/*    max-height: 100%;*/
    margin-top: 2%;
/*    margin-bottom: 10%;*/
    margin-left: auto;
    margin-right: auto;
}

.landing-page .ui-btn {
    /*margin-left: 5%;*/
    /*margin-right: 5%;        */
}

.landing-page .ui-field-contain .ui-select{
/*    width: 90%;        */
}

.landing-page .ui-btn-corner-all{
        border-radius: 0px;
}    

.landing-page form #submit-button{
    background: #e89b76;
}

.landing-page form .ui-btn-up-c{
    color: #fff;
}

.landing-page #hidden-car-id{
    display: none;
}
.landing-page .bottom-pane .list-item-title{
    line-height: 24px;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
}
.landing-page .bottom-pane .list-item-text{
    white-space: pre-line;
    font-size: 12px;
    line-height: 18px;
    font-family: Lato;
    font-weight: 300;
}

.landing-page .bottom-pane #contact-info {
    /*position: absolute; right: 0; top: 0; height: 100%; */
    border: 10px solid white;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    /*width: 306px; */
    /*padding: 30px 25px; */
    background: white url('../img/pattern_contacts.png') repeat;
    background-size: 300px auto;
    text-align: center;
}
.landing-page .bottom-pane dt {
    text-transform: uppercase; font-family: Lato, Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: 1px; font-size: 12px; color: #e8554e;
}
.landing-page .bottom-pane #contact-info dd {
    margin-bottom: 25px; margin-left:0px;
    font-weight: 300; font-size: 12px;
}
.landing-page .bottom-pane #contact-info dd address{
    font-weight: 400; font-size: 12px;
    font-style: normal;
}
.landing-page .bottom-pane #contact-info dd, .landing-page .bottom-pane #contact-info dd a { color: #204a65; text-decoration: none; }
.landing-page .bottom-pane #contact-info .social-links a {
    text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../img/icons.png?1381413743'); background-repeat: no-repeat; background-position: 50% 50%; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; width: 32px; height: 48px; margin-right: 5px;
    font-weight: 300; font-size: 12px;
}
.landing-page .bottom-pane #contact-info .social-links a.fb { background-position: -592px -72px; }
.landing-page .bottom-pane #contact-info .social-links a.tt { background-position: -592px -8px; }


/*<Shashwat styling>*/

/*Step 2 styling*/

.order-body #order-page-service-div{
    display: none;
}

.order-body{
    font-size:20px;
    background:#fff;
    font-family:Lato;
    text-shadow: none;

}

.order-body .service-img-holder{
 position:relative;
}

.order-body .service-selection{
 position:relative;
}

.order-body .category-name{
    color:#ffffff;
    position:absolute;
    bottom:20px;
    width:100px;
    margin-left: -50px;
    left: 50%;
    z-index:10;
}

.order-body .selected-category{
    padding: 30px 0px;
    background:#eaeaea;
    text-align: center;
    color:#4a148c;

}

.order-body .list-services{
    margin: 0px;
}
.order-body .ui-btn{
    font-family:lato;
    background-color: #ffffff;
}

.order-body .ui-btn .header-div{
    font-size:16px;
    font-weight:700;
    font-family: Lato;
    color: #616161;
    white-space: nowrap;
}

.order-body .description{
    font-weight: 200;
    font-size: 10px;
    white-space: pre-wrap;
}
.order-body .service-list li a{
    white-space: normal;
}

.order-body .parts-div{
    margin-top: 12px;
    white-space: pre-wrap;
    text-shadow: none;
    text-align: left;
}

.order-body .parts-div .action-wrapper{
    margin-top:12px;
    font-weight: 700;
    line-height: 18px;
}
.order-body .parts-div .action-wrapper .action-name::after{
  content:":";
  float:right;
}
.order-body .parts-div .action-wrapper .action-name{
  float: left;
  font-size: 14px;
  line-height: 18px;
  padding-right: 6px;
    color:#333;
  /*width: 125px;*/
}
.order-body .parts-div .action-wrapper .action-list{
    clear:both;
  /*margin-left:135px;*/
}
.order-body .parts-div .show-hide{

}
.order-body .parts-div.minimized{
    max-height: 150px;
    overflow: hidden;
    position: relative;
}
.order-body .parts-div.maximized{
    position: relative;
    padding-bottom: 18px;
}
.order-body .parts-div.minimized .show-hide::after{
    color:#002a80;
    /*float: right;*/
    content:"show-more";
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255,255,255,0.5);
    font-size: 12px;
    padding: 4px 2px;
}
.order-body .parts-div.maximized .show-hide::after{
    color:#002a80;
    float: right;
    content:"show-less";
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255,255,255,0.5);
    font-size: 12px;
    padding: 4px 2px;
}
.order-body .parts-div .token-class{
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    line-height: 18px;
color:#4a148c;
    margin-right: 12px;
    white-space: nowrap;

}
.order-body .parts-div .token-class::after{
content:",";
}
.order-body .parts-div .token-class:last-child::after{
content:"";
}

.order-body .parts-notif{
    font-size: 14px;
    float: left;
    text-align: left;
}
.order-body .part{
    display: inline-block;
	font-size: 10px;  background: #4a148c;
	border: 1px solid #4a148c;
	border-radius: 12px;
	line-height: 18px;
	padding: 3px 6px;
	color:#fff;
	margin-right: 12px;
	white-space: nowrap;
    font-weight: 100;
    margin-top: 5px;
}

.order-body .checks-div{
    text-shadow: none;
display: inline-block;
font-size: 10px;
background: #4a148c;
border: 1px solid #4a148c;
border-radius: 12px;
line-height: 18px;
padding: 3px 6px;
color:#fff;
margin-right: 12px;
white-space: nowrap;
    font-weight: 200;
    padding-bottom: 5px;
    margin-top: 5px;
}

.order-body .ui-listview{
    margin: 0px;
}

.order-body .ui-btn img{
    border:1px solid #000000;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}
.order-body img{
    /*width:100%;*/
}

/*step 3 styling*/

.selected-category .header .odo-read{
    font-size:16px;
    font-weight:700;
    font-family: Lato;
    color: #616161;
}
.selected-category .header .sub-cat{
    font-size:10px;
    font-weight:300;
    font-family: Lato;
    color: #616161;
}

.vendor-list .ui-btn{
    font-size:16px;
    font-weight:700;
    font-family: Lato;
    color: #616161;
}

.vendor-list .ui-btn .prices{
    font-size:12px;
    font-weight:300;
    padding-top: 5px;
}

.vendor-list .total-row{
    font-size:14px;
    font-weight:700;
}

.vendor-list .vendor-name{

}

.vendor-list .doorstep{
    text-shadow: none;
display: inline-block;
font-size: 10px;
background: #d81b60;
border: 1px solid #d81b60;
border-radius: 12px;
line-height: 18px;
padding: 3px 6px;
color:#fff;
margin-right: 12px;
white-space: nowrap;
    font-weight: 200;
    padding-bottom: 5px;
    margin-top: 5px;

}

.vendor-list .service-name{
    font-weight: 400;
    white-space: normal;
}
.vendor-list .description{
white-space: pre-wrap;
}


/* Cart Page Styles - Sanskar */

.cart #continue-shopping {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #64dd17;
}

.cart #checkout {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e89b76;
}

.cart-body .service-selection{
    position: relative;
}
.cart-body .service-selection .selected-category{
    padding: 30px 0px;
    background:#eaeaea;
    text-align: center;
    color:#4a148c;

}


/* login Page Styles - Sanskar */

.login-page h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.login-page #facebook{
    background-color: #4a148c;
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
    align-self: left;
}

.login-page #google {
    background-color: #e74c3c;
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

.login-page a img {
    float: left;
}

.login-page .text-box {
    margin-left: 5%;
    margin-right: 5%;
}

.login-page .text-box #name,#password2 {
    display: none;
}

.login-page #login-btn,#signup-btn {
    background-color: #ff5722;
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

.login-page #signup-btn {
    display: none;
}

.login-page .login-link{
    display:none;
}

/*
new stuff
*/
.login-page #otp-btn{
    margin-left: 5%;
    margin-right: 5%;
}
.login-page #login-btn{
    display: block;
}
.login-page .text-box #name,#otp {
    display: block;
}
.login-page .error-msg {
    display: none;
}


/*
new stuff
*/


/*for services selection page (second page) - Bhuvan*/


/*.ui-panel-wrapper{*/
				/*background: url('../img/tools-pat.png');*/
				/*background-size: 300px auto;*/
				/*opacity: .12;*/
				/*z-index: 10;*/
			/*}*/

#service-page-car{
    text-align: center;
}

.service-img-wrapper{

	padding:5px;
}
.padded{
	padding:5px;
}

.service-img{
	width:100%;
	border-radius: 10px;
}

.menu-toggle-btn{
    margin: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    
    span{
        background: #1d1d1b;
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        margin-bottom: 5px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.3s linear;
    }
    &.open{
        span{
            &:nth-child(1),
            &:nth-child(3){
                transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
                    margin: 0;
            }
            &:nth-child(2){
            display: block;
/*                height: 0;*/
                    margin: 0;
            }
            &:nth-child(3){
                transform: translate(0px, 9px) rotate(45deg) scalex(1.3);               
            }
        }
    }
}



/*Header styling - Sanskar*/
/*
header-box {
    background: #4a148c;
    float: left;
    margin-bottom: 5%;
}
*/

/*
.header-box .hamburger-icon {
    margin-left: 5%;
    float: left;
    text-decoration: none;
    font-size: 2em;
    color: #fff;
}

.header-box .header-logo {
    display: block;
    margin-left: 15%;
    width:20%;
}
*/

/*
.menu-small-btn{
line-height: 10px;
}
*/

/*Start - Header Styling - Bhuvan */
.header-body {
    background-color: #4a148c !important;
    border: 0;
}

.header-body .call-helpline{
    background-color: #4a148c !important;
    border: none;
}

.header-body .ui-title {
    color: #fff;
    text-shadow: none;
    font-family: Raleway;
    font-style: initial;
    font-weight: 400;
    font-size: 15px;
   
}
.hlogo{
    padding-left: 5px;
    padding-top: 5px;
}
.hlogo img{
    max-height: 32px;
}
/*End - Header Styling - Bhuvan */

/*Start - Checkout form - Bhuvan*/
form{
color:#4a148c;
font-family: Raleway;
font-size:80%;
font-style: normal;
font-variant: normal;
font-weight: 400;
line-height: 20px;
}

form .ui-input-text{
    border-width: 0px;
}

form label.error {
    color:crimson;
    font-size: small;
}
/*End - Checkout form - Bhuvan*/
/*Start - Emergency - Bhuvan*/
.emergency-body{
    font-size:20px;
    background:#fff;
    font-family:Lato;
    text-shadow: none;

}
.additional-body .ui-content fieldset, .denting-body .ui-content fieldset, .diagnostics-body .ui-content fieldset{
    margin-bottom: 12px;
}
/*.emergency-body .ui-content{*/
    /*padding:0px;*/
/*}*/

/*.emergency-body .ui-listview{*/
    /*margin: 0px;*/
/*}*/


/*End - Emergency - Bhuvan*/

/* Start -  Denting styling*/

.denting-body{
    font-size:20px;
    background:#fff;
    font-family:Lato;
    text-shadow: none;

}

.denting-body .dent-form fieldset .label-2{
    float:left;
    width: 20%;
    margin: .5em 2% 0 0;
}
.denting-body .dent-form fieldset .label-3{
    min-height: 105px;
}

/*.denting-body .ui-content{*/
    /*padding:0px;*/
/*}*/

/*.denting-body .ui-listview{*/
    /*margin: 0px;*/
/*}*/
/* End -  Denting styling*/

.panel-img {
    width: 160px;
    height: 100px;
    padding-top: 59px !important;
}
.service-img-holder img{
    width: 100%;
}
.service-list .list-services{
    margin: 0px;
}
.service-list .list-services li a{
    background: #fff !important;
    margin: 0px;
}
.service-list .list-services li a:active{
    background: #e8e8e8 !important;
    margin: 0px;
}

.booking-body .header-wrapper{
    margin-top: 6px;
    margin-bottom: 8px;
    padding-top: 22px;
    padding-bottom: 13px;
    padding-left: 15px;
}

/*.booking-body .header-wrapper .booking {*/
    /*display: inline;*/
    /*max-height: 440px!important;*/
/*}*/

.booking-body .header-wrapper .booking_id{
    float:left;
    width: 30px;
}
.booking-body .header-wrapper .booking_car{
    margin-left: 40px;
}
.booking-body .header-wrapper .booking_date{
    margin-left: 40px;
}
.booking-body .top-row {
    border-bottom: 1px solid #333;
    padding-bottom: 12px;
}
.booking-body .header-wrapper .booking_date{
    margin-left: 40px;
}
.booking-body .detail-wrapper {
    /*float: right;*/
    padding: 6px;
    text-align: center;
}
.booking-body .detail-wrapper .cancel-booking-btn{
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 9px 6px 9px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    clear: both;

    background: #fcae8a;
    background-image: -webkit-linear-gradient(top, #fcae8a, #e89a76);
    background-image: -moz-linear-gradient(top, #fcae8a, #e89a76);
    background-image: -ms-linear-gradient(top, #fcae8a, #e89a76);
    background-image: -o-linear-gradient(top, #fcae8a, #e89a76);
    background-image: linear-gradient(to bottom, #fcae8a, #e89a76);

    border: 1px solid #e89a76;
    box-sizing: border-box;
}
.booking-body .detail-wrapper .cancel-booking-btn.cancelled{
    background: #ccc;
    border: #fff;
}