
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:600,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);

/*
.menu-small-btn{
line-height: 14px;
}

.ui-panel-wrapper{
    background: transparent;
}
.ui-panel-wrapper .ui-content{
    padding: 0px;
}
.ui-panel-wrapper .ui-header{
    position: absolute;
    z-index: 99;
}
*/


/* Landing Page Styles - Sanskar*/
.landing-page {
/*    background: #4d5b94;*/
}

.landing-page .ui-panel-wrapper{
    background: transparent;
}

.landing-page #logo {
    display: block;
    max-width: 50%;
/*    max-height: 100%;*/
    margin-top: 2%;
/*    margin-bottom: 10%;*/
    margin-left: auto;
    margin-right: auto;
}

.landing-page .ui-btn {
    margin-left: 5%;
    margin-right: 5%;        
}

.landing-page .ui-field-contain .ui-select{
/*    width: 90%;        */
}

.landing-page .ui-btn-corner-all{
        border-radius: 0px;
}    

.landing-page form #submit-button{
    background: #e89b76;
}

.landing-page form .ui-btn-up-c{
    color: #fff;
}

.landing-page #hidden-car-id{
    display: none;
}
    
/*<Shashwat styling>*/

/*Step 2 styling*/

.order-body #order-page-service-div{
    display: none;
}

.order-body{
    font-size:20px;
    background:#fff;
    font-family:Lato;
    text-shadow: none;

}

.order-body .service-image-holder{
 position:relative;
}

.order-body .service-selection{
 position:relative;
}

.order-body .category-name{
    color:#ffffff;
    position:absolute;
    bottom:20px;
    width:100px;
    margin-left: -50px;
    left: 50%;
    z-index:10;
}

.order-body .selected-category{
    padding: 30px 0px;
    background:#eaeaea;
    text-align: center;
    color:#4d5b94;

}

.order-body .list-services{
    margin: 0px;
}
.order-body .ui-btn{
    font-family:lato;
    background-color: #ffffff;
}

.order-body .ui-btn .header-div{
    font-size:16px;
    font-weight:700;
    font-family: Lato;
    color: #616161;
    white-space: nowrap;
}

.order-body .description{
    font-weight: 200;
    font-size: 10px;
    white-space: pre-wrap;
}

.order-body .parts-div{
    white-space: pre-wrap;
    text-shadow: none;
}

.order-body .part{
    display: inline-block;
	font-size: 10px;  background: #4d5b94;
	border: 1px solid #4d5b94;
	border-radius: 12px;
	line-height: 18px;
	padding: 3px 6px;
	color:#fff;
	margin-right: 12px;
	white-space: nowrap;
    font-weight: 100;
    margin-top: 5px;
}

.order-body .checks-div{
    text-shadow: none;
display: inline-block;
font-size: 10px;
background: #c65169;
border: 1px solid #c65169;
border-radius: 12px;
line-height: 18px;
padding: 3px 6px;
color:#fff;
margin-right: 12px;
white-space: nowrap;
    font-weight: 200;
    padding-bottom: 5px;
    margin-top: 5px;
}

.order-body .ui-listview{
    margin: 0px;
}

.order-body .ui-btn img{
    border:1px solid #000000;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}
.order-body img{
    width:100%;
}

/*step 3 styling*/

.selected-category .header .odo-read{
    font-size:16px;
    font-weight:700;
    font-family: Lato;
    color: #616161;
}
.selected-category .header .sub-cat{
    font-size:10px;
    font-weight:300;
    font-family: Lato;
    color: #616161;
}

.vendor-list .ui-btn{
    font-size:16px;
    font-weight:700;
    font-family: Lato;
    color: #616161;
}

.vendor-list .ui-btn .prices{
    font-size:12px;
    font-weight:300;
    padding-top: 5px;
}

.vendor-list .total-row{
    font-size:14px;
    font-weight:700;
}

.vendor-list .vendor-name{

}

.vendor-list .doorstep{
    text-shadow: none;
display: inline-block;
font-size: 10px;
background: #c65169;
border: 1px solid #c65169;
border-radius: 12px;
line-height: 18px;
padding: 3px 6px;
color:#fff;
margin-right: 12px;
white-space: nowrap;
    font-weight: 200;
    padding-bottom: 5px;
    margin-top: 5px;

}

.vendor-list .service-name{
font-weight: 400;
}
.vendor-list .description{
white-space: pre-wrap;
}


/* Cart Page Styles - Sanskar */

.cart #continue-shopping {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #64dd17;
}

.cart #checkout {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e89b76;
}



/* login Page Styles - Sanskar */

.login-page h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.login-page #facebook{
    background-color: #4d5b94;
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
    align-self: left;
}

.login-page #google {
    background-color: #e74c3c;
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

.login-page a img {
    float: left;
}

.login-page .text-box {
    margin-left: 5%;
    margin-right: 5%;
}

.login-page .text-box #name,#password2 {
    display: none;
}

.login-page #login-btn,#signup-btn {
    background-color: #ff5722;
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

.login-page #signup-btn {
    display: none;
}

.login-page .login-link{
    display:none;
}


/*for services selection page (second page) - Bhuvan*/


/*.ui-panel-wrapper{*/
				/*background: url('../img/tools-pat.png');*/
				/*background-size: 300px auto;*/
				/*opacity: .12;*/
				/*z-index: 10;*/
			/*}*/

#service-page-car{
    text-align: center;
}

.service-img-wrapper{

	padding:5px;
}
.padded{
	padding:5px;
}

.service-img{
	width:100%;
	border-radius: 10px;
}

.menu-toggle-btn{
    margin: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    
    span{
        background: #1d1d1b;
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        margin-bottom: 5px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.3s linear;
    }
    &.open{
        span{
            &:nth-child(1),
            &:nth-child(3){
                transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
                    margin: 0;
            }
            &:nth-child(2){
            display: block;
/*                height: 0;*/
                    margin: 0;
            }
            &:nth-child(3){
                transform: translate(0px, 9px) rotate(45deg) scalex(1.3);               
            }
        }
    }
}



/*Header styling - Sanskar*/
/*
header-box {
    background: #4d5b94;
    float: left;
    margin-bottom: 5%;
}
*/

/*
.header-box .hamburger-icon {
    margin-left: 5%;
    float: left;
    text-decoration: none;
    font-size: 2em;
    color: #fff;
}

.header-box .header-logo {
    display: block;
    margin-left: 15%;
    width:20%;
}
*/

/*
.menu-small-btn{
line-height: 10px;
}
*/

/*Start - Header Styling - Bhuvan */
.header-body {
    background-color: #4d5b94 !important;
}

.header-body .call-helpline{
    background-color: #4d5b94 !important;
    border: none;
}

.header-body h1 {
    color: #fff;
    text-shadow: none;
    font-family: Raleway;
    font-style: initial;
    font-weight: 400;
   
}
.hlogo{
    padding-left: 5px;
    padding-top: 5px;
}
/*End - Header Styling - Bhuvan */

/*Start - Checkout form - Bhuvan*/
form{
color:#4d5b94;
font-family: Raleway;
font-size:80%;
font-style: normal;
font-variant: normal;
font-weight: 400;
line-height: 20px;
}

form .ui-input-text{
    border-width: 0px;
}

form label.error {
    color:crimson;
    font-size: small;
}
/*End - Checkout form - Bhuvan*/