	<!DOCTYPE html>
	<html lang="en"><head>
		<meta charset="utf-8">

		<title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
		<meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
		<meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
		<meta property="og:image" content="../../static/revamp/img/Logo-Black.jpg"/>
		<meta name="viewport" content="width=device-width">

		<meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.clickgarage.in">
		<meta property="og:site_name" content="ClickGarage">
		<meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

		<!-- Styles -->
		<link rel="stylesheet" href="../../static/revamp/css/font-awesome.css">
		<link rel="stylesheet" href="../../static/revamp/css/animate.css">
		<link rel="stylesheet" href="../../static/revamp/css/styles.css">
		<!--<link rel="stylesheet" href="../../static/revamp/css/bootstrap.min.css">-->
		<link rel="stylesheet" href="../../static/revamp/css/materialize.min.css">
		<link rel="stylesheet" href="../../static/revamp/css/main.css">
		<link rel="stylesheet" href="../../static/revamp/css/custom-styles.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




		<!--<script src="../../static/revamp/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>-->

		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="../../static/revamp/img/favicon.png">
	</head>

	<body data-spy="scroll" data-target=".navbar">

	<!--Nav Bar -->
	<div class="navbar navbar-fixed">
		<nav>
			<div class="nav-wrapper navbar-custom">
				<div class="logo-cg">
				<a href="" class="brand-logo"><img class="logo-img" src="../../static/revamp/img/ClickGarage/logo-color-small1.png"></a>
				</div>
					<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down items-list">
					<li class ="learn-more-button"><a>Why Us?</a></li>
					<li class ="partners-button"><a>Partners</a></li>
					<li class ="testi-button"><a>Testimonials</a></li>
					<li class ="brands-button"><a>Brands</a></li>
					<li class ="contact-us-button"><a href="">Contact Us</a></li>
					<li><a href="#home">Book Now!</a></li>
				</ul>
				<ul class="side-nav items-list" id="mobile">
					<li class ="learn-more-button"><a>Why Us?</a></li>
					<li class ="partners-button"><a>Partners</a></li>
					<li class ="testi-button"><a>Testimonials</a></li>
					<li class ="brands-button"><a>Brands</a></li>
					<li class ="contact-us-button"><a href="">Contact Us</a></li>
					<li><a href="#home">Book Now!</a></li>
				</ul>
			</div>
		</nav>
	</div>




	<!--Home Section -->

	<section id="home">
		<div class="container-fluid">
			<div class="row">
				<div class = "col s12 m12 l6 infodiv">
					<div class="header-website hero-text fadeOnLoad " style="display:none;">
						<h1>Car & Bike Care</br></i>Made Easy</h1>
						<h4 class="list-features-header">One Stop Shop&nbsp;<i class="fa fa-circle x10 icon"></i>&nbsp;Doorstep Service&nbsp;<i class="fa fa-circle x10 icon"></i>&nbsp;Instant Cost Estimate


							<!--<ul class="list-features-header">-->
							<!--<li>One Stop Shop</li>&nbsp;<i class="fa fa-circle x10 icon"></i>&nbsp;-->
							<!--<li>Doorstep Service</li>&nbsp;<i class="fa fa-circle x10 icon"></i>&nbsp;-->
							<!--<li>Instant Cost Estimate</li>-->
							<!--</ul>-->
						</h4>
					<div class="row header-btn">
						<button class="btn waves-effect waves-light btn hide-on-large-only book-btn red cg-btn" href=""><i class="icon-chevron-down"></i>Book Now</button>
					</div>
					<div class="row header-btn">
						<button class="btn waves-effect waves-light btn red cg-btn learn-more"><i class="icon-chevron-down"></i>Learn More</button>
					</div>

						</div>
				</div>
				<div class = "home-form card col s12 m12 l6 hide-on-med-and-down">
					<div class="row form-title text-left">
						<h3><img src="../../static/revamp/img/by-line.png" alt="by-line">Book Service!</h3>
					</div>


					<div class="row text-left vehicle-details">
						<div class="row field-title text-left">
							<h4>Vehicle Details</h4>
						</div>
						<form id="formValidate">
						<div class="input-field col s12 m12 l5 " id="brand-select">
							<!--<i class="fa fa-car prefix"></i>-->
							<!--<select id="brand-select">-->
								<!--&lt;!&ndash;<option value="" disabled selected>Choose Make</option>&ndash;&gt;-->
								<!--&lt;!&ndash;&lt;!&ndash;<option value="Hyundai">Hyundai</option>&ndash;&gt;&ndash;&gt;-->
								<!--&lt;!&ndash;&lt;!&ndash;<option value="Maruti">Maruti</option>&ndash;&gt;&ndash;&gt;-->
							<!--</select>-->
							<!--<label data-error="Select a Brand">Type of Question</label>-->
						</div>
						<div class="input-field col s8 m8 l5 " id="vehicle-select">
							<select>
								<option value="" disabled selected>Model</option>
								<!--<option value="i10">i10</option>-->
								<!--<option value="i20">i20</option>-->
							</select>
						</div>
						<div class="input-field col s4 m4 l2" id="fuel-type-select">
							<select>
								<option value="" disabled selected>Fuel</option>
								<option value="petrol">Petrol</option>
								<option value="diesel">Diesel</option>
								<option value="cng">LPG/CNG</option>
							</select>
						</div>
						</form>
						<span class = "col s11 m11 l11 offset-m1 offset-s1 offset-l1 error-message" id="choose-vehicle-error"></span>
					</div>

					<div class = "row service-headers" id="selected-service">
						<div class="row field-title text-left">
							<h4>Service Details</h4>
						</div>

						<div class="col s6 m6 l4">
							<div class="card cardhover service-card">
								<div class="card-content service-name">
									<p>Servicing</p>
								</div>
							</div>
						</div>
						<div class="col s6 m6 l4">
							<div class="card cardhover service-card">
								<div class="card-content service-name">
									<p>Car Care</p>
								</div>
							</div>
						</div>
						<div class="col s6 m6 l4">
							<div class="card cardhover service-card">
								<div class="card-content service-name">
									<p>Repairing</p>
								</div>
							</div>
						</div>
						<div class="col s6 m6 l4">
							<div class="card cardhover service-card">
								<div class="card-content service-name">
									<p>Denting/Painting</p>
								</div>
							</div>
						</div>
						<div class="col s6 m6 l4">
							<div class="card cardhover service-card">
								<div class="card-content service-name">
									<p>General Check-Up</p>
								</div>
							</div>
						</div>
						<div class="col s6 m6 l4">
							<div class="card cardhover service-card">
								<div class="card-content service-name">
									<p>Emergency</p>
								</div>
							</div>
						</div>
						<span class = "col s11 m11 l11 offset-m1 offset-s1 offset-l1 error-message" id="choose-category-error"></span>
						<form class="col s12">
							<div class="row">
								<div class="input-field col s12" >
									<i class="material-icons prefix">report_problem</i>
									<textarea id="additional" class="materialize-textarea"></textarea>
									<label for="additional">Specific issues/ request?</label>
								</div>
							</div>
						</form>

					</div>

					<div class="row form-row invisible">
						<form class="col s12">
							<div class="row field-title text-left">
								<h4>Booking Details</h4>
							</div>

							<div class="row">
								<div class="input-field col s6">
									<i class="material-icons prefix">account_circle</i>
									<input id="first_name" type="text" class="validate" required="" aria-required="true">
									<label for="first_name" data-error="Required">First Name</label>
								</div>
								<div class="input-field col s6">

									<input id="last_name" type="text" class="validate" required="" aria-required="true">
									<label for="last_name" data-error="Required">Last Name</label>
								</div>
							</div>
							<div class="row">
								<!--<div class="input-field col s6">-->
									<!--<i class="material-icons prefix">location_on</i>-->
									<!--<input id="address" type="text" class="validate">-->
									<!--<label for="address">House No./ Street Name</label>-->
								<!--</div>-->
								<div class="input-field col s12">
									<i class="material-icons prefix">location_on</i>
									 <input type="text" id="locality" class="autocomplete" required="" aria-required="true">
									<label for="locality" data-error="Required">Locality</label>

								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">phone</i>
									<input id="telephone" type="number" required="" aria-required="true">
									<label for="telephone" data-error="Invalid Number | Example : 9829098290" >Mobile</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">email</i>
									<input id="email" type="email" class="validate" required="" aria-required="true">
									<label for="email" data-error="Invalid e-mail id">Email</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s6">
									<i class="material-icons prefix">today</i>
									<input id="date" type="date" class="datepicker">
									<label for="date" data-error="required">date</label>
								</div>
								<div class="input-field col s6 m6 l6" id ="time-slot">
									<select>
										<option value="" disabled selected>Time-Slot</option>
										<option value="1">09:30AM - 11:30AM </option>
										<option value="2">11:30AM - 01:30PM </option>
										<option value="3">01:30PM - 03:30PM </option>
										<option value="4">03:30PM - 05:30PM </option>
										<option value="5">05:30PM - 07:30PM </option>
									</select>
								<span id ="choose-time-slot" class="error-message"></span>
								</div>

							</div>

						</form>
					</div>
					<div class="row button-row proceed">
							<button class="waves-effect waves-light btn red form-proceed" type="submit" name="action">Proceed
								<i class="material-icons right">send</i>
							</button>
					</div>
					<div class="row button-row invisible submit">
							<button class="waves-effect waves-light btn red form-submit" type="submit" name="action">Book Now
								<i class="material-icons right">send</i>
							</button>
					</div>
					<div class="row order-confirm invisible">
							Thank you for placing your order! Our team will contact you shortly regarding the same.
					</div>


				</div>
			</div>
		</div>
	</section>

		<!--features Section-->
	<section id="features">
		<div class="feature-section">
		<div class="container-fluid">
			<div class="row">
				<div class='col l4 m4 s12 center-align'>
					<div class='feature-container'>
						<!--<img class='icon' src='//d310p4tz9tc9pz.cloudfront.net/assets/main/icon-easy-47c13d6dcacaa69bea11f7f20bfeeb55.svg'>-->
						<i class="cg-icon icon-cg-location x70"></i>
						<h5 class='text-dark-gray'>WE MAKE IT EASY</h5>
						<p>Get a quote and book a service online 24/7. Our mechanics will come to your home or office, even on evenings and weekends.</p>
						<!--<a href=''>-->
							<!--<div class='btn-more pull-bot'>-->
								<!--<button class="waves-effect waves-red btn-flat" name="action">Learn More</button>-->
							<!--</div>-->
							<!--&lt;!&ndash;<div class=''>Learn More</div>&ndash;&gt;-->
						<!--</a>-->
						<!--</img>-->
					</div>
				</div>
				<div class='col l4 m4 s12 center-align'>
					<div class='feature-container'>
						<!--<img class='icon' src='//d310p4tz9tc9pz.cloudfront.net/assets/main/icon-pricing-3c7b4a919e3a18e6cdd92acbfad1b2a4.svg'>-->
						<i class="cg-icon icon-cg-fair x70"></i>
						<h5 class='text-dark-gray'>FAIR AND TRANSPARENT PRICING</h5>
						<p>We offer fair and transparent pricing and savings up to 30% compared to repair shops.</p>
						<p>Book with confidence.</p>
						<!--<a href=''>-->
							<!--&lt;!&ndash;<div class=''>Learn More</div>&ndash;&gt;-->
							<!--<div class='btn-more pull-bot'>-->
								<!--<button class="waves-effect waves-red btn-flat" name="action">Learn More</button>-->
							<!--</div>-->
						<!--</a>-->
						<!--</img>-->
					</div>
				</div>
				<div class='col l4 m4 s12 center-align'>
					<div class='feature-container'>
						<!--<img class='icon' src='//d310p4tz9tc9pz.cloudfront.net/assets/main/icon-shield-85a3db2fcea7ced728cdc09be095ed2e.svg'>-->
						<i class="cg-icon icon-cg-quality x70"></i>
						<h5 class='text-dark-gray'>HAPPINESS GUARANTEED</h5>
						<p>We only work with highly rated mechanics.</p>
						<p>All services are backed by our 12-month / 12,000-mile warranty.</p>
						<!--<a href=''>-->
							<!--&lt;!&ndash;<div class=''>Learn More</div>&ndash;&gt;-->
							<!--<div class='btn-more pull-bot'>-->
								<!--<button class="waves-effect waves-red btn-flat" name="action">Learn More</button>-->
							<!--</div>-->
						<!--</a>-->
						<!--</img>-->
					</div>
				</div>
			</div>
		</div>
			</div>
	</section>




	   <!--Clients -->
    <section id="clients">
    	<div class="red-overlay">
			<div class="client-section">
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col s12 m12 l4 featured-section-title">
        				<h3 class="section-title"><img src="../../static/revamp/img/by-line.png" alt="by-line">Our partners</h3>
        			</div>
        			<div class="col l2 s12 m12 client">
        				<!--Client Logo - Set Images to 170px by 100px-->
        				<a href="#"><img src="../../static/revamp/img/Partners/Ola.png" alt="Ola Cabs"></a>
        			</div>

        			<div class="col l2 s12 m12 client">
        				<!--Client Logo - Set Images to 170px by 100px-->
        				<a href="#"><img src="../../static/revamp/img/Partners/Spinny.png" alt="MySpinny"></a>
        			</div>

        			<div class="col l2 s12 m12 client">
        				<!--Client Logo - Set Images to 170px by 100px-->
        				<a href="#"><img src="../../static/revamp/img/Partners/Burgersingh.png" alt="Burger Singh"></a>
        			</div>

        			<div class="col l2 s12 m12 client">
        				<!--Client Logo - Set Images to 170px by 100px-->
        				<a href="#"><img src="../../static/revamp/img/Partners/Saladdays.png" alt="Salad Days"></a>
        			</div>
        		</div>
        	</div>
			</div>
    	</div>
    </section>

 <!--Testimonials-->


	<section id="testimonials">
		<div class="testimonial-section">
			<div class="container-fluid">
				<div class='row'>
					<div class="col s12 m12 l12 testimonial-section-title">
						<h3 class="section-title"><img src="../../static/revamp/img/by-line.png" alt="by-line">Our Customers Say The Nicest Things</h3>
					</div>
				</div>

				<div class="row testi-row">
					<div class="col s12 m12 l4">
						<div class="testimonial-column card  large">
							<div class="card-image waves-effect waves-block waves-light">
      							<img class="activator img1" src="../../static/revamp/img/Testimonials/Salman.jpg">
    						</div>
							<div class="card-content">
									<p class="title">Salman Sunny</p>
									<span class="testi-vehicle-name x15">Honda City</span>
									<blockquote>
										<p>ClickGarage has been extremely helpful with guiding me with the Insurance requirements and there was a <strong>great level of detail</strong> in how they went about their work! </p>
									</blockquote>
							</div>
						</div>
					</div>

					<div class="col s12 m12 l4">
						<div class="testimonial-column large card">
							<div class="card-image waves-effect waves-block waves-light">
      							<img class="activator img2" src="../../static/revamp/img/Testimonials/prem.jpg">
    						</div>
							<div class="card-content">
									<p class="title">Prem</p>
									<span class="testi-vehicle-name x15">Bajaj Pulsar</span>
									<blockquote>
										<p>Workshop at my doorstep; <strong>Amazing experience.</strong> Highly Recommended</span></p>
									</blockquote>
							</div>

						</div>
					</div>
					<div class="col s12 m12 l4">
						<div class="testimonial-column  large card">
							<div class="card-image waves-effect waves-block waves-light">
      							<img class="activator img3" src="../../static/revamp/img/Testimonials/Nakul.jpg">
    						</div>
							<div class="card-content">
									<p class="title">Nakul Kapoor</p>
									<span class="testi-vehicle-name x15">Hyundai Verna</span>
									<blockquote>
										<p><strong>Great service</strong>, great model, fast turnaround time.</p>
									</blockquote>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>






		<!--brands Section-->


	<section id="brands">
		<div class="brand-section">
			<div class="container-fluid">
				<div class='row'>
					<div class="col s12 m12 l12 brand-section-title">
						<h3 class="section-title"><img src="../../static/revamp/img/by-line.png" alt="by-line">We service most makes and models</h3>
					</div>
				</div>

				<div class="row brand-logos">
					<div class="col s12 m12 l6">
						<div class="brand-column card card-content">
							<div class='col l12 m12 s12 center-align'>
								<h4><b>Cars</b></h4>
							</div>
							<div class='col l4 m6 s6 center-align'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Car/Hyundai.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Car/Honda.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Car/Volkswagen.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Car/Maruti Suzuki.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align hide-on-med-and-down'>
								<div class='image-space fade '>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Car/Chevrolet.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align hide-on-med-and-down'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Car/Audi.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
						</div>
					</div>

					<div class="col s12 m12 l6">
						<div class="brand-column card card-content">
							<div class='col l12 m12 s12 center-align'>
								<h4><b>Bikes</b></h4>
							</div>
							<div class='col l4 m6 s6 center-align'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Hero.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Honda.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Yamaha.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Bajaj.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align hide-on-med-and-down'>
								<div class='image-space fade '>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/RoyalEnfield.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
							<div class='col l4 m6 s6 center-align hide-on-med-and-down'>
								<div class='image-space fade'>
									<img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/TVS.png'>
								</div>
								<!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
							</div>
						</div>
					</div>
				</div>
				<!--<div class="row button-row">-->
					<!--<button class="waves-effect waves-light btn red brands-button" name="action">Show All Brands-->
						<!--&lt;!&ndash;<i class="material-icons right">send</i>&ndash;&gt;-->
					<!--</button>-->
				</div>
			</div>
		</div>
	</section>




	<!--Contact Section-->
	<section id="contact">

		<div class="container-fluid">
			<div class="row">
				<div class="col m12 l12 s12 text-left">
					<h3 class="section-title"><img src="../../static/revamp/img/by-line.png" alt="by-line">Contact Us</h3>
				</div>
			</div>

			<div class="row">

				<!--<div class="col m4 l4 s12 text-left">-->
				<!--<ul>-->
					<!--<li>Legal</li>-->
					<!--<ul>-->
						<!--<li>Terms and Conditions</li>-->
						<!--<li>Privacy Policy</li>-->
					<!--</ul>-->
					<!--<li>Sitemap</li>-->
					<!--<ul>-->
						<!--<li>Why Us?</li>-->
						<!--<li>Partners</li>-->
						<!--<li>Testimonials</li>-->
						<!--<li>Brands</li>-->
						<!--<li>Contact Us</li>-->
					<!--</ul>-->
				<!--</ul>-->
				<!--</div>-->



				<div class="col m6 l6 s12 text-left">
						<h4><b>Find Us On</b></h4>
					</br>
					<ul class="socialize list-inline">
						<li><a class="twitter" href="http://www.twitter.com/theclickgarage" target="_blank"><i class="fa fa-twitter x30"></i></a></li>
						<li><a class="facebook" href="http://www.facebook.com/theclickgarage" target="_blank"><i class="fa fa-facebook x30"></i></a></li>
						<li><a class="google" href="http://www.googleplus.com/theclickgarage" target="_blank"><i class="fa fa-google x30"></i></a></li>
						<!--<li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="icon-camera-retro icon-2x"></i></a></li>-->
						<!--<li><a class="pinterest" href="http://www.pinterest.com" target="_blank"><i class="icon-pinterest icon-2x"></i></a></li>-->
						<!--<li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="icon-linkedin icon-2x"></i></a></li>-->
					</ul>
					<br>
					<br>

					<h4><b>Where we are</b></h4>
					</br>
					<h5><b>Registered Office</b></h5>
					<p>W22, Second Floor, Green Park Main<br />
						New Delhi, Delhi - 110016</p>

					<h5><b>Gurgaon Office</b></h5>
					<p>B702, Hex Tax Aprtments, Sector 43<br />
						Gurgaon, Haryana - 122009</p>

					<p class="tel"><a href="tel:+919555950000"><i class="fa fa-whatsapp"></i>&nbsp;/&nbsp;<i class="fa fa-phone"></i> &nbsp; +91-9555-95-0000</p><br />
					<div class="contact-btn text-left">
					<a class="waves-effect waves-light waves-cg btn red cg-btn-2 scroll" href="mailto:info@clickgarage.in"><i class="fa fa-envelope"></i> &nbsp; Contact Us</a>
					</div>
				</div>

				<div class="col m6 l6 s12">
					<h4><b>Get in Touch</b></h4>
					</br>
					<div class ="contact-us card">
						<form class = "contact-form">
							<div class="row">
								<div class="input-field col s12 l6 m6">
									<i class="material-icons prefix">account_circle</i>
									<input id="first_name-2" type="text" class="validate">
									<label for="first_name-2" data-error="Required">First Name</label>
								</div>
								<div class="input-field col s12 l6 m6">

									<input id="last_name-2" type="text" class="validate">
									<label for="last_name-2"  data-error="Required">Last Name</label>
								</div>
							</div>
							<!--<div class="row">-->
								<!--<div class="input-field col s6">-->
									<!--<i class="material-icons prefix">location_on</i>-->
									<!--<input id="address" type="text" class="validate">-->
									<!--<label for="address">House No./ Street Name</label>-->
								<!--</div>-->
								<!--<div class="input-field col s6">-->
									<!--<input id="locality" type="text" class="validate">-->
									<!--<label for="locality">Locality</label>-->
								<!--</div>-->
							<!--</div>-->
							<div class="row">
								<div class="input-field col s12 l12 m12">
									<i class="material-icons prefix">phone</i>
									<input id="telephone-2" type="number" class="validate">
									<label for="telephone-2"  data-error="Invalid Number | Example : 9829098290">Telephone</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 l12 m12">
									<i class="material-icons prefix">email</i>
									<input id="email-2" type="email" class="validate">
									<label for="email-2" data-error="Invalid Email">Email</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">chat_bubble_outline</i>
									<textarea id="message-2" class="materialize-textarea"></textarea>
									<label for="message-2" data-error="Required">Message</label>
								</div>
							</div>
						</form>
							<div class="row message-button">
								<button class="waves-effect waves-light waves-cg red btn cg-btn-2 message-submit red" type="submit" name="action"><i class="fa fa-send"></i> &nbsp; Send</button>
							</div>
						<div class="row message-confirm invisible">
							Thank you for messaging us! Our team will contact you shortly regarding the same.
						</div>


				</div>



				</div>
				<!--<div class="col-md-4 col-lg-4 col-sm-12 text-left">-->
				<!--<h5>Another Text Box</h5>-->
				<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>-->
				<!--</div>-->

			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="text-center">
					<p>&copy;Sui Generis Innovations. All Rights Reserved.<br />
						<!--<a href="http://www.clickgarage.in"><img src="" alt="ClickGarage Logo"></a>-->
				</div>
			</div>
		</div>
	</footer>

<div class="loading-pane">
    <img src="../../static/revamp/img/loading.gif" alt="" class="loading-gif">
</div>
<!--<div class ="call-us-button"><a href="tel:+91-9555-95-0000"><img src="../../static/revamp/img/Call.png"></a></div>-->
	<!--<a href="#" class="scrollToTop hidden-phone"><i class="icon-chevron-up"></i></a>-->
<div class="scrollToTop"><a href="#"><img src="../../static/revamp/img/scroll_to_top.png"></a></div>
<div class="call-button"><a href="tel:+91-9555-95-0000"><img src="../../static/revamp/img/Call.png"></a></div>

	<!-- Javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>
	<script src="../../static/revamp/js/materialize.min.js"></script>
	<script src="../../static/revamp/js/main.js"></script>
	<script src="../../static/revamp/js/common.js"></script>
	<script src="../../static/revamp/js/forms.js"></script>
	<script src="../../static/revamp/js/jquery.backstretch.js"></script>
	<script src="../../static/revamp/js/jquery.cycle.lite.js"></script>

	<script>
		$(document).ready(function() {
			$.backstretch([
				"../../static/revamp/img/Backgrounds/bg1.jpg",
//				"../../static/revamp/img/header2.jpg"
			], {
				fade: 1000,
				duration: 3000
			});
		});
	</script>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5687bb1cbc4176802560a8a2/1b4iq4he6';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->



	</body>
	</html>