<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">

	<title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
	<meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
	<meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
	<meta property="og:image" content="/../../static/revamp/img/Logo-Black.jpg"/>
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.clickgarage.in">
	<meta property="og:site_name" content="ClickGarage">
	<meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

	<!-- Styles -->
	<link rel="stylesheet" href="/../../static/revamp/css/font-awesome.css">
	<link rel="stylesheet" href="/../../static/revamp/css/animate.css">
	<link rel="stylesheet" href="/../../static/revamp/css/styles.css">
	<!--<link rel="stylesheet" href="/../../static/revamp/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="/../../static/revamp/css/materialize.min.css">
	<!--<link rel="stylesheet" href="/../../static/revamp/css/main.css">-->
	<link rel="stylesheet" href="/../../static/revamp/css/custom-styles.css">
	<link rel="stylesheet" href="/../../static/revamp/css/bill.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet" />


	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/../../static/revamp/img/favicon-3.ico">
</head>

<body class="bill-page">

<page id="bill" class="billpage" style="" size="A4">
	<div class="invoice-box">
		<table cellpadding="0" cellspacing="0">
			<tr class="top">
				<td colspan="2">
					<table class="agent-details">
						<tr>
							<td class="title company-name">
								<img src="/../../static/revamp/img/ClickGarage/logo-color-small1.png" style="width:100%; max-width:150px;"><br>
								<span id="agent-name">Sui Generis Innovations Private Limited</span><br>
								<span id="agent-address">W22, Second Floor</span><br>
								<span id="agent-locality">Green Park Main</span><br>
								<span id="agent-city">New Delhi</span>-<span class="agent-pin">New Delhi</span><br>
							</td>

							<td>
								<table class="bill-details">
									<tr><td>Invoice #: </td><td><span id="bill-number">123</span></td></tr>
									<tr><td>Booking #: </td><td><span id="booking-id">123</span></td></tr>
									<tr><td>Created: </td><td><span id="bill-date">21st July</span></td></tr>
									<tr><td>Payment Type : </td><td><span id="bill-type">Credit</span></td></tr>
									<tr><td>TIN : </td><td><span id = "agent-tin">DSADSAJHDJASH</span></td></tr>
									<tr><td>CIN : </td><td><span id = "agent-cin">1234567890</span></td></tr>
									<tr><td>Service Tax : </td><td><span id = "agent-stax">SDSADS123456789</span></td></tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="information">
				<td colspan="2">
					<table class="information-cust">
						<tr>
							<td>
								<b>Customer Details:  </b><br>
								<table class="customer-details">
									<tr><td>&nbsp;&nbsp;Name </td><td><span id="cust-name">Shashwat Yadav</span></td></tr>
									<tr><td>&nbsp;&nbsp;Address </td><td><span id="cust-address">B702</span>, <span id="cust-locality">Hex Tax Commune</span>, <span id="cust-city">Gurgaon</span></td></tr>

								</table>
							</td>
							<td>
								<b>Vehicle Details: </b><br>
								<table class="customer-details">
									<tr><td>&nbsp;&nbsp;Registration </td><td><span id="veh-reg">RJ02CC4222</span></td></tr>
									<tr><td>&nbsp;&nbsp;Vehicle Name </td><td><span id="veh-name">Hyundai i20 Diesel</span></td></tr>
								</table>
							</td>

						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table class="parts-table">
				<thead class="heading">
				<td>
					Parts
				</td>
				<td>
					Units
				</td>
				<td>
					Unit Price
				</td>
				<td>
					Price
				</td>
				</thead>
				<tbody class="parts-list">
				<tr class="item">
					<td>
						Engine Oil
					</td>
					<td>
						3.5
					</td>
					<td>
						320
					</td>
					<td>
						Rs. 1280.00
					</td>
				</tr>
				</tbody>
		</table>
		<br>
		<table class="service-table">
				<thead class="heading">
				<td>
					Services/Labour
				</td>
				<td>
					Price
				</td>
				</thead>

				<tbody class="service-list">
				<tr class="item">
					<td>
						Standard Service
					</td>
					<td>
						Rs. 1280.00
					</td>
				</tr>
				</tbody>

		</table>
		<br>
		<table class="summary">
			<tr class="tax">
				<td>
					VAT (Parts) @ <span id="vat-part-percent">20</span>%: ₹<span class="vat-part-amount">385.00</span>
				</td>
			</tr>
			<tr class="tax">
				<td>
					VAT (Lubes) @ <span id="vat-lube-percent">12.5</span>%: ₹<span class="vat-lube-amount">385.00</span>
				</td>
			</tr>
			<tr class="tax">
				<td>
					VAT (Consumables) @ <span id="vat-consumbale-percent">5</span>%: ₹<span class="vat-consumbale-amount">385.00</span>
				</td>
			</tr>
			<tr class="tax">
				<td>
					Service Tax + Krishna Kalyan Cess + Swachha Bharat Cess @ <span id="stax-percent">15</span>%: ₹<span class="stax-amount">385.00</span>
				</td>
			</tr>
			<tr class="total">
				<td>
					Total Amount: ₹ <span id="cust-total">385.00</span>
				</td>
			</tr>
		</table>
		<div class="recommendations">
			<div class="row">
				<b>Recommendations:</b>
			</div>
			<div class="row">
				<span class="recommendaton">Dry Cleaning etc.</span>
			</div>
		</div>
	</div>
</page>



<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="/../../static/revamp/js/materialize.min.js"></script>
<script src="/../../static/revamp/js/bills.js"></script>
<script src="/../../static/revamp/js/login.js"></script>
<script src="/../../static/revamp/js/common.js"></script>
<script src="/../../static/revamp/js/forms.js"></script>
<script src="/../../static/revamp/js/jquery.backstretch.js"></script>
<script src="/../../static/revamp/js/jquery.cycle.lite.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>


<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: https://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 932007205;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/932007205/?guid=ON&amp;script=0"/>
	</div>
</noscript>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-68064927-1', 'auto');
	ga('send', 'pageview');
</script>




</body>
</html>