<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">

	<title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
	<meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
	<meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
	<meta property="og:image" content="/../../static/revamp/img/Logo-Black.jpg"/>
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.clickgarage.in">
	<meta property="og:site_name" content="ClickGarage">
	<meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

	<!-- Styles -->
	<link rel="stylesheet" href="/../../static/revamp/css/font-awesome.css">
	<link rel="stylesheet" href="/../../static/revamp/css/animate.css">
	<link rel="stylesheet" href="/../../static/revamp/css/styles.css">
	<!--<link rel="stylesheet" href="/../../static/revamp/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="/../../static/revamp/css/materialize.min.css">
	<link rel="stylesheet" href="/../../static/revamp/css/main.css">
	<link rel="stylesheet" href="/../../static/revamp/css/custom-styles.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet" />


	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/../../static/revamp/img/favicon-3.ico">
</head>

<body class="static-page">

<div class="navbar navbar-fixed">
	<nav class="nav2">
		<div class="nav-wrapper navbar-trans">

			<div class="logo-cg logo-trans visible" itemscope itemtype="http://schema.org/Organization">
				<a itemprop="url" href="http://www.clickgarage.in/" class="brand-logo"><img itemprop="logo" class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-white-small1.png"></a>
			</div>
			<div class="logo-cg logo-color invisible" itemscope itemtype="http://schema.org/Organization">
				<a itemprop="url" href="http://www.clickgarage.in/" class="brand-logo"><img itemprop="logo" class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-color-small1.png"></a>
			</div>
			<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down items-list">
				<li class ="name"><a><span class="uname"></span></a></li>
				<li class ="learn-more-button"><a>Why Us?</a></li>
				<li class ="partners-button"><a>Partners</a></li>
				<li class ="testi-button"><a>Testimonials</a></li>
				<li class ="brands-button"><a>Brands</a></li>
				<li class ="contact-us-button"><a>Contact Us</a></li>
				<li class ="log-in-button"><a><span class="log-in"></span></a></li>
				<li class ="book-now-button"><a>Book Now!</a></li>
				<!--<li class ="book-now-button btn waves-effect waves-light red"><a>Book Now!</a></li>-->
			</ul>
			<ul class="side-nav items-list" id="mobile">
				<li class ="name"><a><span class="uname"></span></a></li>
				<li class ="learn-more-button"><a>Why Us?</a></li>
				<li class ="partners-button"><a>Partners</a></li>
				<li class ="testi-button"><a>Testimonials</a></li>
				<li class ="brands-button"><a>Brands</a></li>
				<li class ="contact-us-button"><a>Contact Us</a></li>
				<li class ="log-in-button"><a><span class="log-in"></span></a></li>
				<li class ="book-now-button"><a>Book Now!</a></li>
			</ul>
		</div>
	</nav>
</div>

<section id="banner">
	<div class="background howitworks"></div>
	<div id="color-overlay"></div>
	<div class="header-page"><h2>How It Works?</h2><br><span class="header-tagline">Get an upfront estimate, book online and let us come to you!</span></div>
</section>
<section id="how-it-works">
	<div class="container-fluid">
		<div class="row">
			<div class="col l3 s12 m12 howlist ">
				<ul>
					<li data-class="bookservice" class="selected">Book a service Online</li>
					<li data-class="bookconfidence" class="">Book with confidence</li>
					<li data-class="fairpricing" class="">Transparent and fair pricing</li>
					<li data-class="peace" class="">Peace of mind</li>
				</ul>
			</div>
			<div class="hide-on-large-only">
				<hr>
			</div>
			<div class="col s12 m12 l9">
				<div class="howitworks">
					<h3>Vehicle trouble? We can help!</h3>
					<p>
						ClickGarage is a branded network of standardized workshops which provides affordable, transparent and convenient on-demand car and bike services at your home or your office. With expert mechanics, state-of-the-art machinery, top quality spares, standardized processes & pricing, ClickGarage provides a uniform service experience to all its customers, across its workshops.  Everything under one-roof :  servicing, repairs, inspections, denting/painting, roadside assistance and car care.
						You receive instant response with approved estimates for any service you select for your vehicle. Post the booking, we not only provide you a booking tracker to track live status updates for your bookings but also enable you to save up to 45-50% on your vehicle maintenance (as compared to authorized centres and franchise workshops). In short, we save you time, money and stress!</p>
					</p>
					<h3>Here is how you can get your vehicle fixed, by just following simple steps :</h3>
					<ol>
						<li><b>Select your Vehicle</b>
							<p>
								All we need to know is what kind of vehicle you have, it’s make and model so we know what vehicle we  have to take care of. Simply click on “Get an estimate” button after selecting your vehicle.
							</p>
							<br>
						</li>
						<li><b>Tell us what you need</b>
							<p>
								Select the service(s) you need for your vehicle. If you are not sure what is wrong with your car, you can simply select “Other Diagnosis” in the “Repair” section. You can also call us at +91-9555-95-0000 or chat with one of our auto experts.
							</p>
							<br>

						</li>
						<li><b>Receive an instant quote</b>
							<p>
								We will provide you an upfront estimate and show you an exact breakdown of costs associated with the selected service(s).
							</p>
							<br>

						</li>
						<li><b>Tell us the date, time and place</b>
							<p>
								We need to know when and from where would you want the service at. For bikes, mostly services are provided at your doorstep. For cars, we will arrange a free* pick-up & drop from either your home or your office (We don’t want you stepping out in cold winters or hot summers while you can get your car fixed at the comfort of your chair). You choose the date, time and place. You’re the boss!
							</p>
							<br>

						</li>
						<li><b>Confirm your booking</b>
							<p>
								After filling in your name, address, email ID and other personal details, you will receive a call from a ClickGarage representative, assigned specially for you.
							</p>
							<br>

						</li>
						<li><b>Have a memorable experience</b>
							<p>
								On the day of your appointment, our service engineer will come at your chosen location at the precise time-slot that you requested. After an initial inspection, the vehicle will be either fixed at your doorstep or taken to the ClickGarage workshop. Feel free to ask the service engineer any questions that you may have! They would be more than happy to help you!Once the vehicle arrives at the workshop, an estimate will be shared with you. Only on YOUR approval, we will get the work done. Like we said, you’re the boss!
							</p>
							<br>

						</li>
						<li><b>Pay and tell us about your experience</b>
							<p>
								Once all the work has been completed, you will receive a neat invoice in your inbox. You can pay through multiple payment options available. The vehicle will be dispatched post this and a feedback call will be generated from our side through which you can rate your experience. This helps us maintain the highest quality standards possible and enables us to make our customers happier.
							</p>
							<br>

						</li>
					</ol>
				</div>
				<div class="bookwithconfidence invisible">
					<h3>Afraid of giving your vehicle to a workshop?</h3>
					<p>
						We hear it all the time. Stories of shady, careless or inexperienced mechanics. However, with ClickGarage, you don’t have to worry about a single thing. All our workshops are standardized as per the ClickGarage standards and constantly monitored to ensure MAXIMUM compliance and adherence of the processes and quality assurance,
					</p>
					<p>
						On top of this, we have a feedback mechanism in place where we ask the customers to rate us on several parameters. This allows us to make sure the quality of our work stays extremely high.
					</p>
				</div>
				<div class="fairpricing  invisible">
					<h3>Not sure what you are being charged for?</h3>
					<p>Have you ever felt that you have absolutely no idea about how much the mechanic is charging you. For all you know, he might be charging twice as much as the actual repair cost. Don’t worry. You’re not alone! We surveyed over 2000 customers and found out that 1 in every 2 car owners feel the same.
					</p>
					<p>So, we partnered with major part makers to have access to a large pricing data by which we provide you instant, reliable and transparent pricing.  This also allows us to offer you prices which are 45-50% cheaper than the market!
					</p>
					<p>Moreover, we also show you a detailed break up of the costs you know exactly where every single rupee you are spending.
					</p>
				</div>
				<div class="peaceofmind  invisible">
					<h3>What about quality?</h3>
					<p>
						Quality is your top priority, here at ClickGarage. We understand that finding a right mechanic or a right workshop is tough. That’s why, we at ClickGarage, work hard to get you the best mechanics and workshops by standardizing them and even managing them end-to-end. You can feel confident that your car is going at right place.
					</p>
					<b>ClickGarage Service Warranty</b>

					<p>
						All our services are backed by a 2-months/1000 km warranty. Subject to certain conditions, if there are any discrepancies in the workmanship, then we will work with you to solve the problems at no additional cost.
					</p>

				</div>
				<hr>
				<div class="note">
					<ul><li><b>Note -</b></li>
						<p>
							If you pay or communicate with any ClickGarage mechanic directly, then ClickGarage shall not be held responsible as the job performed by the mechanic will not be authorized by ClickGarage and will not be done under ClickGarage supervision.
						</p>
						<p>
							Also, if you order a certain part yourself and ClickGarage did not perform any diagnostic, then the warranty shall not be applicable for the same. (e.g - If you ordered a spark plug because your car was not starting and if the car does not start after the replacement of the spark plug, then the warranty doesn’t cover “car not starting” event.
						</p>
						<p>
							If a ClickGarage mechanic performs a service but after this, some other mechanic/workshop (outside ClickGarage) is hired to inspect or perform any job to the vehicle, in that case, the warranty shall be voided. In case you report the problem directly to ClickGarage, then the problem shall be fixed at no additional cost (subject to certain conditions)
						</p>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="login" class="login invisible" style="">
	<div class="materialContainer card">
		<div class="box">
			<button class="waves-effect waves-light btn red  btn-service book-btn close-btn" type="submit" name="action"><i class="fa fa-times"></i>
			</button>
			<div class="title row">LOGIN</div>
			<div class="row login-input-row">
				<div class="input-field login-input">
					<i class="material-icons prefix">phone</i>
					<input id="telephone_login" type="tel" class="validate">
					<label for="telephone_login" data-error="Invalid Number">Telephone : 10 Digits</label>
				</div>
			</div>
			<div class="row btn-row login-method-row">
				<div class="col s12 m12 l5">
					<button class="btn waves-effect waves-light btn-large red use-otp" href="">Use OTP
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="col s12 m12 l2">
					Or
				</div>
				<div class="col s12 m12 l5">
					<button class="btn waves-effect waves-light btn-large red use-pass" href="">Password
						<i class="material-icons right">turned_in_not</i>
					</button>
				</div>
				<div class="col s12 m12 l12 centered-text pass-forgot">
					Forgot Your Password?
				</div>
			</div>
			<div class="login-pass-change invisible">
				<div class="row pass login-method-input">
					<div class="input-field">
						<i class="material-icons prefix">verified_user</i>
						<input id="password-new" type="password" class="validate">
						<label for="password-new" data-error="Required">Enter New Password</label>
					</div>
				</div>
				<div class="row centered-text send-otp-row">
					<div class="col s12 m12 l12">
						<button class="btn waves-effect waves-light btn-large red change-pass-otp" href="">SEND OTP
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</div>

			<div class="row login-passchange-btn-row-otp invisible">
				<div class="row otp login-method-input">
					<div class="input-field">
						<i class="material-icons prefix">dialpad</i>
						<input id="otp-pass-new" type="tel" class="validate">
						<label for="otp-pass-new">Enter OTP</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
							<i class="material-icons right">send</i>
						</button>
					</div>
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red verify-btn-pass" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
			<div class="login-method-inputs">
				<div class="row pass login-method-input invisible">
					<div class="input-field login-input">
						<i class="material-icons prefix">verified_user</i>
						<input id="password" type="password" class="validate">
						<label for="password">Enter Password</label>
					</div>
				</div>

				<div class="row otp login-method-input invisible">
					<div class="input-field login-input">
						<i class="material-icons prefix">verified_user</i>
						<input id="otp_login" type="tel" class="validate">
						<label for="otp_login">Enter OTP</label>
					</div>
				</div>
			</div>
			<div class="row login-method-btn-row-otp invisible">
				<div class="row">
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
							<i class="material-icons right">send</i>
						</button>
					</div>
					<!--</div>-->
					<!--<div class="row btn-row login-method-btn-row invisible">-->
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
			<div class="row login-method-btn-row invisible">
				<div class="row">
					<div class="col s12 m12 l12">
						<button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
		</div>
		<div class="overbox">
			<div class="material-button alt-2"><span class="shape"></span><span class="btn-sign">SIGN UP</span></div>
			<div class="title">Sign Up</div>
			<div class="row login-input-row signup-row">
				<div class="input-field signup-input">
					<i class="material-icons prefix">phone</i>
					<input id="telephone-sign" type="tel" class="validate">
					<label for="telephone-sign" data-error="Invalid Number">Telephone</label>
				</div>
			</div>
			<div class="row signup-row">
				<div class="input-field signup-input">
					<i class="material-icons prefix">account_circle</i>
					<input id="name_login" type="tel" class="validate">
					<label for="name_login" data-error="Required">Name</label>
				</div>
			</div>
			<div class="row signup-row">
				<div class="input-field login-input">
					<i class="material-icons prefix">verified_user</i>
					<input id="password-sign" type="password" class="validate">
					<label for="password-sign" data-error="Required">Password</label>
				</div>
			</div>
			<div class="button button-otp-signup-row">
				<button class="button-otp-signup"><span>SEND OTP</span></button>
			</div>
			<div class="row otp-btn-row signup-row invisible">
				<div class="input-field login-input col l6 s6 m6">
					<i class="material-icons prefix">verified_user</i>
					<input id="otp-sign" type="text" class="validate">
					<label for="otp-sign">OTP</label>
				</div>
				<div class="button button2">
					<button class="col l3 m3 s3 verify-btn-sign"><span>VERIFY</span></button>
					<button class="col l3 m3 s3 resend-otp-sign"><span>RESEND</span></button>
				</div>
			</div>
			<div class="row login-message-row visible">
				<span class="login-message">Success</span>
			</div>
		</div>
	</div>
</section>

<section id="cover" class="invisible"></section>
<section id="cover2" class="invisible"></section>


<div class="loading-pane">
	<img src="/../../static/revamp/img/loading.gif" alt="" class="loading-gif">
</div>

<div class="call-button order-page-call hide-on-large-only"><a href="tel:+91-9555-95-0000"><img src="/../../static/revamp/img/Call.png"></a></div>
<div class="loading-pane-2">
	<img src="/../../static/revamp/img/page_loader.gif" alt="" class="loading-gif">
</div>
<div id="overlay"></div>
<!--<div class="overlay-pat"></div>-->



<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="/../../static/revamp/js/materialize.min.js"></script>
<script src="/../../static/revamp/js/staticpages.js"></script>
<script src="/../../static/revamp/js/login.js"></script>
<script src="/../../static/revamp/js/common.js"></script>
<script src="/../../static/revamp/js/forms.js"></script>
<script src="/../../static/revamp/js/jquery.backstretch.js"></script>
<script src="/../../static/revamp/js/jquery.cycle.lite.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>


<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: https://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 932007205;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/932007205/?guid=ON&amp;script=0"/>
	</div>
</noscript>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-68064927-1', 'auto');
	ga('send', 'pageview');

</script>

<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
	<!--var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
	<!--(function(){-->
		<!--var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
		<!--s1.async=true;-->
		<!--s1.src='https://embed.tawk.to/5687bb1cbc4176802560a8a2/1b4iq4he6';-->
		<!--s1.charset='UTF-8';-->
		<!--s1.setAttribute('crossorigin','*');-->
		<!--s0.parentNode.insertBefore(s1,s0);-->
	<!--})();-->
<!--</script>-->
<!--End of Tawk.to Script-->
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 8711666;
    (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
</script>
<!-- End of LiveChat code -->



</body>
</html>