<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>EZ Garage - Workshop Process Simplified</title>
    <meta name="description" content="EZGarage is an enterprise web-app developed for all devices. It is an ERP, CRM, POS, Inventory management, Billing system and MIS for all kinds of automotive dealers and workshops and also to enable omni-channel sales"/>
    <meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, workshop, lead management, booking management, workshop management, inventory management"/>
    <meta property="og:image" content="../../static/revamp/img/Logo-Black.jpg"/>
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="EZGarage - Workshop Process Simplified">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ezgarage.co">
    <meta property="og:site_name" content="EZGarage">
    <meta property="og:description" content="EZGarage is an enterprise web-app developed for all devices. It is an ERP, CRM, POS, Inventory management, Billing system and MIS for all kinds of automotive dealers and workshops and also to enable omni-channel sales"/>

    <!-- CSS  -->
    <link href="/../../static/revamp/css/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="/../../static/revamp/css/custom-min.css" type="text/css" rel="stylesheet" >
    <link href="/../../static/revamp/css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/revamp/css/custom-styles.css">

    <link rel="shortcut icon" href="/../../static/revamp/img/favicon-3.ico">
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<!--Navigation-->
 <div class="navbar-fixed logoeznav">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo"><img src="/../../static/revamp/img/ClickGarage/EZgarage.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">Features</a></li>
                    <!--<li><a href="#work">Work</a></li>-->
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="/ezgarage" target="_blank">Login</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">Features</a></li>
                    <!--<li><a href="#work">Work</a></li>-->
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="/ezgarage" target="_blank">Login</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <!--<div class="background"><img src="/../../static/revamp/img/Backgrounds/navbar.jpg"></div>-->
        <h1 class="text_h center header cd-headline letters type">
            <span>Workshop Process</span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">Simplified</b>
                <!--<b></b>-->
                <!--<b>developing</b>-->
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> EZGarage is an <span class="span_h2"> ERP, CRM, POS, Inventory management, Billing system and MIS  </span> for all kinds of automotive dealers and workshops and enable <span class="span_h2"> omni-channel sales</span>. An Enterprise web-app developed for all devices.  </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Increased Sales</h5>
                    <p class="light center">With our lead management system. You will never loose a client again. Tracking customer history to know exactly what he is looking for</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">User Experience Focused</h5>
                    <p class="light center">Using EZGarage is extremely simple. You can on board your staff with minimal training.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Satisfied Customers</h5>
                    <p class="light center">With in built customer undate management. EZGarage drives transparency leading to more satisfied customers and increased business</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Work-->
<!--<div class="section scrollspy" id="work">-->
    <!--<div class="container">-->
        <!--<h2 class="header text_b">Work </h2>-->
        <!--<div class="row">-->
            <!--<div class="col s12 m4 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-image waves-effect waves-block waves-light">-->
                        <!--<img class="activator" src="/../../static/revamp/img/project1.jpg">-->
                    <!--</div>-->
                    <!--<div class="card-content">-->
                        <!--<span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>-->
                        <!--<p><a href="#">Project link</a></p>-->
                    <!--</div>-->
                    <!--<div class="card-reveal">-->
                        <!--<span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>-->
                        <!--<p>Here is some more information about this project that is only revealed once clicked on.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col s12 m4 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-image waves-effect waves-block waves-light">-->
                        <!--<img class="activator" src="/../../static/revamp/img/project2.jpeg">-->
                    <!--</div>-->
                    <!--<div class="card-content">-->
                        <!--<span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>-->
                        <!--<p><a href="#">Project link</a></p>-->
                    <!--</div>-->
                    <!--<div class="card-reveal">-->
                        <!--<span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>-->
                        <!--<p>Here is some more information about this project that is only revealed once clicked on.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col s12 m4 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-image waves-effect waves-block waves-light">-->
                        <!--<img class="activator" src="/../../static/revamp/img/project3.png">-->
                    <!--</div>-->
                    <!--<div class="card-content">-->
                        <!--<span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>-->
                        <!--<p><a href="#">Project link</a></p>-->
                    <!--</div>-->
                    <!--<div class="card-reveal">-->
                        <!--<span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>-->
                        <!--<p>Here is some more information about this project that is only revealed once clicked on.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col s12 m4 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-image waves-effect waves-block waves-light">-->
                        <!--<img class="activator" src="/../../static/revamp/img/project4.jpg">-->
                    <!--</div>-->
                    <!--<div class="card-content">-->
                        <!--<span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>-->
                        <!--<p><a href="#">Project link</a></p>-->
                    <!--</div>-->
                    <!--<div class="card-reveal">-->
                        <!--<span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>-->
                        <!--<p>Here is some more information about this project that is only revealed once clicked on.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col s12 m4 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-image waves-effect waves-block waves-light">-->
                        <!--<img class="activator" src="/../../static/revamp/img/project5.png">-->
                    <!--</div>-->
                    <!--<div class="card-content">-->
                        <!--<span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>-->
                        <!--<p><a href="#">Project link</a></p>-->
                    <!--</div>-->
                    <!--<div class="card-reveal">-->
                        <!--<span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>-->
                        <!--<p>Here is some more information about this project that is only revealed once clicked on.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col s12 m4 l4">-->
                <!--<div class="card">-->
                    <!--<div class="card-image waves-effect waves-block waves-light">-->
                        <!--<img class="activator" src="/../../static/revamp/img/project6.jpeg">-->
                    <!--</div>-->
                    <!--<div class="card-content">-->
                        <!--<span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>-->
                        <!--<p><a href="#">Project link</a></p>-->
                    <!--</div>-->
                    <!--<div class="card-reveal">-->
                        <!--<span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>-->
                        <!--<p>Here is some more information about this project that is only revealed once clicked on.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--Parallax-->
<div class="parallax-container">
    <div class="white-overlay">
        <div class="parallax"><img src="/../../static/revamp/img/Backgrounds/motorrepair.jpg"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="row centered-text default_color_text">
                        <h1>10,000+</h1>
                    </div>
                    <div class="row centered-text white-text">
                        <h3>Vehicles Catered</h3>
                    </div>
                </div>
                  <div class="col s12 m12 l6">
                       <div class="row centered-text default_color_text">
                            <h1>30+</h1>
                        </div>
                    <div class="row centered-text white-text">
                            <h3>Workshops Onboarded</h3>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Our Team </h2>
        <div class="row">
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="/../../static/revamp/img/avatar3.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Bhuvan<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Captain Sales</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/batra.bhuvan">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/bhuvanbatra/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="/../../static/revamp/img/avatar1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Shashwat<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Product Flash</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/shashwatyadav">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/shashwatyadav/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="/../../static/revamp/img/avatar4.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Jitendra<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Auto Robin</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/shashwatyadav">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/shashwatyadav/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_colour scrollspy">
    <div class="container">
        <h2 class="header text_b">Contact Us</h2>
        <br>
        <br>
        
        <div class="row">
            <div class="col l12 s12">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix default_color_text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="default_color_text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix default_color_text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="default_color_text">Email-id</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix default_color_text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="default_color_text">Message</label>
                        </div>
            <br>

                        <div class="col s12 centered-text">
                            <button class="btn waves-effect waves-light cg-primary darken-1 centered-text" type="submit">Submit
                                <i class="mdi-content-send right "></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
        <br>
        <!--<div class="col l3 s12">-->

            <!--</div>-->
            <!--<div class="col l3 s12">-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="centered-text">
                Powered By  <a class="default_color_text" href="">Sui Generis Innovations Private Limited</a>
            </div>
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="/../../static/revamp/js/plugin-min.js"></script>
    <script src="/../../static/revamp/js/custom-min.js"></script>

    </body>
</html>
