<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
    <meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
    <meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
    <meta property="og:image" content="../../static/revamp/img/Logo-Black.jpg"/>
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.clickgarage.in">
    <meta property="og:site_name" content="ClickGarage">
    <meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

    <link rel="manifest" href="/manifest.json">
      <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
      <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
          appId: "31ac597b-171f-40de-b03c-44aa655da216",
          allowLocalhostAsSecureOrigin: true,
          autoRegister: false,
          safari_web_id: 'web.onesignal.auto.31f2bfbe-48d0-4a72-b7e0-d44022a2d3bb',
          notifyButton: {
            enable: false /* Set to false to hide */
          },
             path: '/static/revamp/js/'
        }]);

        OneSignal.push(function() {
            OneSignal.showHttpPrompt();
        });

      </script>

    <!-- Styles -->

    <link rel="stylesheet" href="../../static/revamp/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/revamp/css/animate.css">
    <link rel="stylesheet" href="../../static/revamp/css/styles.css">
    <!--<link rel="stylesheet" href="../../static/revamp/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../../static/revamp/css/materialize.min.css">
    <link rel="stylesheet" href="../../static/revamp/css/main.css">
    <link rel="stylesheet" href="../../static/revamp/css/custom-styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="../../static/revamp/css/selectize.css">-->


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/../../static/revamp/img/favicon-3.ico">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68064927-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>

<div class="navbar navbar-fixed">
    <nav class="nav2">
        <div class="nav-wrapper navbar-trans">

            <div class="logo-cg logo-trans visible" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="http://www.clickgarage.in/" class="brand-logo"><img itemprop="logo" class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-white-small1.png"></a>
            </div>
            <div class="logo-cg logo-color invisible" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="http://www.clickgarage.in/" class="brand-logo"><img itemprop="logo" class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-color-small1.png"></a>
            </div>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down items-list">
                <li class ="name"><a><span class="uname"></span></a></li>
                <li class ="learn-more-button"><a>Why Us?</a></li>
                <li class ="partners-button"><a>Partners</a></li>
                <li class ="testi-button"><a>Testimonials</a></li>
                <li class ="brands-button"><a>Brands</a></li>
                <li class ="contact-us-button"><a>Contact Us</a></li>
                <li class ="log-in-button"><a><span class="log-in"></span></a></li>
                <li class ="book-now-button"><a>Book Now!</a></li>
                <!--<li class ="book-now-button btn waves-effect waves-light red"><a>Book Now!</a></li>-->
            </ul>
            <ul class="side-nav items-list" id="mobile">
                <li class ="name"><a><span class="uname"></span></a></li>
                <li class ="learn-more-button"><a>Why Us?</a></li>
                <li class ="partners-button"><a>Partners</a></li>
                <li class ="testi-button"><a>Testimonials</a></li>
                <li class ="brands-button"><a>Brands</a></li>
                <li class ="contact-us-button"><a>Contact Us</a></li>
                <li class ="log-in-button"><a><span class="log-in"></span></a></li>
                <li class ="book-now-button"><a>Book Now!</a></li>
            </ul>
        </div>
    </nav>
</div>




<!--Home Section -->

<section id="home">
    <div class="container-fluid">
        <div class="row">
            <div class = "col s12 m12 l6 infodiv">
                <div class="header-website hero-text fadeOnLoad " style="display:none;">
                    <h1>Car & Bike Care</br></i>Made Easy</h1>
                    <h4 class="list-features-header">One Stop Shop&nbsp;<i class="fa fa-circle x10 icon"></i>&nbsp;Doorstep Service&nbsp;<i class="fa fa-circle x10 icon"></i>&nbsp;Instant Cost Estimate


                        <!--<ul class="list-features-header">-->
                        <!--<li>One Stop Shop</li>&nbsp;<i class="fa fa-circle x10 icon"></i>&nbsp;-->
                        <!--<li>Doorstep Service</li>&nbsp;<i class="fa fa-circle x10 icon"></i>&nbsp;-->
                        <!--<li>Instant Cost Estimate</li>-->
                        <!--</ul>-->
                    </h4>
                    <div class="row header-btn">
                        <button class="btn waves-effect waves-light btn-large hide-on-large-only book-btn-2 red cg-btn" href=""><i class="icon-chevron-down"></i>Book Now</button>
                    </div>
                    <div class="row header-btn">
                        <button class="btn waves-effect waves-light btn-large red cg-btn learn-more-button"><i class="icon-chevron-down"></i>Learn More</button>
                    </div>

                </div>
            </div>

            <div class = "vehicle-select-form col s12 m12 l6 hide-on-med-and-down">
                <div class="row row-zero-margin">
                    <div class="col s6 m6 l6 veh-cat-col">
                        <div class="card veh-cat-card car-card selected">
                            Car
                        </div>
                    </div>
                    <div class="col s6 m6 l6 veh-cat-col">
                        <div class="card veh-cat-card bike-card ">
                            Bike
                        </div>
                    </div>
                </div>
                <div class="row home-form-2 card">
                    <!--<div class="row form-title text-left">-->
                    <!--<h3><img src="../../static/revamp/img/by-line.png" alt="by-line">Select <span class="vehicle-type">Car</span></h3>-->
                    <!--</div>-->
                    <div class="row text-left vehicle-details">

                        <!--<div class="row field-title text-left">-->
                        <!--<h4>Vehicle Details</h4>-->
                        <!--</div>-->

                        <form id="formValidate">
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="input" id="brand-select">
                                        <!--<i class="fa fa-car prefix"></i>-->
                                        <!--<select id="brand-select">-->
                                        <!--&lt;!&ndash;<option value="" disabled selected>Choose Make</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<option value="Hyundai">Hyundai</option>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<option value="Maruti">Maruti</option>&ndash;&gt;&ndash;&gt;-->
                                        <!--</select>-->
                                        <!--<label data-error="Select a Brand">Type of Question</label>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="input" id="vehicle-select">
                                        <select class ="">
                                            <option value="" disabled selected>Model</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="input-field col s5 m5 l5" id="fuel-type-select">-->
                            <!--<select>-->
                            <!--<option value="" disabled selected>Fuel</option>-->
                            <!--<option value="petrol">Petrol</option>-->
                            <!--<option value="diesel">Diesel</option>-->
                            <!--&lt;!&ndash;<option value="cng">LPG/CNG</option>&ndash;&gt;-->
                            <!--</select>-->
                            <!--</div>-->
                        </form>
                        <span class = "error-message" id="choose-vehicle-error"></span>
                    </div>

                    <!--<div class = "row service-headers" id="selected-service">-->
                    <!--<div class="row field-title text-left">-->
                    <!--<h4>Service Details</h4>-->
                    <!--</div>-->

                    <!--<div class="col s6 m6 l4">-->
                    <!--<div class="card cardhover service-card">-->
                    <!--<div class="card-content service-name">-->
                    <!--<p>Servicing</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col s6 m6 l4">-->
                    <!--<div class="card cardhover service-card">-->
                    <!--<div class="card-content service-name">-->
                    <!--<p>Car Care</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col s6 m6 l4">-->
                    <!--<div class="card cardhover service-card">-->
                    <!--<div class="card-content service-name">-->
                    <!--<p>Repairing</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col s6 m6 l4">-->
                    <!--<div class="card cardhover service-card">-->
                    <!--<div class="card-content service-name">-->
                    <!--<p>Denting/Painting</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col s6 m6 l4">-->
                    <!--<div class="card cardhover service-card">-->
                    <!--<div class="card-content service-name">-->
                    <!--<p>General Check-Up</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col s6 m6 l4">-->
                    <!--<div class="card cardhover service-card">-->
                    <!--<div class="card-content service-name">-->
                    <!--<p>Emergency</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<span class = "col s11 m11 l11 offset-m1 offset-s1 offset-l1 error-message" id="choose-category-error"></span>-->
                    <!--<form class="col s12">-->
                    <!--<div class="row">-->
                    <!--<div class="input-field col s12" >-->
                    <!--<i class="material-icons prefix">report_problem</i>-->
                    <!--<textarea id="additional" class="materialize-textarea"></textarea>-->
                    <!--<label for="additional">Specific issues/ request?</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->

                    <!--<div class="row form-row invisible">-->
                    <!--<form class="col s12">-->
                    <!--<div class="row field-title text-left">-->
                    <!--<h4>Booking Details</h4>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="input-field col s6">-->
                    <!--<i class="material-icons prefix">account_circle</i>-->
                    <!--<input id="first_name" type="text" class="validate" required="" aria-required="true">-->
                    <!--<label for="first_name" data-error="Required">First Name</label>-->
                    <!--</div>-->
                    <!--<div class="input-field col s6">-->

                    <!--<input id="last_name" type="text" class="validate" required="" aria-required="true">-->
                    <!--<label for="last_name" data-error="Required">Last Name</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--&lt;!&ndash;<div class="input-field col s6">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="material-icons prefix">location_on</i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input id="address" type="text" class="validate">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label for="address">House No./ Street Name</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="input-field col s12">-->
                    <!--<i class="material-icons prefix">location_on</i>-->
                    <!--<input type="text" id="locality" class="autocomplete" required="" aria-required="true">-->
                    <!--<label for="locality" data-error="Required">Locality</label>-->

                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="input-field col s12">-->
                    <!--<i class="material-icons prefix">phone</i>-->
                    <!--<input id="telephone" type="number" required="" aria-required="true">-->
                    <!--<label for="telephone" data-error="Invalid Number | Example : 9829098290" >Mobile</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="input-field col s12">-->
                    <!--<i class="material-icons prefix">email</i>-->
                    <!--<input id="email" type="email" class="validate" required="" aria-required="true">-->
                    <!--<label for="email" data-error="Invalid e-mail id">Email</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="input-field col s6">-->
                    <!--<i class="material-icons prefix">today</i>-->
                    <!--<input id="date" type="date" class="datepicker">-->
                    <!--<label for="date" data-error="required">date</label>-->
                    <!--</div>-->
                    <!--<div class="input-field col s6 m6 l6" id ="time-slot">-->
                    <!--<select>-->
                    <!--<option value="" disabled selected>Time-Slot</option>-->
                    <!--<option value="1">09:30AM - 11:30AM </option>-->
                    <!--<option value="2">11:30AM - 01:30PM </option>-->
                    <!--<option value="3">01:30PM - 03:30PM </option>-->
                    <!--<option value="4">03:30PM - 05:30PM </option>-->
                    <!--<option value="5">05:30PM - 07:30PM </option>-->
                    <!--</select>-->
                    <!--<span id ="choose-time-slot" class="error-message"></span>-->
                    <!--</div>-->

                    <!--</div>-->

                    <!--</form>-->
                    <!--</div>-->
                    <div class="row button-row proceed">
                        <!--<a href="#home">	-->
                        <button class="waves-effect waves-light btn-large red form-proceed" type="submit" name="action">Proceed
                            <i class="material-icons right">send</i>
                        </button>
                        <!--</a>-->
                    </div>
                    <!--<div class="row button-row invisible submit">-->
                    <!--<button class="waves-effect waves-light btn red form-submit" type="submit" name="action">Book Now-->
                    <!--<i class="material-icons right">send</i>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="row order-confirm invisible">-->
                    <!--Thank you for placing your order! Our team will contact you shortly regarding the same.-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</section>

<!--features Section-->
<section id="features">
    <div class="feature-section">
        <div class="container-fluid">
            <div class="row row-zero-margin">
                <div class='col l4 m4 s12 center-align'>
                    <div class='feature-container'>
                        <!--<img class='icon' src='//d310p4tz9tc9pz.cloudfront.net/assets/main/icon-easy-47c13d6dcacaa69bea11f7f20bfeeb55.svg'>-->
                        <i class="cg-icon icon-cg-location x70"></i>
                        <h5 class='text-dark-gray'>WE MAKE IT EASY</h5>
                        <p>Get a quote and book a service online 24/7. Our service engineers will come to your home or office, even on evenings and weekends.</p>
                        <!--<a href=''>-->
                        <!--<div class='btn-more pull-bot'>-->
                        <!--<button class="waves-effect waves-red btn-flat" name="action">Learn More</button>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class=''>Learn More</div>&ndash;&gt;-->
                        <!--</a>-->
                        <!--</img>-->
                    </div>
                </div>
                <div class='col l4 m4 s12 center-align'>
                    <div class='feature-container'>
                        <!--<img class='icon' src='//d310p4tz9tc9pz.cloudfront.net/assets/main/icon-pricing-3c7b4a919e3a18e6cdd92acbfad1b2a4.svg'>-->
                        <i class="cg-icon icon-cg-fair x70"></i>
                        <h5 class='text-dark-gray'>FAIR AND TRANSPARENT PRICING</h5>
                        <p>We offer fair and transparent pricing and savings up to 40% compared to repair shops.</p>
                        <p>Book with confidence.</p>
                        <!--<a href=''>-->
                        <!--&lt;!&ndash;<div class=''>Learn More</div>&ndash;&gt;-->
                        <!--<div class='btn-more pull-bot'>-->
                        <!--<button class="waves-effect waves-red btn-flat" name="action">Learn More</button>-->
                        <!--</div>-->
                        <!--</a>-->
                        <!--</img>-->
                    </div>
                </div>
                <div class='col l4 m4 s12 center-align'>
                    <div class='feature-container'>
                        <!--<img class='icon' src='//d310p4tz9tc9pz.cloudfront.net/assets/main/icon-shield-85a3db2fcea7ced728cdc09be095ed2e.svg'>-->
                        <i class="cg-icon icon-cg-quality x70"></i>
                        <h5 class='text-dark-gray'>HAPPINESS GUARANTEED</h5>
                        <p>We only work with highly rated workshops.</p>
                        <p>All services are backed by our 2-month / 2,000-km warranty.</p>
                        <!--<a href=''>-->
                        <!--&lt;!&ndash;<div class=''>Learn More</div>&ndash;&gt;-->
                        <!--<div class='btn-more pull-bot'>-->
                        <!--<button class="waves-effect waves-red btn-flat" name="action">Learn More</button>-->
                        <!--</div>-->
                        <!--</a>-->
                        <!--</img>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!--Clients -->
<section id="clients">
    <div class="red-overlay">
        <div class="client-section">
            <div class="container-fluid">
                <div class="row row-zero-margin">
                    <div class="col s12 m12 l4 featured-section-title">
                        <h3 class="section-title"><img src="../../static/revamp/img/by-line.png" alt="by-line">Brands that trust us</h3>
                    </div>
                    <div class="col l2 s12 m12 client">
                        <!--Client Logo - Set Images to 170px by 100px-->
                        <a href="#"><img src="../../static/revamp/img/Partners/Ola.png" alt="Ola Cabs"></a>
                    </div>

                    <div class="col l2 s12 m12 client">
                        <!--Client Logo - Set Images to 170px by 100px-->
                        <a href="#"><img src="../../static/revamp/img/Partners/Spinny.png" alt="MySpinny"></a>
                    </div>

                    <div class="col l2 s12 m12 client">
                        <!--Client Logo - Set Images to 170px by 100px-->
                        <a href="#"><img src="../../static/revamp/img/Partners/Burgersingh.png" alt="Burger Singh"></a>
                    </div>

                    <div class="col l2 s12 m12 client">
                        <!--Client Logo - Set Images to 170px by 100px-->
                        <a href="#"><img src="../../static/revamp/img/Partners/Saladdays.png" alt="Salad Days"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Testimonials-->


<section id="testimonials">
    <div class="testimonial-section">
        <div class="container-fluid">
            <div class='row'>
                <div class="col s12 m12 l12 testimonial-section-title">
                    <h3 class="section-title"><img src="../../static/revamp/img/by-line.png" alt="by-line">Our Customers Say The Nicest Things</h3>
                </div>
            </div>

            <div class="row testi-row row-zero-margin">
                <div class="col s12 m12 l4">
                    <div class="testimonial-column card  large">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator img1" src="../../static/revamp/img/Testimonials/Salman.jpg">
                        </div>
                        <div class="card-content">
                            <p class="title">Salman Sunny</p>
                            <span class="testi-vehicle-name x15">Honda City</span>
                            <blockquote>
                                <p>ClickGarage has been extremely helpful with guiding me with the Insurance requirements and there was a <strong>great level of detail</strong> in how they went about their work! </p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div class="testimonial-column large card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator img2" src="../../static/revamp/img/Testimonials/prem.jpg">
                        </div>
                        <div class="card-content">
                            <p class="title">Prem</p>
                            <span class="testi-vehicle-name x15">Bajaj Pulsar</span>
                            <blockquote>
                                <p>Workshop at my doorstep; <strong>Amazing experience.</strong> Highly Recommended</span></p>
                            </blockquote>
                        </div>

                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="testimonial-column  large card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator img3" src="../../static/revamp/img/Testimonials/Nakul.jpg">
                        </div>
                        <div class="card-content">
                            <p class="title">Nakul Kapoor</p>
                            <span class="testi-vehicle-name x15">Hyundai Verna</span>
                            <blockquote>
                                <p><strong>Great service</strong>, great model, fast turnaround time.</p>
                            </blockquote>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>






<!--brands Section-->


<section id="brands">
    <div class="brand-section">
        <div class="container-fluid">
            <div class='row'>
                <div class="col s12 m12 l12 brand-section-title">
                    <h3 class="section-title"><img src="../../static/revamp/img/by-line.png" alt="by-line">We service most makes and models</h3>
                </div>
            </div>

            <div class="row brand-logos row-zero-margin">
                <div class="col s12 m12 l6">
                    <div class="brand-column card card-content">
                        <div class='col l12 m12 s12 center-align'>
                            <h4><b>Cars</b></h4>
                        </div>
                        <div class='col l4 m6 s6 center-align'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Car/Hyundai.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Car/Honda.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Car/Volkswagen.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Car/Maruti Suzuki.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align hide-on-med-and-down'>
                            <div class='image-space fade '>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Car/Chevrolet.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align hide-on-med-and-down'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Car/Audi.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l6">
                    <div class="brand-column card card-content">
                        <div class='col l12 m12 s12 center-align'>
                            <h4><b>Bikes</b></h4>
                        </div>
                        <div class='col l4 m6 s6 center-align'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Hero.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Honda.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Yamaha.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Bajaj.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align hide-on-med-and-down'>
                            <div class='image-space fade '>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/Royal Enfield.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                        <div class='col l4 m6 s6 center-align hide-on-med-and-down'>
                            <div class='image-space fade'>
                                <img class='center-vertical' src='../../static/revamp/img/Brands/Bikes/TVS.png'>
                            </div>
                            <!--<a class='btn-gray-stroke-small card cardhover' href='/cars/bmw'>BMW</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row button-row">-->
            <!--<button class="waves-effect waves-light btn red brands-button" name="action">Show All Brands-->
            <!--&lt;!&ndash;<i class="material-icons right">send</i>&ndash;&gt;-->
            <!--</button>-->
        </div>
    </div>
    </div>
</section>




<!--Contact Section-->
<section id="contact">

    <div class="container-fluid">
        <div class="row row-zero-margin">
            <div class="col m12 l12 s12 text-left">
                <h3 class="section-title"><img src="../../static/revamp/img/by-line.png" alt="by-line">Contact Us</h3>
            </div>
        </div>

        <div class="row row-zero-margin">

            <!--<div class="col m4 l4 s12 text-left">-->
            <!--<ul>-->
            <!--<li>Legal</li>-->
            <!--<ul>-->
            <!--<li>Terms and Conditions</li>-->
            <!--<li>Privacy Policy</li>-->
            <!--</ul>-->
            <!--<li>Sitemap</li>-->
            <!--<ul>-->
            <!--<li>Why Us?</li>-->
            <!--<li>Partners</li>-->
            <!--<li>Testimonials</li>-->
            <!--<li>Brands</li>-->
            <!--<li>Contact Us</li>-->
            <!--</ul>-->
            <!--</ul>-->
            <!--</div>-->



            <div class="col m6 l6 s12 text-left">
                <h4><b>Find Us On</b></h4>
                </br>
                <ul class="socialize list-inline">
                    <li><a class="twitter" href="https://www.twitter.com/theclickgarage" target="_blank"><i class="fa fa-twitter x30"></i></a></li>
                    <li><a class="facebook" href="https://www.facebook.com/theclickgarage" target="_blank"><i class="fa fa-facebook x30"></i></a></li>
                    <li><a class="google" href="https://www.googleplus.com/theclickgarage" target="_blank"><i class="fa fa-google x30"></i></a></li>
                    <!--<li><a class="instagram" href="https://www.instagram.com" target="_blank"><i class="icon-camera-retro icon-2x"></i></a></li>-->
                    <!--<li><a class="pinterest" href="https://www.pinterest.com" target="_blank"><i class="icon-pinterest icon-2x"></i></a></li>-->
                    <!--<li><a class="linkedin" href="https://www.linkedin.com" target="_blank"><i class="icon-linkedin icon-2x"></i></a></li>-->
                </ul>
                <br>
                <br>



                <h4><b>Where we are</b></h4>
                </br>
                <h5><b>Registered Office</b></h5>
                <div itemscope itemtype="http://schema.org/ContactPoint">
                    <div itemscope itemtype="schema.org/PostalAddress">
                        <p><span itemprop="streetAddress">W22, Second Floor</span>, <span itemprop="addressLocality">Green Park Main<br />
						New Delhi</span>, Delhi - <span itemprop="postalCode">110016</span></p>
                    </div>
                    <h5><b>Gurgaon Office (HQ)</b></h5>
                    <p>B Block, HexTax Commune, Sector - 43<br />
                        Gurgaon, Haryana - 122009</p>

                    <p class="tel"><a href="tel:+919555950000"><i class="fa fa-whatsapp"></i>&nbsp;/&nbsp;<i class="fa fa-phone"></i> &nbsp; <span itemprop="telephone">+91-9555-95-0000</span></p></br>
                    <div class="contact-btn text-left">
                        <a class="waves-effect waves-light waves-cg btn red cg-btn-2 scroll" href="mailto:info@clickgarage.in"><i class="fa fa-envelope"></i> &nbsp; Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col m6 l6 s12">
                <h4><b>Send an inquiry</b></h4>
                <br>
                <div class ="contact-us card">
                    <form class = "contact-form">
                        <div class="row">
                            <div class="input-field col s12 l6 m6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="first_name-2" type="text" class="validate">
                                <label for="first_name-2" data-error="Required">First Name</label>
                            </div>
                            <div class="input-field col s12 l6 m6">

                                <input id="last_name-2" type="text" class="validate">
                                <label for="last_name-2"  data-error="Required">Last Name</label>
                            </div>
                        </div>
                        <!--<div class="row">-->
                        <!--<div class="input-field col s6">-->
                        <!--<i class="material-icons prefix">location_on</i>-->
                        <!--<input id="address" type="text" class="validate">-->
                        <!--<label for="address">House No./ Street Name</label>-->
                        <!--</div>-->
                        <!--<div class="input-field col s6">-->
                        <!--<input id="locality" type="text" class="validate">-->
                        <!--<label for="locality">Locality</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="input-field col s12 l12 m12">
                                <i class="material-icons prefix">phone</i>
                                <input id="telephone-2" type="number" class="validate">
                                <label for="telephone-2"  data-error="Invalid Number | Example : 9829098290">Telephone</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 l12 m12">
                                <i class="material-icons prefix">email</i>
                                <input id="email-2" type="email" class="validate">
                                <label for="email-2" data-error="Invalid Email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">chat_bubble_outline</i>
                                <textarea id="message-2" class="materialize-textarea"></textarea>
                                <label for="message-2" data-error="Required">Message</label>
                            </div>
                        </div>
                    </form>
                    <div class="row message-button">
                        <button class="waves-effect waves-light waves-cg red btn cg-btn-2 message-submit red" type="submit" name="action"><i class="fa fa-send"></i> &nbsp; Send</button>
                    </div>
                    <div class="row message-confirm invisible">
                        Thank you for messaging us! Our team will contact you shortly regarding the same.
                    </div>


                </div>



            </div>
            <!--<div class="col-md-4 col-lg-4 col-sm-12 text-left">-->
            <!--<h5>Another Text Box</h5>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>-->
            <!--</div>-->

        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <p>&copy;Sui Generis Innovations. All Rights Reserved.<br />
                    <!--<a href="https://www.clickgarage.in"><img src="" alt="ClickGarage Logo"></a>-->
            </div>
        </div>
    </div>
</footer>



<div id="login" class="login invisible" style="">
    <div class="materialContainer card">
        <div class="box">
            <button class="waves-effect waves-light btn red  btn-service book-btn close-btn" type="submit" name="action"><i class="fa fa-times"></i>
            </button>
            <div class="title row">LOGIN</div>
            <div class="row login-input-row">
                <div class="input-field login-input">
                    <i class="material-icons prefix">phone</i>
                    <input id="telephone_login" type="tel" class="validate">
                    <label for="telephone_login" data-error="Invalid Number">Telephone : 10 Digits</label>
                </div>
            </div>
            <div class="row btn-row login-method-row">
                <div class="col s12 m12 l5">
                    <button class="btn waves-effect waves-light btn-large red use-otp" href="">Use OTP
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s12 m12 l2">
                    Or
                </div>
                <div class="col s12 m12 l5">
                    <button class="btn waves-effect waves-light btn-large red use-pass" href="">Password
                        <i class="material-icons right">turned_in_not</i>
                    </button>
                </div>
                <div class="col s12 m12 l12 centered-text pass-forgot">
                    Forgot Your Password?
                </div>
            </div>
            <div class="login-pass-change invisible">
                <div class="row pass login-method-input">
                    <div class="input-field">
                        <i class="material-icons prefix">verified_user</i>
                        <input id="password-new" type="password" class="validate">
                        <label for="password-new" data-error="Required">Enter New Password</label>
                    </div>
                </div>
                <div class="row centered-text send-otp-row">
                    <div class="col s12 m12 l12">
                        <button class="btn waves-effect waves-light btn-large red change-pass-otp" href="">SEND OTP
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row login-passchange-btn-row-otp invisible">
                <div class="row otp login-method-input">
                    <div class="input-field">
                        <i class="material-icons prefix">dialpad</i>
                        <input id="otp-pass-new" type="tel" class="validate">
                        <label for="otp-pass-new">Enter OTP</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l6">
                        <button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s12 m12 l6">
                        <button class="btn waves-effect waves-light btn-large red verify-btn-pass" href="">VERIFY
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <div class="row login-message-row invisible">
                    <span class="login-message"></span>
                </div>
            </div>
            <div class="login-method-inputs">
                <div class="row pass login-method-input invisible">
                    <div class="input-field login-input">
                        <i class="material-icons prefix">verified_user</i>
                        <input id="password" type="password" class="validate">
                        <label for="password">Enter Password</label>
                    </div>
                </div>

                <div class="row otp login-method-input invisible">
                    <div class="input-field login-input">
                        <i class="material-icons prefix">verified_user</i>
                        <input id="otp_login" type="tel" class="validate">
                        <label for="otp_login">Enter OTP</label>
                    </div>
                </div>
            </div>
            <div class="row login-method-btn-row-otp invisible">
                <div class="row">
                    <div class="col s12 m12 l6">
                        <button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <!--</div>-->
                    <!--<div class="row btn-row login-method-btn-row invisible">-->
                    <div class="col s12 m12 l6">
                        <button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <div class="row login-message-row invisible">
                    <span class="login-message"></span>
                </div>
            </div>
            <div class="row login-method-btn-row invisible">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <div class="row login-message-row invisible">
                    <span class="login-message"></span>
                </div>
            </div>
        </div>
        <div class="overbox">
            <div class="material-button alt-2"><span class="shape"></span><span class="btn-sign">SIGN UP</span></div>
            <div class="title">Sign Up</div>
            <div class="row login-input-row signup-row">
                <div class="input-field signup-input">
                    <i class="material-icons prefix">phone</i>
                    <input id="telephone-sign" type="tel" class="validate">
                    <label for="telephone-sign" data-error="Invalid Number">Telephone</label>
                </div>
            </div>
            <div class="row signup-row">
                <div class="input-field signup-input">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name_login" type="tel" class="validate">
                    <label for="name_login" data-error="Required">Name</label>
                </div>
            </div>
            <div class="row signup-row">
                <div class="input-field login-input">
                    <i class="material-icons prefix">verified_user</i>
                    <input id="password-sign" type="password" class="validate">
                    <label for="password-sign" data-error="Required">Password</label>
                </div>
            </div>
            <div class="button button-otp-signup-row">
                <button class="button-otp-signup"><span>SEND OTP</span></button>
            </div>
            <div class="row otp-btn-row signup-row invisible">
                <div class="input-field login-input col l6 s6 m6">
                    <i class="material-icons prefix">verified_user</i>
                    <input id="otp-sign" type="text" class="validate">
                    <label for="otp-sign">OTP</label>
                </div>
                <div class="button button2">
                    <button class="col l3 m3 s3 verify-btn-sign"><span>VERIFY</span></button>
                    <button class="col l3 m3 s3 resend-otp-sign"><span>RESEND</span></button>
                </div>
            </div>
            <div class="row login-message-row visible">
                <span class="login-message">Success</span>
            </div>
        </div>
    </div>
</div>
<div id="cover" class="invisible"></div>
<div class="scrollToTop"><a href="#"><img src="../../static/revamp/img/scroll_to_top.png"></a></div>
<div class="call-button hide-on-large-only"><a href="tel:+91-9555-95-0000"><img src="../../static/revamp/img/Call.png"></a></div>

<div class="loading-pane">
    <img src="/../../static/revamp/img/loading.gif" alt="" class="loading-gif">
</div>
<div class="loading-pane-2">
    <!--<span class="image-centre">-->
    <img src="/../../static/revamp/img/page_loader.gif" alt="" class="loading-gif">
    <!--</span>-->
</div>
<div id="overlay"></div>

<!--Google Tag start-->
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: https://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 932007205;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/932007205/?guid=ON&amp;script=0"/>
    </div>
</noscript>




<!--Googel Tags End-->

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script async src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="/../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>-->
<!--<script   src="/../../static/revamp/js/materialize.min.js" ></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="/../../static/revamp/js/materialize.min.js"></script>
<script  src="/../../static/revamp/js/jquery.backstretch.js"></script>
<script  src="/../../static/revamp/js/jquery.cycle.lite.js"></script>
<script   src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>
<script  src="/../../static/revamp/js/main.js#1"></script>
<script src="/../../static/revamp/js/common.js#1"></script>
<script  src="/../../static/revamp/js/login.js#1" ></script>
<script  src="/../../static/revamp/js/forms.js#1" ></script>

<script>
    $(document).ready(function() {
        $.backstretch([
            "../../static/revamp/img/Backgrounds/bg1.jpg",
//				"../../static/revamp/img/header2.jpg"
        ], {
            fade: 1000,
            duration: 3000
        });
    });
</script>






<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
<!--var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
<!--(function(){-->
<!--var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
<!--s1.async=true;-->
<!--s1.src='https://embed.tawk.to/5687bb1cbc4176802560a8a2/1b4iq4he6';-->
<!--s1.charset='UTF-8';-->
<!--s1.setAttribute('crossorigin','*');-->
<!--s0.parentNode.insertBefore(s1,s0);-->
<!--})();-->
<!--</script>-->
<!--End of Tawk.to Script-->

<!--Fresh desk script start-->
<!--<script type='text/javascript'>var fc_JS=document.createElement('script');fc_JS.type='text/javascript';fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS); window._fcWidgetCode='QWO14Q3OVM';window._fcURL='https://clickgarage.freshchat.io';</script>-->
<!--Fresh desk script end-->


<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8711666;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->


</body>
</html>