<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">

	<title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
	<meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
	<meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
	<meta property="og:image" content="../../static/revamp/img/Logo-Black.jpg"/>
	<meta name="viewport" content="width=device-width">

	<meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.clickgarage.in">
	<meta property="og:site_name" content="ClickGarage">
	<meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

	<!-- Styles -->
	<link rel="stylesheet" href="../../static/revamp/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/revamp/css/animate.css">
	<link rel="stylesheet" href="../../static/revamp/css/styles.css">
	<!--<link rel="stylesheet" href="../../static/revamp/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="../../static/revamp/css/materialize.min.css">
	<link rel="stylesheet" href="../../static/revamp/css/main.css">
	<link rel="stylesheet" href="../../static/revamp/css/custom-styles.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="../../static/revamp/img/favicon.png">
</head>

<body class="order-page">

<div class="navbar navbar-fixed">
	<nav class="nav2">
		<div class="nav-wrapper navbar-custom">
			<div class="logo-cg logo-color visible">
				<a href="/get_quote/" class="brand-logo"><img class="logo-img" src="../../static/revamp/img/ClickGarage/logo-color-small1.png"></a>
			</div>
			<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down items-list">
				<li class ="learn-more-button"><a>Change Car</a></li>
				<li class ="partners-button"><a>Booking History</a></li>
				<li class ="testi-button"><a>Login</a></li>
				<!--<li class ="brands-button"><a>Brands</a></li>-->
				<!--<li class ="contact-us-button"><a>Contact Us</a></li>-->
				<!--<li class ="book-now-button"><a>Book Now!</a></li>-->
			</ul>

			<ul class="side-nav items-list" id="mobile">
				<li class ="learn-more-button"><a>Change Car</a></li>
				<li class ="partners-button"><a>Booking History</a></li>
				<li class ="testi-button"><a>Login</a></li>
			</ul>
		</div>
	</nav>


</div>
<div class="navbar navbar-fixed">

	<nav class="nav-service-list">
		<div class="nav-wrapper navbar-services desktop-list hide-on-med-and-down">
			<ul class="center items-list-car visible">
				<li class ="service-item servicing-button">Servicing</li>
				<li class ="service-item repairing-button">Repairing</li>
				<li class ="service-item painting-button">Denting/Painting</li>
				<li class ="service-item cleaning-button">Car Care</li>
				<li class ="service-item amc-button">AMC</li>
				<li class ="service-item emergency-button">Emergency</li>
			</ul>
			<ul class="center items-list-bike invisible">
				<li class ="service-item servicing-button">Servicing</li>
				<li class ="service-item repairing-button">Repairing</li>
				<li class ="service-item emergency-button">Emergency</li>
			</ul>
		</div>
		<div class="row">
			<div class="nav-wrapper navbar-services small-list hide-on-large-only">
				<div class="input-field col s10 m10 l10 offset-m1 offset-s1 offset-l1 car-services visible" >
					<select>
						<option value="servicing-button">Servicing</option>
						<option value="repairs-button">Repairing</option>
						<option value="painting-button">Denting/Painting</option>
						<option value="cleaning-button">Car Care</option>
						<option value="amc-button">AMC</option>
						<option value="emergency-button">Emergency</option>
					</select>
				</div>
				<div class="input-field col s10 m10 l10 offset-m1 offset-s1 offset-l1 bike-services invisible" >
					<select>
						<option value="servicing-button">Servicing</option>
						<option value="repairs-button">Repairing</option>
						<option value="emergency-button">Emergency</option>
					</select>
				</div>
			</div>
		</div>

	</nav>
</div>


<!--service category section -->
<section id="services" class="invisible">
	<!--<div class="purple-overlay">-->

	<div class="services-select-section">
		<div class="container-fluid">
			<div class='row'>
				<div class="col s12 m12 l12 car-name">
					<!--We love what you have done to your Hyundai i20?-->
					<h3>How can we help you with your <span class="car-model">Hyundai i20?</span></h3>
				</div>
			</div>

			<div class='row services-category-bikes'>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class="" src="../../static/revamp/img/Icons/Bike-Servicing.png">
						</div>
						<div class = "card-content">
							<h3 class="service-headers">Servicing</h3>
							<h4 class="service-description">Complete vehicle regular maintenance and checkup services</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class=""   src="../../static/revamp/img/Icons/Bike-Repairing.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-carrepair icon"></i>-->
							<h3 class="service-headers">Reparing</h3>
							<h4 class="service-description">Know what's wrong with your bike?Or Don't, We can fix every fault.</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class=""  src="../../static/revamp/img/Icons/Emergency.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-denting icon"></i>-->
							<h3 class="service-headers">Emergency</h3>
							<h4 class="service-description">Tyre punture? Battery drained out? Need jump start? Thats why we are here.</h4>
						</div>
					</div>
				</div>
			</div>
			<div class='row services-category-car'>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class="" src="../../static/revamp/img/Icons/Car-Servicing.png">
						</div>
						<div class = "card-content">
							<h3 class="service-headers">Servicing</h3>
							<h4 class="service-description">Complete vehicle regular maintenance and checkup services</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class=""   src="../../static/revamp/img/Icons/Car-Repair.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-carrepair icon"></i>-->
							<h3 class="service-headers">Reparing</h3>
							<h4 class="service-description">Know what's wrong with your car?Or Don't, We can fix every fault.</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class=""  src="../../static/revamp/img/Icons/Car-Denting.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-denting icon"></i>-->
							<h3 class="service-headers">Denting/ Painting</h3>
							<h4 class="service-description">Scratches and Dents? Get it repainted and get a brand new look for your car.</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class="" src="../../static/revamp/img/Icons/Car-CarCare.png">
						</div>
						<div class = "card-content">
							<h3 class="service-headers">Car Care</h3>
							<h4 class="service-description">Car cleaning? Paint Protection. We got you covered.</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class=""   src="../../static/revamp/img/Icons/Car-AMC.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-carrepair icon"></i>-->
							<h3 class="service-headers">Annual Maintenance</h3>
							<h4 class="service-description">Buy one of these and your maintenance is our headache</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div class ="card service-card cardhover">
						<br>
						<div class = "card-image">
							<img class=""  src="../../static/revamp/img/Icons/Emergency.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-denting icon"></i>-->
							<h3 class="service-headers">Emergency</h3>
							<h4 class="service-description">Tyre punture? Battery drained out? Need jump start? Thats why we are here.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--service jobs Section-->

<section id="jobs" class="visible">
	<div class="services-select-section">
		<div class="container-fluid services">
			<div class="row">
				<div class="col l9 s12 m12 vertical-col service-list">
						<div class="card horizontal vertical-cards service-name">
							<div class="row service-row">
							<div class="col l8 s12 m12 service-content">
								<div class="card-image">
									<img class=""  src="../../static/revamp/img/Icons/Emergency.png">
								</div>
								<div class="card-content job-content">
									<div class="col s12 m12 l9">
										<div class="job-name">General Check Up</div>
										<div class="job-desc">
											<ul>
												<li>Done pre major travel/ trip</li>
												<li>60 Points checkup</li>
												<li>Fluids Top Up</li>
											</ul>
										</div>
									</div>
									<div class="col s12 m12 l3 job-prices">
										<div class="job-amount"><b>&#8377;&nbsp;</b>700</div>
										<div class="job-tat">Time Taken : 5-6 Hrs</div>
									</div>
								</div>
							</div>
							<div class="col l4 s12 m12 button-col">
								<button class="waves-effect waves-light btn red btn-service more-info" type="submit" name="action">More Info
									<!--<i class="material-icons right">turned_in</i>-->
								</button>
								<button class="waves-effect waves-light btn red  btn-service book-btn" type="submit" name="action">Book
									<i class="material-icons right">send</i>
								</button>
							</div>
						</div>
						<!--<div class="row ">-->
							<!--<div class="col l12 s12 m12 button-row hide-on-large-only">-->
								<!--<button class="waves-effect waves-light btn-large red btn-service more-info" type="submit" name="action">More Info-->
									<!--&lt;!&ndash;<i class="material-icons right">turned_in</i>&ndash;&gt;-->
								<!--</button>-->
								<!--<button class="waves-effect waves-light btn-large red  btn-service book-btn" type="submit" name="action">Book-->
									<!--<i class="material-icons right">send</i>-->
								<!--</button>-->
							<!--</div>-->
						<!--</div>-->
					</div>
				</div>
				<div class="col l3 vertical-col-cart">
					<div class="card vertical-cards cart">
						Cart
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="loading-pane">
	<img src="../../static/revamp/img/loading.gif" alt="" class="loading-gif">
</div>
<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="../../static/revamp/js/materialize.min.js"></script>
<script src="../../static/revamp/js/order.js"></script>
<script src="../../static/revamp/js/common.js"></script>
<script src="../../static/revamp/js/forms.js"></script>
<script src="../../static/revamp/js/jquery.backstretch.js"></script>
<script src="../../static/revamp/js/jquery.cycle.lite.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5687bb1cbc4176802560a8a2/1b4iq4he6';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
	})();
</script>
<!--End of Tawk.to Script-->



</body>
</html>