<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">

	<title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
	<meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
	<meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
	<meta property="og:image" content="/../../static/revamp/img/Logo-Black.jpg"/>
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.clickgarage.in">
	<meta property="og:site_name" content="ClickGarage">
	<meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

	<!-- Styles -->
	<link rel="stylesheet" href="/../../static/revamp/css/font-awesome.css">
	<link rel="stylesheet" href="/../../static/revamp/css/animate.css">
	<link rel="stylesheet" href="/../../static/revamp/css/styles.css">
	<!--<link rel="stylesheet" href="/../../static/revamp/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="/../../static/revamp/css/materialize.min.css">
	<link rel="stylesheet" href="/../../static/revamp/css/main.css">
	<link rel="stylesheet" href="/../../static/revamp/css/custom-styles.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/../../static/revamp/img/favicon.png">
</head>

<body class="order-page">

<div class="navbar navbar-fixed">
	<nav class="nav2">
		<div class="nav-wrapper navbar-custom">
			<div class="logo-cg logo-color visible">
				<a href="/{{veh_type}}/{{veh}}" class="brand-logo"><img class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-color-small1.png"></a>
			</div>
			<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down items-list">
				<li class ="name"><a><span class="uname"></span></a></li>
				<li class ="home-button"><a href="/index_new">Home</a></li>
				<li class ="change-button"><a>Change Vehicle</a></li>
				<!--<li class ="history-button"><a>Booking History</a></li>-->
				<li class ="log-in-button"><a><span class="log-in"></span></a></li>
			</ul>
			<ul class="side-nav items-list" id="mobile">
				<li class ="name"><a><span class="uname"></span></a></li>
				<li class ="home-button"><a href="/index_new">Home</a></li>
				<li class ="change-button"><a>Change Vehicle</a></li>
				<!--<li class ="history-button"><a>Booking History</a></li>-->
				<li class ="log-in-button"><a><span class="log-in"></span></a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="navbar navbar-fixed nav-services invisible">

	<nav class="nav-service-list">
		<div class="nav-wrapper navbar-services desktop-list hide-on-med-and-down">
			<ul class="center items-list-car invisible">
				<li data-class ="servicing" class ="service-item servicing-button car-servicing">Servicing</li>
				<li data-class ="repairing" class ="service-item repairing-button car-repairing">Repairing</li>
				<li data-class ="denting"   class ="service-item painting-button car-denting">Denting/Painting</li>
				<li data-class ="carcare"   class ="service-item cleaning-button car-care">Car Care</li>
				<li data-class ="subscription"  class ="service-item amc-button car-subscription">Subscription</li>
				<li data-class ="emergency"  class ="service-item emergency-button car-emergency">Emergency</li>
			</ul>
			<ul class="center items-list-bike invisible">
				<li data-class ="servicing" class ="service-item servicing-button bike-servicing">Servicing</li>
				<li data-class ="repairing" class ="service-item repairing-button bike-repairing">Repairing</li>
				<li data-class ="emergency"class ="service-item emergency-button bike-emergency">Emergency</li>
			</ul>
		</div>
		<div class="row">
			<div id="service-select" class="nav-wrapper navbar-services small-list hide-on-large-only">
				<div class="input-field col s10 m10 l10 offset-m1 offset-s1 offset-l1 car-services invisible" >
					<select>
						<option data-class ="servicing" class ="car-servicing" value="servicing-button">Servicing</option>
						<option data-class ="repairing" class ="car-repairing"   value="repairs-button">Repairing</option>
						<option data-class ="denting" class ="car-denting"   value="painting-button">Denting Painting</option>
						<option  data-class ="carcare" class ="car-care"   value="cleaning-button">Car Care</option>
						<option data-class ="subscription" class ="car-subscription"  value="amc-button">Subscription</option>
						<option data-class ="emergency" class ="car-emergency"   value="emergency-button">Emergency</option>
					</select>
				</div>
				<div class="input-field col s10 m10 l10 offset-m1 offset-s1 offset-l1 bike-services invisible" >
					<select>
						<option data-class ="servicing"  class ="bike-servicing"  value="servicing-button">Servicing</option>
						<option data-class ="repairing"  class ="bike-repairing"  value="repairs-button">Repairing</option>
						<option  data-class ="emergency"  class ="bike-emergency" value="emergency-button">Emergency</option>
					</select>
				</div>
			</div>
		</div>

	</nav>
</div>
<!--city select-->
<section id="city-select" class="invisible">
	<div class="row">
		<div class="card city-select col l4 s8 m4 offset-l6 offset-s2 offset-m2">
			<div class="col l12 s12 m12">
				<div class="city card" data-class="Gurgaon">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator img1" src="/../../static/revamp/img/City/Gurgaon.jpg">
					</div>
					<div class="card-content  centered-text">
						<p class="title city-name">Gurgaon</p>
					</div>
				</div>
			</div>
			<!--<div class="city col l6 s12 m12">-->
			<!--<div class="card">-->
			<!--<div class="card-image waves-effect waves-block waves-light">-->
			<!--<img class="activator img1" src="/../../static/revamp/img/City/NewDelhi.jpg">-->
			<!--</div>-->
			<!--<div class="card-content centered-text">-->
			<!--<p class="title city-name">New Delhi</p>-->
			<!--</div>-->
			<!--</div>-->
			<!--</div>-->
		</div>
	</div>
</section>

<!--service category section -->
<section id="services" class="visible" data-vehicle-name="{{veh}}" data-vehicle-type="{{veh_type}}">
	<!--<div class="overlay-pat">-->
	<div class="services-select-section">
		<div class="container-fluid">
			<div class='row'>
				<div class="col s12 m12 l12 car-name">
					<h3 id="intro-sentence"></h3>
					<!--<h4>{{display_name}}</h4>-->
				</div>
			</div>
			<!--<div class="col s12 m12 l4">-->
			<div class='row services-category-bike invisible'>
				<div class="col s12 m12 l4">
					<div data-class="servicing"  class='card service-card cardhover bike-servicing'>
						<!--<div class ="">-->
						<br>
						<div class = "card-image">
							<img class="" src="/../../static/revamp/img/Icons-Services/Bike-Servicing.png">
						</div>
						<div class = "card-content">
							<h3 class="service-headers">Servicing</h3>
							<h4 class="service-description">Complete vehicle regular maintenance and checkup services</h4>
						</div>
					</div>
					<!--</div>-->
				</div>
				<div class="col s12 m12 l4">
					<div data-class="repairing" class ="card service-card cardhover bike-repairing">
						<br>
						<div class = "card-image">
							<img class=""   src="/../../static/revamp/img/Icons-Services/Bike-Repairing.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-carrepair icon"></i>-->
							<h3 class="service-headers">Repairing</h3>
							<h4 class="service-description">Know what's wrong with your bike?Or Don't, We can fix every fault.</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div data-class="emergency" class ="card service-card cardhover bike-emergency">
						<br>
						<div class = "card-image">
							<img class=""  src="/../../static/revamp/img/Icons-Services/Emergency.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-denting icon"></i>-->
							<h3 class="service-headers">Emergency</h3>
							<h4 class="service-description">Tyre punture? Battery drained out? Need jump start? Thats why we are here.</h4>
						</div>
					</div>
				</div>
			</div>
			<div class='row services-category-car invisible'>
				<div class="col s12 m12 l4">
					<div data-class="servicing" class ="card service-card cardhover car-servicing">
						<br>
						<div class = "card-image">
							<img class="" src="/../../static/revamp/img/Icons-Services/Car-Servicing.png">
						</div>
						<div class = "card-content">
							<h3 class="service-headers">Servicing</h3>
							<h4 class="service-description">Complete vehicle regular maintenance and checkup services</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div data-class = "repairing" class ="card service-card cardhover car-repairing">
						<br>
						<div class = "card-image">
							<img class=""   src="/../../static/revamp/img/Icons-Services/Car-Repair.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-carrepair icon"></i>-->
							<h3 class="service-headers">Reparing</h3>
							<h4 class="service-description">Know what's wrong with your car?Or Don't, We can fix every fault.</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div data-class = "denting" class ="card service-card cardhover car-denting">
						<br>
						<div class = "card-image">
							<img class=""  src="/../../static/revamp/img/Icons-Services/Car-Denting.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-denting icon"></i>-->
							<h3 class="service-headers">Denting/ Painting</h3>
							<h4 class="service-description">Scratches and Dents? Get it repainted and get a brand new look for your car.</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div data-class ="carcare" class ="card service-card cardhover car-care">
						<br>
						<div class = "card-image">
							<img class="" src="/../../static/revamp/img/Icons-Services/Car-CarCare.png">
						</div>
						<div class = "card-content">
							<h3 class="service-headers">Car Care</h3>
							<h4 class="service-description">Car cleaning? Paint Protection. We got you covered.</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div data-class ="subscription" class ="card service-card cardhover car-subscrition">
						<br>
						<div class = "card-image">
							<img class=""   src="/../../static/revamp/img/Icons-Services/Car-AMC.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-carrepair icon"></i>-->
							<h3 class="service-headers">Annual Maintenance</h3>
							<h4 class="service-description">Buy one of these and your maintenance is our headache</h4>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l4">
					<div data-class="emergency" class ="card service-card cardhover car-emergency">
						<br>
						<div class = "card-image">
							<img class=""  src="/../../static/revamp/img/Icons-Services/Emergency.png">
						</div>
						<div class = "card-content">
							<!--<i class ="icon-cg-denting icon"></i>-->
							<h3 class="service-headers">Emergency</h3>
							<h4 class="service-description">Tyre punture? Battery drained out? Need jump start? Thats why we are here.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--</div>-->
</section>

<!--service jobs Section-->

<section id="jobs" class="invisible" data-service="{{service}}">
	<div class="services-select-section">
		<div class="container-fluid services">

			<div class="row">

				<!--Service List Code-->
				<div class="col l9 s12 m12">
					<div class="row service-sub-category car-care invisible">
						<div class="col s6 m6 l6 job-cat-col ">
							<div class="card job-cat-card doorstep-card cardhover selected" doorstep="1">
								Doorstep
							</div>
						</div>
						<div class="col s6 m6 l6  job-cat-col ">
							<div class="card job-cat-card workshop-card cardhover" doorstep="0">
								Workshop
							</div>
						</div>
					</div>
					<div class="row service-sub-category denting invisible">
						<div class="col s4 m4 l4 job-cat-col ">
							<div class="card job-cat-card solid-card cardhover selected" sub_cat="Solid">
								Solid
							</div>
						</div>
						<div class="col s4 m4 l4  job-cat-col ">
							<div class="card job-cat-card mettalic-card cardhover" sub_cat="Metallic">
								Mettalic
							</div>
						</div>
						<div class="col s4 m4 l4  job-cat-col ">
							<div class="card job-cat-card pearlecent-card cardhover" sub_cat ="Pearl">
								Pearlecent
							</div>
						</div>
					</div>

					<div class="row vertical-col service-list">

					</div>
					<!--<div class="job">-->
					<!--<div class="card vertical-cards cardhover  service-name">-->
					<!--<div class="row">-->
					<!--<div class="col l12 s12 m12 service-content">-->
					<!--<div class="card-image">-->
					<!--<img class=""  src="/../../static/revamp/img/Icons-Services/Emergency.png">-->
					<!--</div>-->
					<!--<div class="card-content job-content">-->
					<!--<div class="col s12 m12 l6">-->
					<!--<div class="job-name">General Check Up</div>-->
					<!--<div class="job-desc">-->
					<!--<ul>-->
					<!--<li>Done pre major travel/ trip</li>-->
					<!--<li>60 Points checkup</li>-->
					<!--<li>Fluids Top Up</li>-->
					<!--</ul>-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="col s12 m12 l3 job-prices hide-on-med-and-down">-->
					<!--<div class="job-amount"><b>&#8377;&nbsp;</b>700</div>-->
					<!--<div class="job-tat">Time : 5-6 Hrs</div>-->
					<!--</div>-->
					<!--<div class="col l3 s12 m12 button-col hide-on-med-and-down">-->
					<!--<button class="waves-effect waves-light btn red btn-service closed-more-info" type="submit" name="action">Info-->
					<!--<i class="material-icons right">turned_in</i>-->
					<!--</button>-->
					<!--<button class="waves-effect waves-light btn red  btn-service book-btn" type="submit" name="action">Book-->
					<!--<i class="material-icons right">send</i>-->
					<!--</button>-->
					<!--</div>-->
					<!--</div>-->


					<!--</div>-->
					<!--</div>-->
					<!--<div class="row hide-on-large-only">-->
					<!--<div class="s12 m12 l12 job-prices job-prices-mobile">-->
					<!--<div class="job-amount"><b>&#8377;&nbsp;</b>700</div>-->
					<!--<div class="job-tat">Time : 5-6 Hrs</div>-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="row button-row hide-on-large-only">-->
					<!--<div class="col l12 s12 m12">-->
					<!--<button class="waves-effect waves-light btn red btn-service closed-more-info" type="submit" name="action">Info-->
					<!--<i class="material-icons right">turned_in</i>-->
					<!--</button>-->
					<!--<button class="waves-effect waves-light btn red  btn-service book-btn" type="submit" name="action">Book-->
					<!--<i class="material-icons right">send</i>-->
					<!--</button>-->
					<!--</div>-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="info-div invisible">-->
					<!--<div class="row button-header">-->
					<!--<button class="waves-effect waves-light btn red  btn-service book-btn closed-more-info" type="submit" name="action"><i class="fa fa-times"></i>-->
					<!--&lt;!&ndash;<i class="material-icons right">open_in_new</i>&ndash;&gt;-->
					<!--</button>-->
					<!--</div>-->

					<!--<div class="header gen-desc">-->
					<!--<div class="desc-name">-->
					<!--Why it is required?-->
					<!--</div>-->
					<!--<div class="desc-content">-->
					<!--General check up is recommended before any major travelling event/ seasonal change. Get to know about all the faulty parts in the vehicle.-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="header list-things">-->
					<!--<div class="desc-name">-->
					<!--What is done as part of the service?-->
					<!--</div>-->
					<!--<div class="desc-content">-->
					<!--<ul>-->
					<!--<li>60 Points Checkup of the vehicle is done</li>-->
					<!--<li>All fluids are topped up</li>-->
					<!--<li>Complete vehicle inspection report</li>-->
					<!--</ul>-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="header symptoms">-->
					<!--<div class="desc-name">-->
					<!--What are the symptoms?-->
					<!--</div>-->
					<!--<div class="desc-content">-->
					<!--<ul>-->
					<!--<li>Noice in brakes while driving</li>-->
					<!--<li>reduced braking while running the vehicle</li>-->
					<!--&lt;!&ndash;<li></li>&ndash;&gt;-->
					<!--</ul>-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="header parts-breakup">-->
					<!--<div class="desc-name">-->
					<!--What all will be replaced?-->
					<!--</div>-->
					<!--<div class="desc-content">-->
					<!--<table class="striped">-->
					<!--<thead>-->
					<!--<tr>-->
					<!--<th data-field="id">S.No.</th>-->
					<!--<th data-field="part">Name</th>-->
					<!--<th data-field="action">Item Action</th>-->
					<!--<th data-field="price">Item Price</th>-->
					<!--</tr>-->
					<!--</thead>-->
					<!--<tbody>-->
					<!--<tr>-->
					<!--<td>1</td>-->
					<!--<td>Alvin</td>-->
					<!--<td>Eclair</td>-->
					<!--<td>$0.87</td>-->
					<!--</tr>-->
					<!--<tr>-->
					<!--<td>2</td>-->
					<!--<td>Alan</td>-->
					<!--<td>Jellybean</td>-->
					<!--<td>$3.76</td>-->
					<!--</tr>-->
					<!--<tr>-->
					<!--<td>3</td>-->
					<!--<td>Jonathan</td>-->
					<!--<td>Lollipop</td>-->
					<!--<td>$7.00</td>-->
					<!--</tr>-->
					<!--</tbody>-->
					<!--</table>-->
					<!--</div>-->
					<!--</div>-->
					<!--&lt;!&ndash;<div class="row button-header">&ndash;&gt;-->
					<!--&lt;!&ndash;<button class="waves-effect waves-light btn red  btn-service book-btn" type="submit" name="action"><i class="fa fa-times"></i>&ndash;&gt;-->
					<!--&lt;!&ndash;&lt;!&ndash;<i class="material-icons right">open_in_new</i>&ndash;&gt;&ndash;&gt;-->
					<!--&lt;!&ndash;</button>&ndash;&gt;-->
					<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--</div>-->
					<!--</div>-->
				</div>
				<div id="cart" class="col l3 vertical-col-cart hide-on-med-and-down">
					<div class="card cardhover vertical-cards cart">
						<div class="hide-on-large-only right">
							<button class="waves-effect waves-light btn red close-cart" type="submit" name="action"><i class="fa fa-times"></i>
							</button>
						</div>
						<div class="row cart-section cart-header">
							<div class="col s12 m12 l12 header">
								Your Quote
							</div>
						</div>
						<div class="row cart-section  vehicle-header">
							<div class="col s12 m12 l12">
								Vehicle :
								<span id="vehicle-name1" class="vehicle-name"></span>
								<span id="vehicle-varient1" class="vehicle-name"></span>
							</div>
						</div>
						<div class="row cart-section cart-list">
							<!--<div class="cart-item">-->
							<!--<div class="col s1 m1 l1">-->
							<!--<div class="delete x25">-->
							<!--<i class="fa fa-trash-o"></i>-->
							<!--</div>-->
							<!--</div>-->
							<!--<div class="col s8 m8 l8">-->
							<!--<div class="item-name">-->
							<!--General Servicing-->
							<!--</div>-->
							<!--<div class="item-desc">-->
							<!--Quotation Break-up-->
							<!--</div>-->
							<!--</div>-->
							<!--<div class="col s3 m3 l3">-->
							<!--<div class="item-price">-->
							<!--<b>₹&nbsp;</b>700-->
							<!--</div>-->
							<!--</div>-->
							<!--</div>-->
						</div>
						<div class="row cart-section cart-summary">
							<div class="col s12 m12 l12">
								<div class="row dealer-price">
									<div class="col s7 m7 l7">
										Dealer Price :
									</div>
									<div class="col s5 m5 l5 price">
										<strike><b>₹&nbsp;</b>0</strike>
									</div>
								</div>
								<div class="row">
									<div class="col s7 m7 l7">
										CG Price :
									</div>
									<div class="col s5 m5 l5 cg-price price">
										<b>₹&nbsp;</b>0
									</div>
								</div>
								<!--<div class="row discount">-->
								<!--<div class="col s12 m12 l12">-->
								<!--Save 25%-->
								<!--</div>-->
								<!--</div>-->
							</div>
						</div>
						<div class="row cart-section cart-coupon">
							<div class="col s12 m12 l12 add-btn">
								Got a coupon code? <span class="discount-link visible">Add</span>
							</div>
							<div class ="col s12 m12 l12 coupon-box invisible">
								<div class="input-field col s7 m7 l7 coupon-btn ">
									<!--<i class="material-icons prefix">receipt</i>-->
									<input id="coupon_box" type="text" class="validate" style="text-transform:uppercase">
									<label for="coupon_box" data-error="">Promo Code</label>
								</div>
								<div class="col s5 m5 l5 coupon-btn">
									<button class="waves-effect waves-light btn red btn-service btn-coupon" type="submit" name="action">Apply
										<!--<i class="material-icons right">send</i>-->
									</button>
								</div>
								<div class="col s12 m12 l12 offset-l3  offset-s3  offset-m3  coupon-message">
									<!--Coupon applied--><span class="coup-mess"></span>
								</div>
							</div>
						</div>
						<div class="row cart-checkout">
							<div class="col s12 m12 l12">
								<button class="waves-effect waves-light btn-large red btn-service btn-checkout disabled" type="submit" name="action">Book Now
									<i class="material-icons right">send</i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="booking-details" class="invisible">
	<div class="booking-select-section">
		<div class="container-fluid services">
			<div class="row">
				<div class="col l12 s12 m12 centered-text">
					<h3>Booking Details</h3>
				</div>
			</div>

			<div class="row">
				<!--Service List Code-->
				<div class="col l9 s12 m12">
					<div class="customer-details">
						<div class="card">
							<div class="row">
								<div class="col l1 m1 s1 number centered-text">
									1
								</div>
								<div class="col l10 m9 s9 box-header">
									<h3>Booking Date & Time</h3>
								</div>
							</div>



							<div class="row">
								<div class="col l11 s11 m11 offset-l1">
									<form class="col s12">
										<div class="row">
											<div class="input-field col s12 m12 l5">
												<i class="material-icons prefix">today</i>
												<input id="date" type="date" class="datepicker">
												<label for="date" data-error="required">Date</label>
											</div>
											<div class="col l2 m4 s4 time-form">
												<i class="fa fa-clock-o"></i>
												Time:
											</div>

											<div class="input-field col s8 m8 l4" id ="time-slot">
												<!--<div class="col s9 m9 l9" id ="time-slot">-->
												<!--<div class="card box-card cardhover col l4 m4 s4" value="09:30AM - 11:30AM">09:30AM - 11:30AM </div>-->
												<!--<div class="card box-card cardhover col l4 m4 s4" value="09:30AM - 11:30AM">09:30AM - 11:30AM </div>-->
												<!--<div class="card box-card cardhover col l4 m4 s4 offset-s2 offset-m2 offset-l2" value="09:30AM - 11:30AM">09:30AM - 11:30AM </div>-->
												<!--<div class="card box-card cardhover col l4 m4 s4" value="09:30AM - 11:30AM">09:30AM - 11:30AM </div>-->
												<!--<div class="card box-card cardhover col l4 m4 s4 offset-s2 offset-m2 offset-l2" value="09:30AM - 11:30AM">09:30AM - 11:30AM </div>-->

												<select>
													<option value="" disabled selected>Time-Slot</option>
													<option value="1">09:30AM - 11:30AM </option>
													<option value="2">11:30AM - 01:30PM </option>
													<option value="3">01:30PM - 03:30PM </option>
													<option value="4">03:30PM - 05:30PM </option>
													<option value="5">05:30PM - 07:30PM </option>
												</select>
												<span id ="choose-time-slot" class="error-message"></span>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12" >
												<i class="material-icons prefix">report_problem</i>
												<input id="comment" type="text"  aria-required="true">
												<label for="comment">Specific issues/ request?</label>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!--</div>-->
							<!--<div class="card">-->
							<div class="row">
								<div class="col l1 m1 s1 number centered-text">
									2
								</div>
								<div class="col l10 m9 s9 box-header">
									<h3>Customer Details</h3>
								</div>
							</div>



							<div class="row">
								<form>
									<div class="col l5 s12 m12 offset-l1">
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">account_circle</i>
												<input id="name" type="text" class="validate" required="" aria-required="true">
												<label for="name" data-error="Required">Name</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">phone</i>
												<input id="telephone" type="number" required="" aria-required="true">
												<label for="telephone" data-error="Invalid Number | Example : 9829098290" >Mobile</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">email</i>
												<input id="email" type="email" class="validate" required="" aria-required="true">
												<label for="email" data-error="Invalid e-mail id">Email</label>
											</div>
										</div>
									</div>
									<div class="col l5 s12 m12">
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">my_location</i>
												<input type="text" id="address" required="" aria-required="true">
												<label for="address" data-error="Required">Address</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">location_on</i>
												<input type="text" id="locality" class="autocomplete" required="" aria-required="true">
												<label for="locality" data-error="Required">Locality</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">business</i>
												<input type="text" id="city" class="" required="" aria-required="true">
												<label for="city" data-error="Required">City</label>
											</div>
										</div>
									</div>
								</form>
							</div>

							<div class="row confirm-details">
								<div class="col s12 m12 l12 centered-text">
									<button class="waves-effect waves-light btn-large red btn-service btn-checkout" type="submit" name="action">Confirm Details
										<i class="material-icons right">send</i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="login invisible">
						<div class="card">
							<div class="row">
								<div class="col l1 m1 s1 number centered-text">
									3
								</div>
								<div class="col l10 m9 s9 box-header">
									<h3>Login/Checkout</h3>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 l5 m12 offset-l1">
									<i class="material-icons prefix">verified_user</i>
									<input type="text" id="otp" class="autocomplete" required="" aria-required="true">
									<label for="otp" data-error="Invalid OTP">Enter OTP</label>
								</div>
								<div class="resend link-otp col s6 m6 hide-on-large-only">
									Resend OTP
								</div>
								<div class="resend link-otp col s6 m6 hide-on-large-only">
									Change Details
								</div>
								<div class="col l4 s12 m12">
									<button class="waves-effect waves-light btn-large red btn-service btn-send-booking" type="submit" name="action">Verify and Confirm Booking
										<i class="material-icons right">send</i>
									</button>
								</div>
							</div>
							<div class="row hide-on-med-and-down">
								<div class="col l2 offset-l2 link-otp resend">
									Resend OTP
								</div>
								<div class="col l2 link-otp change_details">
									Change Details
								</div>
							</div>

						</div>
					</div>

				</div>
				<div id="summary" class="col l3 vertical-col-cart hide-on-med-and-down">
					<div class="card cardhover vertical-cards cart">
						<div class="row cart-section cart-header">
							<div class="col s12 m12 l12 header">
								Your Summary
							</div>
						</div>
						<div class="row cart-section  vehicle-header">
							<div class="col s12 m12 l12">
								Vehicle:
								<span id="vehicle-name" class="vehicle-name"></span>
								<span id="vehicle-varient" class="vehicle-name"></span>
							</div>
						</div>
						<div class="row cart-section cart-list">
							<!--<div class="cart-item">-->
							<!--<div class="col s1 m1 l1">-->
							<!--<div class="delete x25">-->
							<!--<i class="fa fa-trash-o"></i>-->
							<!--</div>-->
							<!--</div>-->
							<!--<div class="col s8 m8 l8">-->
							<!--<div class="item-name">-->
							<!--General Servicing-->
							<!--</div>-->
							<!--<div class="item-desc">-->
							<!--Quotation Break-up-->
							<!--</div>-->
							<!--</div>-->
							<!--<div class="col s3 m3 l3">-->
							<!--<div class="item-price">-->
							<!--<b>₹&nbsp;</b>700-->
							<!--</div>-->
							<!--</div>-->
							<!--</div>-->
						</div>
						<div class="row cart-section cart-summary">
							<div class="col s12 m12 l12">
								<div class="row dealer-price">
									<div class="col s7 m7 l7">
										Dealer Price :
									</div>
									<div class="col s5 m5 l5 price">
										<strike><b>₹&nbsp;</b>0</strike>
									</div>
								</div>
								<div class="row">
									<div class="col s7 m7 l7">
										CG Price :
									</div>
									<div class="col s5 m5 l5 cg-price price">
										<b>₹&nbsp;</b>0
									</div>
								</div>
							</div>
						</div>
						<!--<div class="row cart-section cart-coupon">-->
						<!--<div class="col s12 m12 l12 add-btn">-->
						<!--Got a coupon code? <span class="discount-link visible">Add</span>-->
						<!--</div>-->
						<!--<div class ="col s12 m12 l12 coupon-box invisible">-->
						<!--<div class="input-field col s7 m7 l7 coupon-btn ">-->
						<!--&lt;!&ndash;<i class="material-icons prefix">receipt</i>&ndash;&gt;-->
						<!--<input id="icon_prefix" type="text" class="validate" style="text-transform:uppercase">-->
						<!--<label for="icon_prefix">Promo Code</label>-->
						<!--</div>-->
						<!--<div class="col s5 m5 l5 coupon-btn">-->
						<!--<button class="waves-effect waves-light btn red btn-service btn-coupon" type="submit" name="action">Apply-->
						<!--&lt;!&ndash;<i class="material-icons right">send</i>&ndash;&gt;-->
						<!--</button>-->
						<!--</div>-->
						<!--<div class="col s12 m12 l12 offset-l3  offset-s3  offset-m3  coupon-message">-->
						<!--Coupon applied-->
						<!--</div>-->
						<!--</div>-->
						<!--</div>-->
						<!--<div class="row cart-checkout">-->
						<!--<div class="col s12 m12 l12">-->
						<!--<button class="waves-effect waves-light btn-large red btn-service btn-checkout" type="submit" name="action">Book Now-->
						<!--<i class="material-icons right">send</i>-->
						<!--</button>-->
						<!--</div>-->
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="nav-cart" class="navbar navbar-fixed nav-cart invisible hide-on-large-only">
	<nav class="nav-cart-list waves-effect waves-light">
		<div class="row">
			<div id="cart-navbar" class="nav-wrapper navbar-cart">
				<ul class="center data-cart">
					<li id="nav-cart-btn" class ="cart-btn-items"><i class="fa fa-shopping-cart"></i>&nbsp Total: ₹&nbsp;<span id="cart_items">0</span> | Book Now &nbsp<i class="fa fa-angle-right"></i></li>
				</ul>
			</div>
		</div>

	</nav>
</section>

<section id="vehicle-select-form" class="invisible">
	<div class="row">
		<div class = "vehicle-select-form col s12 m12 l6 offset-l3 offset-s0 offset-m0">
			<div class="row row-zero-margin">
				<div class="col s6 m6 l6 veh-cat-col">
					<div class="card veh-cat-card car-card cardhover selected">
						Car
					</div>
				</div>
				<div class="col s6 m6 l6 veh-cat-col">
					<div class="card veh-cat-card bike-card cardhover">
						Bike
					</div>
				</div>
			</div>
			<div class="row home-form-2 card">
				<!--<div class="row form-title text-left">-->
				<!--<h3><img src="/../../static/revamp/img/by-line.png" alt="by-line">Select <span class="vehicle-type">Car</span></h3>-->
				<!--</div>-->
				<br>
				<br>
				<br>


				<div class="row text-left vehicle-details">

					<!--<div class="row field-title text-left">-->
					<!--<h4>Vehicle Details</h4>-->
					<!--</div>-->

					<form id="formValidate">
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="input" id="brand-select">
									<!--<i class="fa fa-car prefix"></i>-->
									<!--<select id="brand-select">-->
									<!--&lt;!&ndash;<option value="" disabled selected>Choose Make</option>&ndash;&gt;-->
									<!--&lt;!&ndash;&lt;!&ndash;<option value="Hyundai">Hyundai</option>&ndash;&gt;&ndash;&gt;-->
									<!--&lt;!&ndash;&lt;!&ndash;<option value="Maruti">Maruti</option>&ndash;&gt;&ndash;&gt;-->
									<!--</select>-->
									<!--<label data-error="Select a Brand">Type of Question</label>-->
								</div>
							</div>
							</div>
							<div class="row">
							<div class="col s12 m12 l12">
							<div class="input" id="vehicle-select">
								<select class ="js-example-responsive">
									<option value="" disabled selected>Model</option>
								</select>
							</div>
							</div>
							</div>
							<!--<div class="input-field col s5 m5 l5" id="fuel-type-select">-->
								<!--<select>-->
									<!--<option value="" disabled selected>Fuel</option>-->
									<!--<option value="petrol">Petrol</option>-->
									<!--<option value="diesel">Diesel</option>-->
									<!--&lt;!&ndash;<option value="cng">LPG/CNG</option>&ndash;&gt;-->
								<!--</select>-->
							<!--</div>-->
						</form>
					<span class = "col s11 m11 l11 offset-m1 offset-s1 offset-l1 error-message" id="choose-vehicle-error"></span>
				</div>

				<!--<div class = "row service-headers" id="selected-service">-->
				<!--<div class="row field-title text-left">-->
				<!--<h4>Service Details</h4>-->
				<!--</div>-->

				<!--<div class="col s6 m6 l4">-->
				<!--<div class="card cardhover service-card">-->
				<!--<div class="card-content service-name">-->
				<!--<p>Servicing</p>-->
				<!--</div>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="col s6 m6 l4">-->
				<!--<div class="card cardhover service-card">-->
				<!--<div class="card-content service-name">-->
				<!--<p>Car Care</p>-->
				<!--</div>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="col s6 m6 l4">-->
				<!--<div class="card cardhover service-card">-->
				<!--<div class="card-content service-name">-->
				<!--<p>Repairing</p>-->
				<!--</div>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="col s6 m6 l4">-->
				<!--<div class="card cardhover service-card">-->
				<!--<div class="card-content service-name">-->
				<!--<p>Denting/Painting</p>-->
				<!--</div>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="col s6 m6 l4">-->
				<!--<div class="card cardhover service-card">-->
				<!--<div class="card-content service-name">-->
				<!--<p>General Check-Up</p>-->
				<!--</div>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="col s6 m6 l4">-->
				<!--<div class="card cardhover service-card">-->
				<!--<div class="card-content service-name">-->
				<!--<p>Emergency</p>-->
				<!--</div>-->
				<!--</div>-->
				<!--</div>-->
				<!--<span class = "col s11 m11 l11 offset-m1 offset-s1 offset-l1 error-message" id="choose-category-error"></span>-->
				<!--<form class="col s12">-->
				<!--<div class="row">-->
				<!--<div class="input-field col s12" >-->
				<!--<i class="material-icons prefix">report_problem</i>-->
				<!--<textarea id="additional" class="materialize-textarea"></textarea>-->
				<!--<label for="additional">Specific issues/ request?</label>-->
				<!--</div>-->
				<!--</div>-->
				<!--</form>-->
				<!--</div>-->

				<!--<div class="row form-row invisible">-->
				<!--<form class="col s12">-->
				<!--<div class="row field-title text-left">-->
				<!--<h4>Booking Details</h4>-->
				<!--</div>-->

				<!--<div class="row">-->
				<!--<div class="input-field col s6">-->
				<!--<i class="material-icons prefix">account_circle</i>-->
				<!--<input id="first_name" type="text" class="validate" required="" aria-required="true">-->
				<!--<label for="first_name" data-error="Required">First Name</label>-->
				<!--</div>-->
				<!--<div class="input-field col s6">-->

				<!--<input id="last_name" type="text" class="validate" required="" aria-required="true">-->
				<!--<label for="last_name" data-error="Required">Last Name</label>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="row">-->
				<!--&lt;!&ndash;<div class="input-field col s6">&ndash;&gt;-->
				<!--&lt;!&ndash;<i class="material-icons prefix">location_on</i>&ndash;&gt;-->
				<!--&lt;!&ndash;<input id="address" type="text" class="validate">&ndash;&gt;-->
				<!--&lt;!&ndash;<label for="address">House No./ Street Name</label>&ndash;&gt;-->
				<!--&lt;!&ndash;</div>&ndash;&gt;-->
				<!--<div class="input-field col s12">-->
				<!--<i class="material-icons prefix">location_on</i>-->
				<!--<input type="text" id="locality" class="autocomplete" required="" aria-required="true">-->
				<!--<label for="locality" data-error="Required">Locality</label>-->

				<!--</div>-->
				<!--</div>-->
				<!--<div class="row">-->
				<!--<div class="input-field col s12">-->
				<!--<i class="material-icons prefix">phone</i>-->
				<!--<input id="telephone" type="number" required="" aria-required="true">-->
				<!--<label for="telephone" data-error="Invalid Number | Example : 9829098290" >Mobile</label>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="row">-->
				<!--<div class="input-field col s12">-->
				<!--<i class="material-icons prefix">email</i>-->
				<!--<input id="email" type="email" class="validate" required="" aria-required="true">-->
				<!--<label for="email" data-error="Invalid e-mail id">Email</label>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="row">-->
				<!--<div class="input-field col s6">-->
				<!--<i class="material-icons prefix">today</i>-->
				<!--<input id="date" type="date" class="datepicker">-->
				<!--<label for="date" data-error="required">date</label>-->
				<!--</div>-->
				<!--<div class="input-field col s6 m6 l6" id ="time-slot">-->
				<!--<select>-->
				<!--<option value="" disabled selected>Time-Slot</option>-->
				<!--<option value="1">09:30AM - 11:30AM </option>-->
				<!--<option value="2">11:30AM - 01:30PM </option>-->
				<!--<option value="3">01:30PM - 03:30PM </option>-->
				<!--<option value="4">03:30PM - 05:30PM </option>-->
				<!--<option value="5">05:30PM - 07:30PM </option>-->
				<!--</select>-->
				<!--<span id ="choose-time-slot" class="error-message"></span>-->
				<!--</div>-->

				<!--</div>-->

				<!--</form>-->
				<!--</div>-->
				<div class="row button-row proceed">
					<!--<a href="#home">	-->
					<button class="waves-effect waves-light btn-large red form-proceed" type="submit" name="action">Proceed
						<i class="material-icons right">send</i>
					</button>
					<!--</a>-->
				</div>
				<!--<div class="row button-row invisible submit">-->
				<!--<button class="waves-effect waves-light btn red form-submit" type="submit" name="action">Book Now-->
				<!--<i class="material-icons right">send</i>-->
				<!--</button>-->
				<!--</div>-->
				<!--<div class="row order-confirm invisible">-->
				<!--Thank you for placing your order! Our team will contact you shortly regarding the same.-->
				<!--</div>-->

			</div>
		</div>
	</div>
</section>

<section id="confirm-booking" class="invisible">
	<div class="container-fluid">
		<div class="card">
			<div class="row order-confirm ">
				Thank you for placing your order! Our team will contact you shortly regarding your booking.
			</div>
		</div>
	</div>
</section>

<section id="login" class="login invisible" style="">
	<div class="materialContainer card">
		<div class="box">
			<button class="waves-effect waves-light btn red  btn-service book-btn close-btn" type="submit" name="action"><i class="fa fa-times"></i>
			</button>
			<div class="title row">LOGIN</div>
			<div class="row login-input-row">
				<div class="input-field login-input">
					<i class="material-icons prefix">phone</i>
					<input id="telephone_login" type="tel" class="validate">
					<label for="telephone_login" data-error="Invalid Number">Telephone : 10 Digits</label>
				</div>
			</div>
			<div class="row btn-row login-method-row">
				<div class="col s12 m12 l5">
					<button class="btn waves-effect waves-light btn-large red use-otp" href="">Use OTP
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="col s12 m12 l2">
					Or
				</div>
				<div class="col s12 m12 l5">
					<button class="btn waves-effect waves-light btn-large red use-pass" href="">Password
						<i class="material-icons right">turned_in_not</i>
					</button>
				</div>
				<div class="col s12 m12 l12 centered-text pass-forgot">
					Forgot Your Password?
				</div>
			</div>
			<div class="login-pass-change invisible">
				<div class="row pass login-method-input">
					<div class="input-field">
						<i class="material-icons prefix">verified_user</i>
						<input id="password-new" type="password" class="validate">
						<label for="password-new" data-error="Required">Enter New Password</label>
					</div>
				</div>
				<div class="row centered-text send-otp-row">
					<div class="col s12 m12 l12">
						<button class="btn waves-effect waves-light btn-large red change-pass-otp" href="">SEND OTP
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</div>

			<div class="row login-passchange-btn-row-otp invisible">
				<div class="row otp login-method-input">
					<div class="input-field">
						<i class="material-icons prefix">dialpad</i>
						<input id="otp-pass-new" type="tel" class="validate">
						<label for="otp-pass-new">Enter OTP</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
							<i class="material-icons right">send</i>
						</button>
					</div>
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red verify-btn-pass" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
			<div class="login-method-inputs">
				<div class="row pass login-method-input invisible">
					<div class="input-field login-input">
						<i class="material-icons prefix">verified_user</i>
						<input id="password" type="password" class="validate">
						<label for="password">Enter Password</label>
					</div>
				</div>

				<div class="row otp login-method-input invisible">
					<div class="input-field login-input">
						<i class="material-icons prefix">verified_user</i>
						<input id="otp_login" type="tel" class="validate">
						<label for="otp_login">Enter OTP</label>
					</div>
				</div>
			</div>
			<div class="row login-method-btn-row-otp invisible">
				<div class="row">
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
							<i class="material-icons right">send</i>
						</button>
					</div>
					<!--</div>-->
					<!--<div class="row btn-row login-method-btn-row invisible">-->
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
			<div class="row login-method-btn-row invisible">
				<div class="row">
					<div class="col s12 m12 l12">
						<button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
		</div>
		<div class="overbox">
			<div class="material-button alt-2"><span class="shape"></span><span class="btn-sign">SIGN UP</span></div>
			<div class="title">Sign Up</div>
			<div class="row login-input-row signup-row">
				<div class="input-field signup-input">
					<i class="material-icons prefix">phone</i>
					<input id="telephone-sign" type="tel" class="validate">
					<label for="telephone-sign" data-error="Invalid Number">Telephone</label>
				</div>
			</div>
			<div class="row signup-row">
				<div class="input-field signup-input">
					<i class="material-icons prefix">account_circle</i>
					<input id="name_login" type="tel" class="validate">
					<label for="name_login" data-error="Required">Name</label>
				</div>
			</div>
			<div class="row signup-row">
				<div class="input-field login-input">
					<i class="material-icons prefix">verified_user</i>
					<input id="password-sign" type="password" class="validate">
					<label for="password-sign" data-error="Required">Password</label>
				</div>
			</div>
			<div class="button button-otp-signup-row">
				<button class="button-otp-signup"><span>SEND OTP</span></button>
			</div>
			<div class="row otp-btn-row signup-row invisible">
				<div class="input-field login-input col l6 s6 m6">
					<i class="material-icons prefix">verified_user</i>
					<input id="otp-sign" type="text" class="validate">
					<label for="otp-sign">OTP</label>
				</div>
				<div class="button button2">
					<button class="col l3 m3 s3 verify-btn-sign"><span>VERIFY</span></button>
					<button class="col l3 m3 s3 resend-otp-sign"><span>RESEND</span></button>
				</div>
			</div>
			<div class="row login-message-row visible">
				<span class="login-message">Success</span>
			</div>
		</div>
	</div>
</section>

<section id="cover" class="invisible"></section>










<!--<section id="checkout" class="visible">-->
<!--<div class="checkout-select-section">-->
<!--<div class="container-fluid services">-->
<!--<div class="row">-->
<!--<div class="col l12 s12 m12 centered-text">-->
<!--Booking Details-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col l12 s12 m12">-->
<!--<div class="card">-->
<!--<div class="row">-->
<!--<div class="col l1 m1 s1 number centered-text">-->
<!--1-->
<!--</div>-->
<!--<div class="col l11 m11 s11">-->
<!--Order Summary-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col l10 m10 s10 offset-l2 offset-m2 offset-s2 cart-list">-->

<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col l10 m10 s10 offset-l2 offset-m2 offset-s2 cart-list">-->

<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->


<div class="loading-pane">
	<img src="/../../static/revamp/img/loading.gif" alt="" class="loading-gif">
</div>
<div class="call-button order-page-call hide-on-large-only"><a href="tel:+91-9555-95-0000"><img src="/../../static/revamp/img/Call.png"></a></div>


<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="/../../static/revamp/js/materialize.min.js"></script>
<script src="/../../static/revamp/js/order.js"></script>
<script src="/../../static/revamp/js/login.js"></script>
<script src="/../../static/revamp/js/common.js"></script>
<script src="/../../static/revamp/js/forms.js"></script>
<script src="/../../static/revamp/js/jquery.backstretch.js"></script>
<script src="/../../static/revamp/js/jquery.cycle.lite.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5687bb1cbc4176802560a8a2/1b4iq4he6';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
	})();
</script>
<!--End of Tawk.to Script-->



</body>
</html>