<!DOCTYPE html>
<html lang="en"><head>


			    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZVGSZV');</script>
<!-- End Google Tag Manager -->



	<meta charset="utf-8">

	<title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
	<meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
	<meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
	<meta property="og:image" content="/../../static/revamp/img/Logo-Black.jpg"/>
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.clickgarage.in">
	<meta property="og:site_name" content="ClickGarage">
	<meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

	<!-- Styles -->
	<link rel="stylesheet" href="/../../static/revamp/css/font-awesome.css">
	<link rel="stylesheet" href="/../../static/revamp/css/animate.css">
	<link rel="stylesheet" href="/../../static/revamp/css/styles.css">
	<!--<link rel="stylesheet" href="/../../static/revamp/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="/../../static/revamp/css/materialize.min.css">
	<link rel="stylesheet" href="/../../static/revamp/css/main.css">
	<link rel="stylesheet" href="/../../static/revamp/css/custom-styles.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet" />


	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/../../static/revamp/img/favicon-3.ico">
</head>

<body class="static-page">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZVGSZV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<div class="navbar navbar-fixed">
	<nav class="nav2">
		<div class="nav-wrapper navbar-trans">

			<div class="logo-cg logo-trans visible" itemscope itemtype="http://schema.org/Organization">
				<a itemprop="url" href="http://www.clickgarage.in/" class="brand-logo"><img itemprop="logo" class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-white-small1.png"></a>
			</div>
			<div class="logo-cg logo-color invisible" itemscope itemtype="http://schema.org/Organization">
				<a itemprop="url" href="http://www.clickgarage.in/" class="brand-logo"><img itemprop="logo" class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-color-small1.png"></a>
			</div>
			<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down items-list">
				<li class ="name"><a><span class="uname"></span></a></li>
				<!--<li class ="learn-more-button"><a href="">Home</a></li>-->
				<!--<li class ="partners-button"><a>Partners</a></li>-->
				<li class ="testi-button"><a href="/about-clickgarage" target="">About Us</a></li>
				<li class ="brands-button"><a href="/how-it-works" target="">How It Works</a></li>
				<!--<li class ="contact-us-button"><a>Contact Us</a></li>-->
				<li class ="log-in-button"><a><span class="log-in"></span></a></li>
				<li class ="book-now-button"><a href="/">Book Now!</a></li>
				<!--<li class ="book-now-button btn waves-effect waves-light red"><a>Book Now!</a></li>-->
			</ul>
			<ul class="side-nav items-list" id="mobile">
				<li class ="name"><a><span class="uname"></span></a></li>
				<!--<li class ="learn-more-button"><a href="">Home</a></li>-->
				<!--<li class ="partners-button"><a>Partners</a></li>-->
				<li class ="testi-button"><a href="/about-clickgarage" target="">About Us</a></li>
				<li class ="brands-button"><a href="/how-it-works" target="">How It Works</a></li>
				<!--<li class ="contact-us-button"><a>Contact Us</a></li>-->
				<li class ="log-in-button"><a><span class="log-in"></span></a></li>
				<li class ="book-now-button"><a href="/">Book Now!</a></li>
				<!--<li class ="book-now-button btn waves-effect waves-light red"><a>Book Now!</a></li>-->
			</ul>
		</div>
	</nav>
</div>

<section id="banner">
	<div class="background cancel"></div>
	<div id="color-overlay"></div>
	<div class="header-page"><h2>Privacy Policy</h2><br><span class="header-tagline">Your data is safe with ClickGarage.</span></div>
</section>
<br>
<section id="cancel">
	<div class="container-fluid">
		<div class="row">
			<h3>What we do with your information?</h3>
			<p>
				When you procure any service from our website/mobile application, as part of the process, we collect the personal information you give us such as your name, address and email address.

				When you browse our website/mobile application, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.

				With your permission, we may send you emails about our offerings, new products and other updates.

			</p>
		</div>
		<div class="row">
			<h3> How do you get my consent?</h3>
			<p>
				When you provide us with personal information to complete a transaction, verify your credit card, place an order or book a service, we imply that you consent to our collecting it and using it for that specific reason only.

				If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.


			</p>
		</div>
		<div class="row">
			<h3> How do I withdraw my consent?</h3>
			<p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@clickgarage.in or mailing us at: Sui Generis Innovations Pvt. Ltd. Second Floor, W22, Green Park, New Delhi, DL, 110016, India
			</p>
		</div>
		<div class="row">
			<h3> Disclosure</h3>
			<p> We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
			</p>
		</div>
		<div class="row">
			<h3> Payment</h3>
			<p>If you choose a direct payment gateway to complete your purchase, then ClickGarage stores your credit card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted.

				All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.

				PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.

			</p>
		</div>
		<div class="row">
			<h3>  Third Party Services</h3>
			<p>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.

				However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.

				For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.

				In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.

				As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.

				Once you leave our website/mobile application or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.
				<br>
				Links
				<br>
				When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.
			</p>
		</div>
		<div class="row">
			<h3>   Security</h3>
			<p>
				To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.

				If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.
			</p>
		</div>
		<div class="row">
			<h3>   Cookies</h3>
			<p>
				Some of our web pages use "cookies" so that we can better serve you with customized information when you return to our site. Cookies are identifiers which a web site can send to your browser to keep on your computer to facilitate your next visit to our site. You can set your browser to notify you when you are sent a cookie, giving you the option to decide whether or not to accept it. The information we collect and analyze is used to improve our service to you.

			</p>
		</div>
		<div class="row">
			<h3>   Age of consents</h3>
			<p>

				By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
			</p>
		</div>
		<div class="row">
			<h3>   Change to this privacy policy</h3>
			<p>
				We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.

				If our company is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.


			</p>
		</div>
	</div>
</section>
<section id="contact-bar">
	<div class="purple-overlay">
		<div class="conact-us-section">
			<br>
			<br>
			<div class="row centered-text header-row">
				<h3>HOW CAN WE HELP?</h3>
			</div>
			<br>
			<br>
			<div class="centered-text time-details row">
				Our team is availaible 7 days a week, from 9:30AM to 8:30PM.<br>
				<span class="contact-details">+91-9555-95-0000 | info@clickgarage.in</span>
			</div>
			<br>
			<br>
			<div class="row centered-text">
				<a href="/faq" target="_blank"><button class="waves-effect waves-light waves-cg red btn-large cg-btn-2 message-submit red" type="submit" name="action">FAQ
					<i class="material-icons right">turned_in_not</i>
				</button></a>

				<a href="/">
					<button class="waves-effect waves-light waves-cg red btn-large cg-btn-2 message-submit red" type="submit" name="action"> BOOK NOW
						<i class="material-icons right">send</i>
					</button>
				</a>
			</div>
			<br>
			<br>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row centered-text">
			<a href="/" target="_blank">Home</a>&nbsp;|&nbsp;<a href="/about-clickgarage" target="_blank">About Us</a>&nbsp;|&nbsp;<a href="/how-it-works" target="_blank">How It Works</a>&nbsp;|&nbsp;<a href="/privacy" target="_blank">Privacy Policy</a>&nbsp;|&nbsp;<a href="/cancel" target="_blank">Cancellation & Refund Policy</a>&nbsp;|&nbsp;<a href="/tnc" target="_blank">Terms and Conditions</a>
		</div>
		<div class="row">
			<div class="text-center">
				<p>&copy;Sui Generis Innovations. All Rights Reserved.<br />
					<!--<a href="https://www.clickgarage.in"><img src="" alt="ClickGarage Logo"></a>-->
			</div>
		</div>
	</div>
</footer>

<section id="login" class="login invisible" style="">
	<div class="materialContainer card">
		<div class="box">
			<button class="waves-effect waves-light btn red  btn-service book-btn close-btn" type="submit" name="action"><i class="fa fa-times"></i>
			</button>
			<div class="title row">LOGIN</div>
			<div class="row login-input-row">
				<div class="input-field login-input">
					<i class="material-icons prefix">phone</i>
					<input id="telephone_login" type="tel" class="validate">
					<label for="telephone_login" data-error="Invalid Number">Telephone : 10 Digits</label>
				</div>
			</div>
			<div class="row btn-row login-method-row">
				<div class="col s12 m12 l5">
					<button class="btn waves-effect waves-light btn-large red use-otp" href="">Use OTP
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="col s12 m12 l2">
					Or
				</div>
				<div class="col s12 m12 l5">
					<button class="btn waves-effect waves-light btn-large red use-pass" href="">Password
						<i class="material-icons right">turned_in_not</i>
					</button>
				</div>
				<div class="col s12 m12 l12 centered-text pass-forgot">
					Forgot Your Password?
				</div>
			</div>
			<div class="login-pass-change invisible">
				<div class="row pass login-method-input">
					<div class="input-field">
						<i class="material-icons prefix">verified_user</i>
						<input id="password-new" type="password" class="validate">
						<label for="password-new" data-error="Required">Enter New Password</label>
					</div>
				</div>
				<div class="row centered-text send-otp-row">
					<div class="col s12 m12 l12">
						<button class="btn waves-effect waves-light btn-large red change-pass-otp" href="">SEND OTP
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</div>

			<div class="row login-passchange-btn-row-otp invisible">
				<div class="row otp login-method-input">
					<div class="input-field">
						<i class="material-icons prefix">dialpad</i>
						<input id="otp-pass-new" type="tel" class="validate">
						<label for="otp-pass-new">Enter OTP</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
							<i class="material-icons right">send</i>
						</button>
					</div>
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red verify-btn-pass" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
			<div class="login-method-inputs">
				<div class="row pass login-method-input invisible">
					<div class="input-field login-input">
						<i class="material-icons prefix">verified_user</i>
						<input id="password" type="password" class="validate">
						<label for="password">Enter Password</label>
					</div>
				</div>

				<div class="row otp login-method-input invisible">
					<div class="input-field login-input">
						<i class="material-icons prefix">verified_user</i>
						<input id="otp_login" type="tel" class="validate">
						<label for="otp_login">Enter OTP</label>
					</div>
				</div>
			</div>
			<div class="row login-method-btn-row-otp invisible">
				<div class="row">
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
							<i class="material-icons right">send</i>
						</button>
					</div>
					<!--</div>-->
					<!--<div class="row btn-row login-method-btn-row invisible">-->
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
			<div class="row login-method-btn-row invisible">
				<div class="row">
					<div class="col s12 m12 l12">
						<button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
		</div>
		<div class="overbox">
			<div class="material-button alt-2"><span class="shape"></span><span class="btn-sign">SIGN UP</span></div>
			<div class="title">Sign Up</div>
			<div class="row login-input-row signup-row">
				<div class="input-field signup-input">
					<i class="material-icons prefix">phone</i>
					<input id="telephone-sign" type="tel" class="validate">
					<label for="telephone-sign" data-error="Invalid Number">Telephone</label>
				</div>
			</div>
			<div class="row signup-row">
				<div class="input-field signup-input">
					<i class="material-icons prefix">account_circle</i>
					<input id="name_login" type="tel" class="validate">
					<label for="name_login" data-error="Required">Name</label>
				</div>
			</div>
			<div class="row signup-row">
				<div class="input-field login-input">
					<i class="material-icons prefix">verified_user</i>
					<input id="password-sign" type="password" class="validate">
					<label for="password-sign" data-error="Required">Password</label>
				</div>
			</div>
			<div class="button button-otp-signup-row">
				<button class="button-otp-signup"><span>SEND OTP</span></button>
			</div>
			<div class="row otp-btn-row signup-row invisible">
				<div class="input-field login-input col l6 s6 m6">
					<i class="material-icons prefix">verified_user</i>
					<input id="otp-sign" type="text" class="validate">
					<label for="otp-sign">OTP</label>
				</div>
				<div class="button button2">
					<button class="col l3 m3 s3 verify-btn-sign"><span>VERIFY</span></button>
					<button class="col l3 m3 s3 resend-otp-sign"><span>RESEND</span></button>
				</div>
			</div>
			<div class="row login-message-row visible">
				<span class="login-message">Success</span>
			</div>
		</div>
	</div>
</section>
<section id="cover" class="invisible"></section>
<section id="cover2" class="invisible"></section>


<div class="loading-pane">
	<img src="/../../static/revamp/img/loading.gif" alt="" class="loading-gif">
</div>

<div class="call-button order-page-call hide-on-large-only"><a href="tel:+91-9555-95-0000"><img src="/../../static/revamp/img/Call.png"></a></div>
<div class="loading-pane-2">
	<img src="/../../static/revamp/img/page_loader.gif" alt="" class="loading-gif">
</div>
<div id="overlay"></div>
<!--<div class="overlay-pat"></div>-->



<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="/../../static/revamp/js/materialize.min.js"></script>
<script src="/../../static/revamp/js/staticpages.js"></script>
<script src="/../../static/revamp/js/login.js"></script>
<script src="/../../static/revamp/js/common.js"></script>
<script src="/../../static/revamp/js/forms.js"></script>
<script src="/../../static/revamp/js/jquery.backstretch.js"></script>
<script src="/../../static/revamp/js/jquery.cycle.lite.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>


<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: https://google.com/ads/remarketingsetup
--------------------------------------------------->
<!--<script type="text/javascript">-->
	<!--/* <![CDATA[ */-->
	<!--var google_conversion_id = 932007205;-->
	<!--var google_custom_params = window.google_tag_params;-->
	<!--var google_remarketing_only = true;-->
	<!--/* ]]> */-->
<!--</script>-->
<!--<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">-->
<!--</script>-->

<!--<noscript>-->
	<!--<div style="display:inline;">-->
		<!--<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/932007205/?guid=ON&amp;script=0"/>-->
	<!--</div>-->
<!--</noscript>-->

<!--<script>-->
	<!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
				<!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
			<!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
	<!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

	<!--ga('create', 'UA-68064927-1', 'auto');-->
	<!--ga('send', 'pageview');-->

<!--</script>-->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5687bb1cbc4176802560a8a2/1b4iq4he6';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
	})();
</script>
<!--End of Tawk.to Script-->



</body>
</html>