<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">

    <title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
    <meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
    <meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
    <meta property="og:image" content="/../../static/revamp/img/Logo-Black.jpg"/>
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.clickgarage.in">
    <meta property="og:site_name" content="ClickGarage">
    <meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

    <!-- Styles -->
    <link rel="stylesheet" href="/../../static/revamp/css/font-awesome.css">
    <link rel="stylesheet" href="/../../static/revamp/css/animate.css">
    <link rel="stylesheet" href="/../../static/revamp/css/styles.css">
    <!--<link rel="stylesheet" href="/../../static/revamp/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/../../static/revamp/css/materialize.min.css">
    <link rel="stylesheet" href="/../../static/revamp/css/main.css">
    <link rel="stylesheet" href="/../../static/revamp/css/custom-styles.css">

    <!--<link rel="stylesheet" href="/../../static/revamp/css/materialize.clockpicker.css">-->
    <!--<link rel="stylesheet" href="/../../static/revamp/css/jquery.ui.timepicker.css">-->
    <!--<link rel="stylesheet" href="/../../static/revamp/css/wickedpicker.css">-->
    <link rel="stylesheet" href="/../../static/revamp/css/jquery.timepicker.css">
    <!--<link href="/../../static/revamp/css/paper-bootstrap-wizard.css" rel="stylesheet" />-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/../../static/revamp/img/favicon-3.ico">
</head>

<body class="admin-page">
<section id="booking-details" class="page-section" data-id="{{data_id}}">
    <div id="customer-detail">
        <div class="row header-booking">
            <div class="col s6 m6 l6 cust-detail service-box card cardhover selected">
                Cust. Details
            </div>
            <div class="col s6 m6 l6 service-detail service-box card cardhover">
                Service Desc.
            </div>
        </div>


        <div class="row">
            <div class="row booking-data visible">
                <div class="row pre-data">

                </div>

                <div class="row user-button-row-1">
                    <div class="row">
                        <div class="col l12 s12 m12">
                            <button status_next="Cancelled" class="waves-effect status-btn-1 waves-light btn cg-primary btn-update-status page-wide" type="submit" name="action"><span class="change-status">Cancel Job</span>
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="confirm-row row">
                            <br>
                            <!--New Status Change Start-->
                            <div class="status-bar-block">
                                <div class="status-row-inline">

                                    <div class="circle-status offset-l2 status-change-1" data-class="Confirmed">
                                    <div class="circle centered-text middle-circle">
                                    <i class="fa fa-drivers-license-o"></i>
                                    </div>
                                    <!--<div class="centered-text content-status">-->
                                    <!--Confirmed-->
                                    <!--</div>-->
                                    </div>
                                    <div class="square status-change-2">

                                    </div>
                                    <div class="circle-status status-change-2" data-class="Assigned">
                                    <div class="circle centered-text middle-circle">
                                    <i class="fa fa-user"></i>
                                    </div>
                                    <!--<div class="centered-text content-status">-->
                                    <!--Assigned-->
                                    <!--</div>-->
                                    </div>
                                    <div class="square status-change-3 ">

                                    </div>
                                    <div class="circle-status  status-change-3 " data-class="Engineer Left">

                                        <div class="circle centered-text middle-circle ">
                                            <i class="fa fa-motorcycle"></i>
                                        </div>
                                        <!--<div class="centered-text content-status">-->
                                        <!--Engineer Left-->
                                        <!--</div>-->
                                    </div>
                                    <div class="square status-change-4 ">

                                    </div>
                                    <div class="circle-status  status-change-4 " data-class="Reached Workshop">

                                        <div class="circle centered-text middle-circle ">
                                            <i class="fa fa-home"></i>
                                        </div>
                                        <!--<div class="centered-textc ontent-status">-->
                                        <!--Reached Workshop-->
                                        <!--</div>-->
                                    </div>
                                    <div class="square status-change-5 ">

                                    </div>
                                    <div class="circle-status  status-change-5 " data-class="Estimate Shared">

                                        <div class="circle centered-text middle-circle">
                                            <i class="fa fa-list"></i>
                                        </div>
                                        <!--<div class="centered-text content-status">-->
                                        <!--Estimate Shared-->
                                        <!--</div>-->
                                    </div>
                                    <div class="square status-change-6 ">

                                    </div>
                                    <div class="circle-status  status-change-6 " data-class="Job Completed">
                                        <div class="circle centered-text middle-circle">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <!--<div class="centered-text content-status">-->
                                        <!--Job Completed-->
                                        <!--</div>-->
                                    </div>
                                    <div class="square status-change-7 ">

                                    </div>
                                    <div class="circle-status  status-change-7 " data-class="Feedback Taken">
                                        <div class="circle centered-text middle-circle">
                                            <i class="fa fa-comment-o"></i>
                                        </div>
                                        <!--<div class="centered-text content-status">-->
                                        <!--Feedback Taken-->
                                        <!--</div>-->
                                    </div>
                                    <div class="square status-change ">

                                    </div>
                                    <div class="circle-status  status-change-8 " data-class="Cancelled">

                                        <div class="circle centered-text middle-circle">
                                            <i class="fa fa-ban"></i>
                                        </div>
                                        <!--<div class="centered-text content-status">-->
                                        <!--Cancelled-->
                                        <!--</div>-->
                                    </div>
                                    <div class="square status-change">

                                    </div>
                                    <div class="circle-status status-change-9" data-class="Escalation">

                                        <div class="circle centered-text middle-circle">
                                            <i class="fa fa-warning"></i>
                                        </div>
                                        <!--<div class="centered-text content-status">-->
                                        <!--Escalation-->
                                        <!--</div>-->
                                    </div>
                                    <!--<div class="square status-change">-->

                                    <!--</div>-->
                                    <!--<div class="circle-status status-change-10" data-class="Lead">-->

                                    <!--<div class="circle centered-text middle-circle">-->
                                    <!--<i class="fa fa-drivers-license-o"></i>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;<div class="centered-text content-status">&ndash;&gt;-->
                                    <!--&lt;!&ndash;Escalation&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                </div>
                                <div class="status-row-inline">

                                    <div class="circle-status offset-l2  status-change-1 selected">
                                    <!--<div class="circle centered-text middle-circle">-->
                                    <!--<i class="fa fa-car"></i>-->
                                    <!--</div>-->
                                    <div class="centered-text content-status">
                                    Confirmed
                                    </div>
                                    </div>
                                    <div class="square3  status-change-2 selected">

                                    </div>
                                    <div class="circle-status   status-change-2 selected ">
                                    <!--<div class="circle centered-text middle-circle">-->
                                    <!--<i class="fa fa-car"></i>-->
                                    <!--</div>-->
                                    <div class="centered-text content-status">
                                    Assigned
                                    </div>
                                    </div>
                                    <div class="square3 status-change-3">

                                    </div>
                                    <div class="circle-status  status-change-3">

                                        <!--<div class="circle centered-text middle-circle ">-->
                                        <!--<i class="fa fa-car"></i>-->
                                        <!--</div>-->
                                        <div class="centered-text content-status">
                                            Engineer Left
                                        </div>
                                    </div>
                                    <div class="square3 status-change-4">

                                    </div>
                                    <div class="circle-status  status-change-4">

                                        <!--<div class="circle centered-text middle-circle ">-->
                                        <!--<i class="fa fa-car"></i>-->
                                        <!--</div>-->
                                        <div class="centered-text content-status">
                                            Reached Workshop
                                        </div>
                                    </div>
                                    <div class="square3 status-change-5">

                                    </div>
                                    <div class="circle-status  status-change-5">

                                        <!--<div class="circle centered-text middle-circle">-->
                                        <!--<i class="fa fa-car"></i>-->
                                        <!--</div>-->
                                        <div class="centered-text content-status">
                                            Estimate Shared
                                        </div>
                                    </div>
                                    <div class="square3 status-change-6">

                                    </div>
                                    <div class="circle-status  status-change-6">
                                        <!--<div class="circle centered-text middle-circle">-->
                                        <!--<i class="fa fa-car"></i>-->
                                        <!--</div>-->
                                        <div class="centered-text content-status">
                                            Job Completed
                                        </div>
                                    </div>
                                    <div class="square3 status-change-7">

                                    </div>
                                    <div class="circle-status  status-change-7">
                                        <!--<div class="circle centered-text middle-circle">-->
                                        <!--<i class="fa fa-car"></i>-->
                                        <!--</div>-->
                                        <div class="centered-text content-status">
                                            Feedback Taken
                                        </div>
                                    </div>
                                    <div class="square3 status-change-8">

                                    </div>
                                    <div class="circle-status status-change-8">

                                        <!--<div class="circle centered-text middle-circle">-->
                                        <!--<i class="fa fa-car"></i>-->
                                        <!--</div>-->
                                        <div class="centered-text content-status">
                                            Cancelled
                                        </div>
                                    </div>
                                    <div class="square3 status-change-9">

                                    </div>
                                    <div class="circle-status status-change-9">

                                        <!--<div class="circle centered-text middle-circle">-->
                                        <!--<i class="fa fa-car"></i>-->
                                        <!--</div>-->
                                        <div class="centered-text content-status">
                                            Escalation
                                        </div>
                                    </div>
                                    <!--<div class="square3 status-change-10">-->

                                    <!--</div>-->
                                    <!--<div class="circle-status status-change-10">-->

                                    <!--&lt;!&ndash;<div class="circle centered-text middle-circle">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fa fa-car"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--<div class="centered-text content-status">-->
                                    <!--Lead-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <!--New Status Change End-->


                            <!--Old Status Change Start-->


                            <!--<div class="col l2 s12 m12">-->
                            <!--<b>Change Status</b>-->
                            <!--</div>-->
                            <!--<div class="col l6 s12 m12">-->
                            <!--<div class="input-field" id="status-select">-->
                            <!--<select class="status-list browser-default">-->
                            <!--<option value="" disabled selected>Select Status</option>-->
                            <!--<option value="Lead" disabled >Lead</option>-->
                            <!--<option value="Confirmed">Confirmed</option>-->
                            <!--<option value="Assigned">Assigned</option>-->
                            <!--<option value="Engineer Left">Engineer Left</option>-->
                            <!--<option value="Reached Workshop" >Reached Workshop</option>-->
                            <!--<option value="Estimate Shared" >Estimate Shared</option>-->
                            <!--<option value="Job Completed">Job Completed</option>-->
                            <!--<option value="Feedback Taken" >Feedback Taken</option>-->
                            <!--<option value="Cancelled" >Cancelled</option>-->
                            <!--<option value="Escalation" >Escalation</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col l4 s12 m12 centered-text">-->
                            <!--<button class="waves-effect waves-light btn cg-primary btn-update-status page-wide" type="submit" name="action">Update Status-->
                            <!--<i class="material-icons right">send</i>-->
                            <!--</button>-->
                            <!--</div>-->


                            <!--Old Status Change End-->

                        </div>

            </div>
            <div class="row booking-job-data invisible">
                <div class="row summary-data centered-text">
                    <h3>Total Amount : <span class="total-amount">0</span></h3>
                    <br>
                </div>
                <div class="row">
                    <br>
                    <div class="row centered-text">
                        <input type="checkbox" class="filled-in" id="comp_all_select"/><label for="comp_all_select">Select All</label>
                    </div>
                    <!--<br>-->
                    <div class="row pre-data ">
                    </div>
                </div>
                <div class="row button-row-booking user-button-row">
                    <div class="bill-row">
                        <div class="row">
                            <div class="col l12 s12 m12 centered-text">
                                <button class="waves-effect waves-light btn cg-primary btn-view-bill page-wide generated-bill invisible" booking="" type="submit" name="action">View Bill
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row user-button-row-2 button-row-booking invisible card">
                    <div class="row">
                        <div class="col l12 s12 m12 centered-text">
                            <button class="waves-effect waves-light btn cg-primary btn-update-estimate page-wide" type="submit" name="action">Approve Items
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="download" class="invisible">
    <iframe id="downloadiframe"></iframe>
</div>
<section id="cover" class="invisible"></section>
<section id="cover2" class="invisible"></section>

<div class="loading-pane">
    <img src="/../../static/revamp/img/loading.gif" alt="" class="loading-gif">
</div>


<div class="loading-pane-2">
    <img src="/../../static/revamp/img/page_loader.gif" alt="" class="loading-gif">
</div>
<div id="overlay"></div>
<div class="overlay-pat"></div>

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>
<script>window.jQuery || document.write('<script src="/../../static/revamp/js/jquery-3.1.1.min.js" ><\/script>')</script>
<!--<script src="/../../static/revamp/js/paper-bootstrap-wizard.js" type="text/javascript"></script>-->
<!--<script src="/../../static/revamp/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>-->
<!--<script src="/../../static/revamp/js/bootstrap.min.js" type="text/javascript"></script>-->
<!--<script src="/../../static/revamp/js/jquery.validate.min.js" type="text/javascript"></script>-->
<!--<script src="/../../static/revamp/js/materialize.clockpicker.js" ></script>-->
<!--<script src="/../../static/revamp/js/wickedpicker.js" ></script>-->
<script src="/../../static/revamp/js/jquery.timepicker.min.js" ></script>
<script src="/../../static/revamp/js/materialize.min.js" ></script>
<script src="/../../static/revamp/js/track.js" ></script>
<script src="/../../static/revamp/js/common.js" ></script>
<script src="/../../static/revamp/js/forms.js" ></script>
<script src="/../../static/revamp/js/jquery.backstretch.js" ></script>
<script src="/../../static/revamp/js/jquery.cycle.lite.js" ></script>



</body>
</html>