<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">

	<title>Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services</title>
	<meta name="description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero)."/>
	<meta name="keywords" content="Car, Car Repair, Car Dry Cleaning, Bike, Bike Repair , car dent repair, Bumper Repair, car interior cleaning, road side assistance, motorcycle maintenance"/>
	<meta property="og:image" content="/../../static/revamp/img/Logo-Black.jpg"/>
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="Car & Bike - Repair, Cleaning, Servicing | Road Side Assistance | Doorstep services">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.clickgarage.in">
	<meta property="og:site_name" content="ClickGarage">
	<meta property="og:description" content="Click Garage is the ideal one-stop solution for all types of car & bike repair, service, interior cleaning and other associated works. We also offer quick and efficient road side assistance for cars (Nissan, Datsun, Volkswagen, Toyota, Tata, Skoda,  Renault, Maruti Suzuki, Mahindra, Hyundai, Honda, Ford, Fiat, Chevrolet) and bikes (Royal Enfield, Suzuki, TVS, Bajaj, KTM, Yamaha, Hero).">

	<!-- Styles -->
	<link rel="stylesheet" href="/../../static/revamp/css/font-awesome.css">
	<link rel="stylesheet" href="/../../static/revamp/css/animate.css">
	<link rel="stylesheet" href="/../../static/revamp/css/styles.css">
	<!--<link rel="stylesheet" href="/../../static/revamp/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="/../../static/revamp/css/materialize.min.css">
	<link rel="stylesheet" href="/../../static/revamp/css/main.css">
	<link rel="stylesheet" href="/../../static/revamp/css/custom-styles.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet" />


	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/../../static/revamp/img/favicon-3.ico">
	<!-- Global site tag (gtag.js) - Google AdWords: 853657112 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-853657112"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-853657112');
</script>
</head>

<body class="static-page">

<div class="navbar navbar-fixed">
	<nav class="nav2">
		<div class="nav-wrapper navbar-trans">

			<div class="logo-cg logo-trans visible" itemscope itemtype="http://schema.org/Organization">
				<a itemprop="url" href="http://www.clickgarage.in/" class="brand-logo"><img itemprop="logo" class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-white-small1.png"></a>
			</div>
			<div class="logo-cg logo-color invisible" itemscope itemtype="http://schema.org/Organization">
				<a itemprop="url" href="http://www.clickgarage.in/" class="brand-logo"><img itemprop="logo" class="logo-img" src="/../../static/revamp/img/ClickGarage/logo-color-small1.png"></a>
			</div>
			<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down items-list">
				<li class ="name"><a><span class="uname"></span></a></li>
				<li class ="learn-more-button"><a>Why Us?</a></li>
				<li class ="partners-button"><a>Partners</a></li>
				<li class ="testi-button"><a>Testimonials</a></li>
				<li class ="brands-button"><a>Brands</a></li>
				<li class ="contact-us-button"><a>Contact Us</a></li>
				<li class ="log-in-button"><a><span class="log-in"></span></a></li>
				<li class ="book-now-button"><a>Book Now!</a></li>
				<!--<li class ="book-now-button btn waves-effect waves-light red"><a>Book Now!</a></li>-->
			</ul>
			<ul class="side-nav items-list" id="mobile">
				<li class ="name"><a><span class="uname"></span></a></li>
				<li class ="learn-more-button"><a>Why Us?</a></li>
				<li class ="partners-button"><a>Partners</a></li>
				<li class ="testi-button"><a>Testimonials</a></li>
				<li class ="brands-button"><a>Brands</a></li>
				<li class ="contact-us-button"><a>Contact Us</a></li>
				<li class ="log-in-button"><a><span class="log-in"></span></a></li>
				<li class ="book-now-button"><a>Book Now!</a></li>
			</ul>
		</div>
	</nav>
</div>
<section id="banner">
	<div class="background howitworks"></div>
	<div id="color-overlay"></div>
	<div class="header-page"><h2>Why ClickGarage?</h2><br><span class="header-tagline">Car and Bike Care. Made Easy.</span></div>
</section>
<br>
<section id="whycg">
	<div class="container-fluid">
		<div class="row">
			<p>
			We surveyed over 200 workshops across Delhi-NCR as well as over 1000 customers and identified key gaps in service expectations and actual service delivery. This reinforced our desire to build a standardized service experience to all the customers looking for automobile maintenance services. Several months of consumer research and years of service expertise in the automobile industry went into designing an end-to-end uniform  customer experience. We then went on to set up ClickGarage flagship workshops which are run and managed entirely by Team ClickGarage. We equip all our workshops with EZgarage - ClickGarage's proprietary cloud-based workshop management tool which eliminates all the inefficiencies in the current processes and also brings transparency in the system. At ClickGarage workshops we offer up to 45% cost savings for our customers compared to the authorized service centres, customers get to save upto 45-50% on auto services
			</p>
		</div>
		<div class="row">
			<div class="col l6 s12 m12 card cardhover">
				<div class="col l3 s12 m12 centered-text">
					<i class="fa fa-connectdevelop x60 iconwhy"></i>
				</div>
				<div class="col l9 s12 m12 centered-text contentwhy">
					Convenient booking platform (website/telephone)
				</div>
			</div>
			<div class="col l6 s12 m12 card cardhover">
				<div class="col l3 s12 m12 centered-text">
					<i class="fa fa-user-circle-o x60 iconwhy "></i>
				</div>
				<div class="col l9 s12 m12 centered-text contentwhy">
					Availability of Pick Up/Drop facilities
				</div>
			</div>
			<div class="col l6 s12 m12 card cardhover">
				<div class="col l3 s12 m12 centered-text">
					<i class="fa x60 iconwhy fa-money"></i>
				</div>
				<div class="col l9 s12 m12 centered-text contentwhy">
					Affordable Pricing
				</div>
			</div>
			<div class="col l6 s12 m12 card cardhover">
				<div class="col l3 s12 m12 centered-text">
					<i class=" x60 iconwhy fa fa-trophy"></i>
				</div>
				<div class="col l9 s12 m12 centered-text contentwhy">
					Quality and transparency of spare parts used
				</div>
			</div>
			<div class="col l6 s12 m12 card cardhover">
				<div class="col l3 s12 m12 centered-text">
					<i class="fa x60 iconwhy fa-comment"></i>
				</div>
				<div class="col l9 s12 m12 centered-text contentwhy">
					Monitoring of service with regular progress updates through EZ garage
				</div>
			</div>
			<div class="col l6 s12 m12 card cardhover">
				<div class="col l3 s12 m12 centered-text">
					<i class="fa x60 iconwhy fa-credit-card"></i>
				</div>
				<div class="col l9 s12 m12 centered-text contentwhy">
					Various payment options
				</div>
			</div>
		</div>
	</div>
</section>

<section id="login" class="login invisible" style="">
	<div class="materialContainer card">
		<div class="box">
			<button class="waves-effect waves-light btn red  btn-service book-btn close-btn" type="submit" name="action"><i class="fa fa-times"></i>
			</button>
			<div class="title row">LOGIN</div>
			<div class="row login-input-row">
				<div class="input-field login-input">
					<i class="material-icons prefix">phone</i>
					<input id="telephone_login" type="tel" class="validate">
					<label for="telephone_login" data-error="Invalid Number">Telephone : 10 Digits</label>
				</div>
			</div>
			<div class="row btn-row login-method-row">
				<div class="col s12 m12 l5">
					<button class="btn waves-effect waves-light btn-large red use-otp" href="">Use OTP
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="col s12 m12 l2">
					Or
				</div>
				<div class="col s12 m12 l5">
					<button class="btn waves-effect waves-light btn-large red use-pass" href="">Password
						<i class="material-icons right">turned_in_not</i>
					</button>
				</div>
				<div class="col s12 m12 l12 centered-text pass-forgot">
					Forgot Your Password?
				</div>
			</div>
			<div class="login-pass-change invisible">
				<div class="row pass login-method-input">
					<div class="input-field">
						<i class="material-icons prefix">verified_user</i>
						<input id="password-new" type="password" class="validate">
						<label for="password-new" data-error="Required">Enter New Password</label>
					</div>
				</div>
				<div class="row centered-text send-otp-row">
					<div class="col s12 m12 l12">
						<button class="btn waves-effect waves-light btn-large red change-pass-otp" href="">SEND OTP
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</div>

			<div class="row login-passchange-btn-row-otp invisible">
				<div class="row otp login-method-input">
					<div class="input-field">
						<i class="material-icons prefix">dialpad</i>
						<input id="otp-pass-new" type="tel" class="validate">
						<label for="otp-pass-new">Enter OTP</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
							<i class="material-icons right">send</i>
						</button>
					</div>
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red verify-btn-pass" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
			<div class="login-method-inputs">
				<div class="row pass login-method-input invisible">
					<div class="input-field login-input">
						<i class="material-icons prefix">verified_user</i>
						<input id="password" type="password" class="validate">
						<label for="password">Enter Password</label>
					</div>
				</div>

				<div class="row otp login-method-input invisible">
					<div class="input-field login-input">
						<i class="material-icons prefix">verified_user</i>
						<input id="otp_login" type="tel" class="validate">
						<label for="otp_login">Enter OTP</label>
					</div>
				</div>
			</div>
			<div class="row login-method-btn-row-otp invisible">
				<div class="row">
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red resend-otp" href="">RESEND
							<i class="material-icons right">send</i>
						</button>
					</div>
					<!--</div>-->
					<!--<div class="row btn-row login-method-btn-row invisible">-->
					<div class="col s12 m12 l6">
						<button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
			<div class="row login-method-btn-row invisible">
				<div class="row">
					<div class="col s12 m12 l12">
						<button class="btn waves-effect waves-light btn-large red verify-btn" href="">VERIFY
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="row login-message-row invisible">
					<span class="login-message"></span>
				</div>
			</div>
		</div>
		<div class="overbox">
			<div class="material-button alt-2"><span class="shape"></span><span class="btn-sign">SIGN UP</span></div>
			<div class="title">Sign Up</div>
			<div class="row login-input-row signup-row">
				<div class="input-field signup-input">
					<i class="material-icons prefix">phone</i>
					<input id="telephone-sign" type="tel" class="validate">
					<label for="telephone-sign" data-error="Invalid Number">Telephone</label>
				</div>
			</div>
			<div class="row signup-row">
				<div class="input-field signup-input">
					<i class="material-icons prefix">account_circle</i>
					<input id="name_login" type="tel" class="validate">
					<label for="name_login" data-error="Required">Name</label>
				</div>
			</div>
			<div class="row signup-row">
				<div class="input-field login-input">
					<i class="material-icons prefix">verified_user</i>
					<input id="password-sign" type="password" class="validate">
					<label for="password-sign" data-error="Required">Password</label>
				</div>
			</div>
			<div class="button button-otp-signup-row">
				<button class="button-otp-signup"><span>SEND OTP</span></button>
			</div>
			<div class="row otp-btn-row signup-row invisible">
				<div class="input-field login-input col l6 s6 m6">
					<i class="material-icons prefix">verified_user</i>
					<input id="otp-sign" type="text" class="validate">
					<label for="otp-sign">OTP</label>
				</div>
				<div class="button button2">
					<button class="col l3 m3 s3 verify-btn-sign"><span>VERIFY</span></button>
					<button class="col l3 m3 s3 resend-otp-sign"><span>RESEND</span></button>
				</div>
			</div>
			<div class="row login-message-row visible">
				<span class="login-message">Success</span>
			</div>
		</div>
	</div>
</section>

<section id="cover" class="invisible"></section>
<section id="cover2" class="invisible"></section>


<div class="loading-pane">
	<img src="/../../static/revamp/img/loading.gif" alt="" class="loading-gif">
</div>

<div class="call-button order-page-call hide-on-large-only"><a href="tel:+91-9555-95-0000"><img src="/../../static/revamp/img/Call.png"></a></div>
<div class="loading-pane-2">
	<img src="/../../static/revamp/img/page_loader.gif" alt="" class="loading-gif">
</div>
<div id="overlay"></div>
<div class="overlay-pat"></div>



<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/../../static/revamp/js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="/../../static/revamp/js/materialize.min.js"></script>
<script src="/../../static/revamp/js/staticpages.js"></script>
<script src="/../../static/revamp/js/login.js"></script>
<script src="/../../static/revamp/js/common.js"></script>
<script src="/../../static/revamp/js/forms.js"></script>
<script src="/../../static/revamp/js/jquery.backstretch.js"></script>
<script src="/../../static/revamp/js/jquery.cycle.lite.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>


<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: https://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 932007205;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/932007205/?guid=ON&amp;script=0"/>
	</div>
</noscript>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-68064927-1', 'auto');
	ga('send', 'pageview');

</script>

<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
	<!--var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
	<!--(function(){-->
		<!--var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
		<!--s1.async=true;-->
		<!--s1.src='https://embed.tawk.to/5687bb1cbc4176802560a8a2/1b4iq4he6';-->
		<!--s1.charset='UTF-8';-->
		<!--s1.setAttribute('crossorigin','*');-->
		<!--s0.parentNode.insertBefore(s1,s0);-->
	<!--})();-->
<!--</script>-->
<!--End of Tawk.to Script-->
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
	window.__lc = window.__lc || {};
	window.__lc.license = 8711666;
	(function() {
		var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
		lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
	})();
</script>
<!-- End of LiveChat code -->


</body>
</html>
